[2020-04-17 06:43] #2360 closed

[2020-04-17 08:13] weiznich commented on #2366
Duplicate of #2262

[2020-04-17 08:13] #2366 closed

[2020-04-17 08:22] weiznich commented on #2365
`batch_execute` does not execute any implicit `BEGIN` or any other custom not user provided sql statement. It basically just passes the user provided sql string down to [`sqlite3_exec`](https://www.sqlite.org/c3ref/exec.html).
My debugging strategy here would trying the following things:
* Try if the block happens without the `batch_execute` call, if so it's a issue in the diesel setup procedure.

[2020-04-17 08:30] weiznich commented on #2341
I'm not sure if introducing a new url scheme is really the right way to go here. For example postgres/libpq has choosen the following way: `postgresql://%2Fvar%2Flib%2Fpostgresql/dbname`, so we should probably go with something similar here.
Beside of that I think specifying username, password and other params should follow the normal pattern `scheme://user:password@host?param1=foo&param2=bar`

[2020-04-17 09:35] p-alik commented on #2341
Thank you for your feedback, @weiznich!

I'm afraid [url](https://docs.rs/url/2.1.1/url/) crate, or underlying specification, doesn't support the syntax for `file` scheme. Even result of `postgresql://%2Fvar%2Flib%2Fpostgresql/dbname` looks strange to me because it interpret `%2Fvar ...` as a host `Some("%2Fvar%2Flib%2Fpostgresql")`.
See https://play.rust-lang.org/?version=stable&mode=debug&editio

[2020-04-17 10:17] weiznich commented on #2341
`Some("%2Fvar%2Flib%2Fpostgresql")` is just the url encoded string for `/var/lib/postgresql`. It seems like it is possible to combine that with the normal `user:password` syntax.
See the following [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b7fb15cd063b4d11b07e433deaeb4560)

[2020-04-17 10:55] p-alik commented on #2341
@weiznich, I meant `"%2Fvar%2Flib%2Fpostgresql"` doesn't look like a valid host representation.
But maybe it is a valid *opaque host* defined in [Hosts (domains and IP addresses) specification](https://url.spec.whatwg.org/#hosts-(domains-and-ip-addresses)). The specification contains an *empty host*.
What do you think about following url `"mysql://user:password@''/var/run/mysqld.sock?database=dbna

[2020-04-17 13:36] llxxbb commented on #2366
@weiznich I‘m not under window sub linux, and installed mysqlclient.lib, the mysqlclient-sys already passed complied. and crashed at the last package that is diesel_cli

[2020-04-17 14:24] weiznich commented on #2366
Please don't ping me directly with such [issues anymore](https://github.com/diesel-rs/diesel/issues/487#issuecomment-614650034). As already stated: It's a problem with your environment so we cannot fix that for you.

[2020-04-17 15:21] godbrain commented on #2366
@llxxbb, can you try these instructions but replace posgres paths with MySQL paths on your system? It's probably about the same.
[dieselinstallonwin10.pdf](https://github.com/diesel-rs/diesel/files/4493756/dieselinstallonwin10.pdf)

[2020-04-17 15:23] #2346 closed

[2020-04-17 21:20] ldaverio commented on #1441
Hmm, unfortunately it no longer works as of today :( I'm new to Rust and Rocket, and I'm stuck. And no, it's not a version conflict. Maybe Rocket is just not production-ready, as the version number implies. A real pity...

[2020-04-17 21:28] weiznich commented on #1441
@ldaverio This issue is closed since over 2 years, because it was fixed back then. If you hit a similar issue again, please open a new issue containing a reproducible example, otherwise we cannot help you.

[2020-04-17 21:33] weiznich commented on #2341
Another possibility would be to just allow setting the path to the socket file via a seperate query parameter: `mysql://user:password@host?unix_socket=/path/to/socket&database=dbname` and just specify/document if that parameter is present the unix socket file is used instead a tcp socket. I think I would prefer this variant.

[2020-04-17 21:34] ldaverio commented on #1441
Thank you for your advice.

I think I'll just give up on Rust and Rocket for now, it doesn't seem to
be production-ready, lots of issues with a documentation, and now this
trait problem which makes no sense. Google is no help, all solution
refer to olf-der versions of Rust, Rocket, etc. and are no longer
applicable today.

If something as simple as talking to Postgres through an ORM is so
fragile,

[2020-04-17 22:11] weiznich commented on #210
Things left to do after merging #2251:

Needed for 2.0:
- [ ] Figure out support for group by in `BoxableExpression`
- [ ] Figure out support for group by in `BoxedSelectStatement`
- [ ] Expose `GroupByDsl` via public API

After 2.0/open for contributions:
- [ ] Support for group by clauses with more than one column
- [ ] `HAVING` clauses

[2020-04-18 06:18] p-alik commented on #2341
The last one looks very good to me also.

[2020-04-18 12:08] llxxbb commented on #2366
@godbrain thanks, I tried but faild.

[2020-04-18 14:05] Ten0 opened #2368 "NonAggregate modifications broke code that doesn't touch aggregation"
We have implemented the following for setting a `Nullable<Timestamptz>` to either null or now dynamically (about 5 months ago):

[code]

This broke as of be0854094c79ae99ba3c893242a4be358ac0b0c5, giving the following error:
[code]

From what I understand, this is not expected breakage as described in #2251.

(By the way if this could instead work with just `Option<now>` that would be much better ^

[2020-04-18 14:15] Ten0 commented on #2368
Doesn't this mean `BoxableExpression` should also be implemented when `T: ValidGrouping<(), IsAggregate = Never>` ?
Is this about using the same trick as we used [here](https://github.com/diesel-rs/diesel/issues/2001#issuecomment-562111021) ?

[2020-04-18 16:33] weiznich commented on #2368
It's explicitly listed as open question there, so I would call that expected behaviour for now. We need to decide how to handle group by clauses in general for `BoxableExpression`. There are several potential solutions here:
- Make `BoxableExpression` generic over the group by clause
- Forbid the usage in queries containing a group by clause
- Restrict `BoxableExpression` to be basically `NonAggre

[2020-04-18 17:42] Ten0 commented on #2368
Oh right I missed that mention on second read because it was not listed in "User impact". Thank you.

I agree it's ok to break stuff, though I would like to underline that I'm currently unaware of an alternate way to achieve what I'm trying to achieve. Is there one I missed, or is this capability gone from diesel from now?

[2020-04-18 17:56] weiznich commented on #2368
The builtin `BoxableExpression` does currently not support this use case. That does not mean you cannot get this working, as you basically can just define your own version on `BoxableExpression` somewhere in your crate if required. There you can easily adjust the trait bounds as required.

As a general note: Master is the branch where development happens. This implies that not everything must work

[2020-04-19 00:36] kgalang commented on #2340
@andrejohansson Hello! I ran into similar issues on my local. I had issues reaching my max amount of connections to my postgres database. My `pg_stat_activity` view looked the same as yours too where I had all these queries to set the encoding to utf-8.

I would look into how many "workers" you're initializing from your `actix-web` server. The actix docs says (https://actix.rs/docs/server/):

So o

[2020-04-19 00:47] andrejohansson commented on #2340
Hello!

You are partly right. I have come a bit further on the issue.

I have, as you said a lot of cpu´s on my system (12 logical cores) and I had a pooling setting of 8 which quickly added up to the max_connections limit.  This explained to me why it "felt" like the system got choked much faster when I ran locally against the db.

But still...even after tweaking these numbers (setting workers to

[2020-04-19 00:48] andrejohansson commented on #2340
@weiznich the above comment might be of interest to you to if you were curious before.
And thank you for your response @kgalang!

[2020-04-19 02:09] kgalang commented on #2340
@andrejohansson thanks for the details!

I wonder if you had a healthcheck somewhere that somehow keeping a connection to your postgres vm endpoint since it would likely not have the logic in place to close the connection.

For a crate like r2d2 or maybe even a separate crate, I guess you can introduce more automatic management. Like querying connections, seeing which "workers" or clients are conn

[2020-04-19 02:27] llxxbb commented on #2366
@weiznich sorry for ping you again, but this time is a good news, I resolved it! The `rustup install` gave me a wrong default target-triple: i686, and I changed it to x86_64, then it works. @godbrain thanks again.

[2020-04-19 15:36] p-alik commented on #2341
@weiznich,

there remain some todo's I'll ask your opinion
* [should query_paris be validated it contains only subset of database and unix_socket?](https://github.com/p-alik/diesel/commit/c3e62e6361f389bc6619bd38deeb161b70940de2#diff-b6ee869b8a4270e9c838e005a930776fR52)
* [how to deal with two database values?](https://github.com/p-alik/diesel/commit/c3e62e6361f389bc6619bd38deeb161b70940de2#diff-b

[2020-04-19 19:52] adamchalmers opened #2369 "Can't update from a boxed query"
## Setup

I've made a minimal example in a new project [here](https://github.com/adamchalmers/dieselproblems/blob/master/src/main.rs).

### Versions

- **Rust:** 1.42
- **Diesel:** 1.4
- **Database:** PostgreSQL
- **Operating System** MacOS

### Feature Flags

- **diesel:** postgres, r2d2

## Problem Description

I can't figure out how to apply several dynamic filters to a query, and then update u

[2020-04-20 08:37] weiznich commented on #2369
As you already pointed out:

We cannot guarantee for `BoxedSelectStatment` that this is true for all cases, as we have no way to access the single clauses at compile time. Therefore using a `BoxedSelectStatement` is not supported as where clause for update statements.

Instead of using a `BoxedSelectStatement` there, you can just [box the update statement](http://docs.diesel.rs/diesel/query_builde

[2020-04-20 08:37] #2369 closed

[2020-04-20 10:32] weiznich commented on #2341
What's the current behaviour here? Does the current implementation allow arbitrary query parameters here? If so we should continue to allow that, if not we should check that it only contains `unix_socket` (Just seen that `database` is part of the path in the old implementation, that should be the case for the new one too.)

As written above: I've just noticed that this can happen. I would just say

[2020-04-20 11:24] p-alik commented on #2341
Current implementation doesn't validate query parameters at all. Hence I'll add a lookup for `unix_socket` only.

OK

Unfortunately passing `localhost` wouldn't work for instance if you'll connect to a `mysqld` running in sandbox, which listen on it's own `unix_socket`. My intention is to set
https://github.com/diesel-rs/diesel/blob/00f7de703aea02659bddad8d168b9fe6d4aee276/diesel/src/mysql/connect

[2020-04-20 13:43] Ten0 commented on #2368
Thank you. I'm currently experimenting with `BoxableExpression` generic over the group by clause (with () as default), though removing the constraint `IsAggregate=No` on `ValidGrouping<()>`, requiring/allowing to specify it when boxing does not seem to require adding that generic type parameter on `BoxableExpression`.

[2020-04-20 14:11] Ten0 opened #2370 "the trait `ValidGrouping<(t::columns::a, t::columns::b)>` is not implemented for `t::columns::b`"
I'm trying to get the following query to run (simplified for issue):

[code]

This broke as of be0854094c79ae99ba3c893242a4be358ac0b0c5, giving the following error:

[code]

I suppose that is due to the fact we are in the middle of a rework of the "GROUP BY" support, but opening this in case this was not expected to break/is easy to fix.

[2020-04-20 14:20] weiznich commented on #2341
localhost is just a placeholder in this case, it should not be really used to connect to the database. So basically internally threat the occurrence of `unix_socket` + some host in such a way that `unix_socket` is `Some` and `host` is `None`.

[2020-04-20 14:24] weiznich commented on #2370
This is currently expected :wink:
We probably will only support group by clauses containing a single column/expression in 2.0 as adding support for the composite case is quite a bit work, but will not require a breaking change.

To add the corresponding comment from the PR for visibility here

Adding this to the diesel 2.1 milestone as it's currently not planed for diesel 2.0. If someone feels lik

[2020-04-20 16:50] Ten0 commented on #2370
For reference: https://github.com/diesel-rs/diesel/pull/2251#discussion_r361623060 (Easier to understand where the complexity is with your initial comment ^^)

In the meantime, I've built a reasonable workaround:
[code]
where you would make one call to `allow_group_by!` per tuple on which you actually need to group by.

Perhaps we could provide this macro within Diesel ?

[2020-04-21 09:03] weiznich commented on #2368
I think that would be a fine solution, as long as the compilation fails if you try to add a `BoxableExpression` to the query containing some `group by` clause, that would make this expression invalid.

[2020-04-21 09:39] weiznich commented on #2370
As this macro is clearly a workaround I'm not happy with adding something like this to diesel, as removing stuff that's in the public API is quite hard (= requires a major version bump). Additionally this is a feature that is not supported yet on already released diesel versions + it is "easily" possible to write the required impls outside of diesel with the new release I would rather not add such

[2020-04-22 11:11] alfonso-eusebio opened #2373 "Deallocation exception when reading MySQL Time columns with "00:00:00" value"
## Setup

### Versions

- **Rust:** 1.42.0
- **Diesel:** 1.4.4
- **Database:** MySQL/MariaDB
- **Operating System** Linux

### Feature Flags

- **diesel:** features = ["mysql", "chrono", "r2d2"]

## Problem Description

Whenever a table row contains a Time value of "00:00:00" the application crashes with a "free(): invalid next size (fast)" error.

### What are you trying to accomplish?

Read Time

[2020-04-22 12:26] weiznich commented on #2373
So I had a quick dive into this and will note my current results below:

* We test exactly [this case](https://github.com/diesel-rs/diesel/blob/be0854094c79ae99ba3c893242a4be358ac0b0c5/diesel/src/mysql/types/date_and_time.rs#L209-L211) and  [tests succeeds at the CI](https://dev.azure.com/diesel-rs/diesel/_build/results?buildId=987&view=logs&j=898255ad-f705-5494-f0f7-685793ef9b54&t=8f733844-0f90-5

[2020-04-22 12:59] alfonso-eusebio commented on #2373
Thanks @weiznich! That was a quick turn around!

It seems like a big difference in behaviour for such similar versions (5.7.29-0ubuntu0.16.04.1 vs 5.7.29-0ubuntu0.18.04.1). I've had a quick look and they both seem to pack the same version of the upstream code: mysql-5.7.29 from 18-Dec-2019. Which makes it even more puzzling.

I'm wondering if the version of support libraries (libc6, liggcc1, etc.)

[2020-04-22 13:47] weiznich commented on #2373
Ok, seems like I've copied the wrong version for 19.04 🤦  The right one is `8.0.19-0ubuntu0.19.10.3`, so this is probably related to same changes regarding to  `libmysqlclient` between 5.8 and 8.0.

[2020-04-22 15:55] alfonso-eusebio commented on #2373
Ah, that makes more sense now. ;-)
Those two versions use version 8.0 of the connector, which I believe is a single C++ code base for C and C++ clients.

[2020-04-22 17:34] weiznich commented on #2373
Would be interesting to know which component exactly contains the issue. Is it caused by diesel or is it a bug in mysqlclient? The next thing I would try is building everything with asan enabled or trying to run the tests inside of valgrind. Any help here would be nice.

[2020-04-23 10:12] weiznich commented on #2373
So I've tried both `asan` and `valgrind`. Compiling and running the corresponding test with `asan` does make the error vanish 😳 .
`valgrind` emits the following output while the test succeeds…
[code]

Another think I've checked is: Did the definition of `MYSQL_TIME` changed between 5.8 and 8.0, but it seems to be the same struct for both version.

[2020-04-23 10:50] alfonso-eusebio commented on #2373
Thanks @weiznich!

That's interesting. While debugging my error I noticed that the `length` member of the MYSQL_BIND structure was set to **48**, while the length of the buffer (vector) was **40**.
I thought that could be due to some alignment artefact, but the fact that the `length` member is supposed to be set by the _mysqlclient library_ made me a bit suspicious.

However, I've been doing some

[2020-04-23 12:13] alfonso-eusebio commented on #2373
I spoke too soon. :-(

As mentioned above, after changing to BoxedQuery the app stopped crashing with the same data that I was testing with before. However, when I changed to a different set of rows (still including a mix of columns with and without midnight values) the app crashed again - this time with "free(): invalid pointer".

Unfortunately, it seems that the context of the row processing and

[2020-04-23 13:57] weiznich commented on #2373
I thought that could be due to some alignment artefact, but the fact that the length member is supposed to be set by the mysqlclient library made me a bit suspicious.

As this seems to be very suspicious I've digged again into the source code of `mysql_time.h` and it's horrifying…
Compare [the definition](https://github.com/mysql/mysql-server/blob/ea7d2e2d16ac03afdd9cb72a972a95981107bf51/include/m

[2020-04-23 14:48] alfonso-eusebio commented on #2373
I only ever use Linux, but I can give it a try on that environment. If the tests are successful on Linux then we'd just need somebody to do the Windows part - perhaps an easy change once we see all the differences between the two versions.

[2020-04-23 15:22] MeKeyCool commented on #1661
Hi ! Any news from diesel v2.0 ?
I am currently writing a table of events. I don't care id or any primary key. I even didn't interface anything in code.

But in my up.sql file i wrote :
[code]
And when i run `diesel database reset`, i got `Diesel only supports tables with primary keys. Table task_status_history has no primary key` message

I am new in rust and with diesel but i just want a tool th

[2020-04-23 15:35] MeKeyCool commented on #1661
I just tested but i have the same problem with a join table (that doesn't need a primary key either)
[code]

[2020-04-23 17:02] weiznich commented on #1661
@MeKeyCool In my opinion using tables without an primary key is normally am anti pattern that should be avoided. There ere specific narrow cases where this is required due to external constrains, but in general a table should have some (composite) primary key. For your example the natural primary key would just be a tuple of all three foreign keys.

For cases where there cannot be a primary key du

[2020-04-24 12:48] alfonso-eusebio commented on #2373
Ok, I think I made a bit of progress on the Linux front (I guess valid for MacOS too).
I've generated a new version of the bindings from version 8.0.19-0ubuntu5 of the library (libmysqlclient21). I wasn't quite sure which options to use, so I've looked at an old revision of mysqlclient_sys to replicate how it was being generated programmatically. This is what I've used:

[code]

I've applied the n

[2020-04-24 14:40] Voodlaz opened #2377 "Error when trying to install diesel_cli with PostgreSQL only"
When I try to install diesel_cli with PostgreSQL using this command `cargo install diesel_cli --no-default-features --features postgres` I get following Error:

`error: linking with link.exe failed: exit code: 1181
  = note: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.25.28610\\bin\\HostX64\\x64\\link.exe" "/NOLOGO" "/NXCOMPAT" "/LIBPATH:C:\\Users\\user\

[2020-04-24 16:54] lucasholder opened #2378 "More verbose errors on diesel migrations?"
Right now the error messages aren't very verbose with PostgreSQL when a migration fails, e.g.:

[code]

It would be helpful to also display line/column position of the error in the file.

[2020-04-24 20:14] weiznich commented on #2377
Duplicate of #2343

[2020-04-24 20:15] #2377 closed

[2020-04-24 20:18] weiznich commented on #2378
It would be nice to have better error messages for migrations, but this is not something where I'm personally interested to invest much time. So don't expect much development from my side here. If someone has a nice idea here please open a PR.

[2020-04-24 20:21] weiznich commented on #2373
Just a quick note about the build errors on the 1.4.x branch: Development normally happens on master. Those warnings/errors are fixed there. Changes are then backported if suitable to the other branch.

[2020-04-27 12:57] alfonso-eusebio commented on #2373
I've now tested my changes against libmysqlclient20 (libmysqlclient20_5.7.29-0ubuntu0.18.04.1) as well, and it seems to be working fine.
Again, this is a limited test, but it appears that the updated bindings are compatible with MySQL 5.7 and 8.0.

[2020-04-27 13:25] weiznich commented on #2373
:+1: Feel free to open WIP PR's at the corresponding locations, so we can talk about specific changes there.

[2020-04-27 19:06] dessalines commented on #1841
Adding `serde_json` to the features didn't fix the issue, it still has errors on `Insertable` and `AsChangeSet`.

[code]

[code]

[2020-04-28 15:07] alfonso-eusebio commented on #2373
Hi @weiznich,

I've opened a PR for the **mysqlclient-sys** part of the fix: sgrif/mysqlclient-sys#24

My understanding is that the PR for **diesel** should wait until that change is committed to mysqlclient-sys and then we can update the dependency on diesel. Please let me know if you think there's a better approach.
As mentioned on the PR, I've run the diesel tests against both MySQL versions, 5

[2020-04-29 10:56] lpil opened #2379 "Precompiled diesel_cli binaries for major operating systems"
Hello! Thank you for this excellent project!

I wish to make use of diesel_cli on machines that are both resource constrained and do not have Rust installed.

Would it be possible to make precompiled binaries availible so they can be downloaded and run without needing to install Rust and compile them ourselves?

Thank you,
Louis

[2020-04-29 11:40] weiznich commented on #2379
In theory this it should be possible to build binaries for all major operation systems. As this should be as easy as possible for us maintains I would like to have this as part of our CI workflow. https://github.com/rust-analyzer/rust-analyzer/blob/master/.github/workflows/release.yaml As we are planing to migrate our CI to github actions anyway sometime soon this should probably be integrated int

[2020-04-29 20:09] p-alik commented on #1882
I used a workaround to build diesel with mariadb
https://stackoverflow.com/questions/61505861/crate-with-diesel-and-mysql-dependencies-no-longer-compiles-against-mariadb-afte

[2020-04-30 07:38] weiznich commented on #2191
Closed by #2325

[2020-04-30 07:38] #2191 closed

[2020-04-30 09:51] Mastermindaxe commented on #1549
Was there any work on this done? Or can someone point me to good examples?
I've written a microservice in Rust and am running into this issue. Any help is appreciated!

[2020-04-30 10:43] Mastermindaxe commented on #2058
I think a guide on testing would be very helpful. Is there any work done on this since posting this issue? I guess this is also related to issue #1549 as it seems there is documentation on testing overall missing. Thanks in advance

[2020-04-30 10:50] WillSquire commented on #2058
@Mastermindaxe I'm not sure about documentation, but I did implement it and have an example of the path I took here: https://github.com/WillSquire/Graphy/blob/master/api/src/db/mod.rs . Not worked on it for perhaps a year though.

[2020-04-30 12:08] pfrenssen commented on #1549
I am doing 2 things:

1. I am using an empty test database which I set using an environment variable. This allows me to test things like counting how many records are in the database without the results being affected by previously existing data.

[code]

    I run the tests like this:

[code]
2. I am using the `begin_test_transaction()` method described above. This starts a transaction which is r

[2020-04-30 12:52] Mastermindaxe commented on #1549
@pfrenssen Thanks for your quick and extensive reply. I'll be looking into it! I just wish there would be an official best practise or sth like it

[2020-04-30 13:05] weiznich commented on #1549
@Mastermindaxe There are two reasons why there exists no official best practice or guide on this topic:

* There is no one fits all use cases solution here. Depending on your actual requirements it may be a good idea to simply create a new database on each test run, use `test_transaction` or something completely different.
* Someone needs to write such a guide. This is quite a lot of work, where a

[2020-04-30 21:30] ralpha opened #2380 "Better error handing with belonging_to for non references"
## Setup
I used the code from: https://docs.diesel.rs/diesel/associations/index.html
[code]
This code works, as it should.
But when changing the line from:
[code]
to (the `&` is removed )
[code]

The compiler gives an error that is very hard to figure out:
[code]
This error is not so useful.
An error like this could be **much** more helpful:
[code]

To find this tiny mistake I had to create a new

[2020-04-30 21:34] weiznich commented on #2380
Error messages are emitted by rustc, not by diesel. That implies we do not have any real control about which error messages are shown to the user. Therefore please elaborate what exactly could be done on diesel side to improve the situation. For suggestions how to improve rustc output please open issues at their repository.

[2020-04-30 21:49] ralpha commented on #2380
I know errors are not an easy issue to solve (if they can at all, without rustc changes).
But if `belonging_to` always expects a reference to an object. You could change:
https://github.com/diesel-rs/diesel/blob/0b7bb3c7775b091ce9e48df748b75f2103d36c43/diesel/src/query_dsl/belonging_to_dsl.rs#L53

to
[code]
I know these changes will trickle back up the chain and might require bigger changes. (but

[2020-04-30 21:52] weiznich commented on #2380
It does already know that it expects a reference, because the only existing impls are such that have a reference type as `T`, so I'm not sure if this would change/improve the error message.

[2020-05-01 07:58] weiznich commented on #2380
Closed as this cannot be fixed on diesel side without loosing current capabilities as pointed out in the comment above.

[2020-05-01 07:58] #2380 closed

[2020-05-01 11:03] weiznich commented on #2341
Fixed by #2372

[2020-05-01 11:03] #2341 closed

[2020-05-01 20:52] CinchBlue commented on #1883
I made this issue just for the tutorial. `diesel` obviously work with PostgreSQL but I just thought I should at least bring up that the tutorial instructions are not 100% successful all the time.

[2020-05-03 10:22] CinchBlue commented on #1883
@weiznich I've managed to get a personal setup with SQLite3 instead. Personally, I think SQLite3 is easier for beginners to get started with since it's a smaller and simpler SQL implementation, though less proper and complete.

On another note, if you'd like, I'd be willing to take the existing resources and write a tutorial based on SQLite3, also including some steps for installation and generati

[2020-05-03 16:00] ThePianoDentist commented on #1517
@dnsco If you dont mind extra-lines/boilerplate and you are using postgresql.

This works for me

[code]

Extra notes:
I was interested in 'partial-bulk-upsert', where null values indicate "Dont update. leave as-is".
However this looks very tricky/effort.

because if you do it in raw SQL, you'll notice it tries the INSERT with the null values (likely to error for un-nullable colums), before anythi

[2020-05-03 17:12] mclytar opened #2382 "Trait `std::ops::Add` not implemented for columns of type `Unsigned<Integer>`"
## Setup

### Versions

- **Rust:** 1.42
- **Diesel:** 1.4.4
- **Database:** MySQL 8.0.17
- **Operating System:** Windows 10

### Feature Flags

- **diesel:** `mysql`

## Problem Description
The trait `std::ops::Add` is not implemented for columns of type `Unsigned<Integer>`.
In particular, the following code compiles correctly:
[code]
while the following does not:
[code]
In particular, the compil

[2020-05-04 08:50] weiznich commented on #2382
Already fixed on master by https://github.com/diesel-rs/diesel/pull/2278

[2020-05-04 08:50] #2382 closed

[2020-05-04 09:46] weiznich commented on #1883
@CinchBlue Any help with the documentation would be welcome. For the sqlite case the possible easiest setup is to just use the `bundled` feature on `diesel_cli` / `libsqlite3-sys` (for diesel itself) to just build `sqlite` as part of `cargo build`. That prevents that you need to worry about dependencies at all.
As a long term goal I would like to remove all other native dependencies (or at least h

[2020-05-04 11:44] samda4 commented on #487
1. download sqlite3.lib file
2. C:\Users\..\.rustup\toolchains\nightly-x86_64-pc-windows-msvc\lib\rustlib\x86_64-pc-windows-msvc\lib\  add sqlite3.lib file this directory

[2020-05-04 19:31] totorigolo opened #2383 "Feature request: optional LIMIT"
This is about a feature that I wished to be present in Diesel.

## What do you want to do, and how do you expect Diesel to support you with that?
In my HTTP API or CLI, I sometimes have an optional limit, and I wished I could just write:
[code]
As of today, we have to use `.into_boxed` and `if` statements, which is quite cumbersome.

## How might this be added to Diesel?
A new function akin to `.l

[2020-05-05 08:30] weiznich commented on #2383
First of all: If diesel chooses to provide such a feature it will only `BoxedSelectStatement`, because normal queries have a statically typed ast, which means you cannot add a clause conditionally.

As such an extension is not provided for any other clause it would be a quite odd addition to diesels API. So either we need to provide a similar API for all clauses or for none.

Additionally such a f

[2020-05-05 21:51] tema3210 commented on #419
Actually, you can do it with IPC.

[2020-05-05 22:48] jcramb commented on #589
Just encountered this where diesel was choking on use of `localhost` in the DATABASE_URL without a good error message, only displaying "Can't connect to local MySQL server through socket '/tmp/mysql.sock' (2)". By randomly fiddling with things I noticed it started working when I changed this to `127.0.0.1` instead. I'm able to connect to the mysql server using another tool, Sqlectron using either

[2020-05-06 05:58] chpatton013 opened #2384 "No mechanism for generic Connection instances"
I might be misunderstanding something, but as far as I can tell I've found an unnecessary limitation in the `Connection` API design. This limitation prevents `Connection` from being used in a generic way, forcing the backend type to be known statically.

Including `Backend` and `TransactionManager` in `Connection` statically (as types) means that you cannot create a generic `Connection` (such as a

[2020-05-06 07:41] weiznich commented on #589
@jcramb There is not much we can do here as we parse the connection string only in such a way that we extract hostname, username, password, database and port. After that everything is passed to libmysqlclient, where this error originates from. So that's not diesel does not support `localhost` but your version of `libmysqlclient` does not support it.

[2020-05-06 08:40] weiznich commented on #2384
# Short answer

Diesel is designed that way, such that `dyn diesel::Connection` is not possible, because we want to have something that allows use to use as much database specific sql extension as we require. From this point of view I will close this issue, as everything works as designed/expected from our point of view.

# Possible workarounds for client applications

* Make the database a compil

[2020-05-06 08:40] #2384 closed

[2020-05-06 15:54] chpatton013 commented on #2384
Thanks for the thorough explanation! Your reasoning makes complete sense. I didn't realize that so much functionality hinged on that static type information.

And thank you for the build-time config suggestion. That's a great option to get me moving forward again.

I don't have the breadth of knowledge of diesel necessary to back this opinion up, but my intuition is that there's a path forward tha

[2020-05-06 21:25] leoyvens opened #2385 "Inserting BigDecimal with scale into Postgres is broken"
## Setup

### Versions

- **Rust:**
1.43

- **Diesel:**
current master, commit 968e7f79c

- **Database:**
Postgres

- **Operating System**
Linux

### Feature Flags

- **diesel:**
postgres, numeric

## Problem Description
First, thanks for continuing to maintain Diesel.

Inserting a BigDecimal as a numeric in Postgres is and probably has always been broken for any number with power of ten > 0 (or s

[2020-05-07 05:43] kdubovikov opened #2386 "Using Queryable without #[macro_use]"
Getting started guide suggests using `extern crate` with `#[macro_use]`. This is no longer necessary since Rust 2018, but the documentation is missing the way to set up the library without `#[macro_use]`. Is this intentional?
I think that I can avoid `#[macro_use]` by using `diesel_derives` crate, but I have not managed to do this correctly. Could someone give me a hint? Should I include it as a d

[2020-05-07 07:41] weiznich commented on #2386
Duplicate of  #1764

[2020-05-07 07:41] #2386 closed

[2020-05-07 08:05] weiznich commented on #2384
In theory something like this can work, but it requires a lot of work to make this working for the function case as you would need to proof at compile time that query implements all required traits for not only one backend, but all backends. Additionally for anything else than `execute` you would need to have trait bounds for the return type for all backends. This quickly leads to a horrific amoun

[2020-05-07 08:09] weiznich commented on #2385
I would be happy to review a PR fixing this, otherwise I do not plan to work on this in foreseeable future by myself.

For a potential fix the provided example should be used as test case. Adding additional test cases would be great.

[2020-05-07 11:31] kdubovikov commented on #1764
@weiznich , you have closed my issue #2386 with the reference to this issue. My apologies for opening a duplicate. This issue seems to be closed, however, there is still no way (at least in the docs) to use diesel without `#[macro_use]`. Should this be reopened, or am I missing something in the docs/examples?

[2020-05-07 11:51] weiznich commented on #1764
@kdubovikov Please take the time to read to whole thread. The latest released diesel version just does not support importing macros without `#[macro_use]` as it's not just a documentation issue, but needs quite a lot of support from the crate offering the macros.

[2020-05-07 12:08] kdubovikov commented on #1764
@weiznich Thanks, I have read it before raising the question. I understand that this is not a documentation issue. The problem is that this ticket was closed without mentioning the final decision:
1. Diesel will support this and it will be implemented. If this is true, I am not sure why this issue should be closed. Is there any other open issue that adds this on the roadmap?
2. Diesel will not sup

[2020-05-07 12:22] weiznich commented on #1764
@kdubovikov As you already figured out from the linked PR's it is already implemented on master, so there is no need to discuss anything else here. Additionally you can see there was no new major release since those PR's where merged, therefore no current diesel release supports this. (Please don't ask for a timeline for the next major release…)

Beside of that: Our issue tracker is a place for us

[2020-05-07 17:30] MerlinDE opened #2387 "!table fails for tables with more than 32 columns"
## Setup

### Versions

- **Rust:** 1.43.0
- **Diesel:** 1.4.4
- **Database:** Postgres 12.2_1
- **Operating System** macOS 10.15.4

### Feature Flags

- **diesel:** postgres

## Problem Description
The !table macro is not able to handle tables with more than 32 columns.

### What are you trying to accomplish?
Create and connect to a schema with 32+ columns.

### What is the expected output?
A suc

[2020-05-07 18:44] weiznich commented on #2387
Duplicate of #2129

[2020-05-07 18:44] #2387 closed

[2020-05-08 02:30] ralpha commented on #2163
It seems like this is (still) not merges with [diesel_cli](https://crates.io/crates/diesel_cli)
As I get:
[code]
And current version is: 1.4.0 From Jan 21, 2019. This issue was created after that date.

Just saying that this would be a nice feature to have.

[2020-05-08 05:42] weiznich commented on #2163
As no release contains the the corresponding fix this is expected behavior. As this is already fixed on master the next non-patch release will contain the feature.

Closed because already fixed with #2179

[2020-05-08 05:42] #2163 closed

[2020-05-08 08:49] l4l commented on #343
As @weiznich pointed out in gitter, it's inconvenient to provide custom types (including enums), so probably the best way to do is via the crates:

[2020-05-08 09:10] #2210 closed

[2020-05-08 11:49] Pzixel opened #2388 "Unsupported JSONB encoding version"
## Setup

### Versions

- **Rust:** rustc 1.43.0 (4fb7144ed 2020-04-20)
- **Diesel:** 1.4.4
- **Database:** Postgres
- **Operating System** Windows 10 (but it's unrelated)

### Feature Flags

- **diesel:** ["postgres", "r2d2", "uuidv07", "serde_json"]

## Problem Description

It's not possible to fetch entity with `jsonb` column from the database. I'd like to share more information but error doesn

[2020-05-08 12:27] weiznich commented on #2388
I've tried to reproduce that locally using postgres 12.2 on ubuntu and I've failed to reproduce the issue with the following code:

[code]

Feel free to provide an updated example on how to reproduce this issue otherwise I will close this now as cannot reproduce.

[2020-05-08 12:27] #2388 closed

[2020-05-08 13:13] Pzixel commented on #2388
The problem was field had `Text` type, not `Jsonb`. Because it's view (not a table) I couldn't get the right macro text from `print-scheme` so I have wrote it manually with typos.

Choosing proper types for columns fixes the issue.

[2020-05-08 17:00] tema3210 opened #2390 "What happened to diesels embed_migrations! ?"
- **Rust: 1.43.1**
- **Diesel: 1.4.0**
- **Database: sqlite in memory**
- **Operating System: Linux 5.3.0**

### Feature Flags

diesel = { version = "1.4.0", features = ["sqlite","mysql","r2d2","chrono"] }

## Problem Description
`EmbedMigrations` derive macro not found, which is called inside on declarative `embed_migrations!` one; function `run` from `embedded_migrations` module is absent.

###

[2020-05-08 17:12] weiznich commented on #2390
Basically a duplicate of #1764.
Importing macros via use statement is not supported on the current releases.

[2020-05-08 17:12] #2390 closed

[2020-05-10 00:51] w93163red opened #2391 "Diesel cannot compile on Windows with i686-windows-msvc"
## Setup

### Versions

- **Rust:**  rustc 1.43.1-stable
- **Diesel:**
- **Database:** sqlite
- **Operating System**: Windows 10 Pro

### Feature Flags

- **diesel:** Please refer the actual output

## Problem Description
When I tried to compile the diesel, it popped out status_buffer_overflow

### What are you trying to accomplish?
Compile diesel

### What is the expected output?
Compile diesel s

[2020-05-10 00:55] lucasholder opened #2392 "Programmatically accessing the `order` of `SelectStatement`?"
I'm trying to write a generic "cursor based pagination" helper for diesel. I'm kind of new to Rust/Diesel so I'm not even sure if what I'm trying to achieve is possible. Basically, I want to extract "cursors" for each rows, which would consist of the columns that were `ORDER BY`.  For example, in `SELECT * FROM users ORDER BY city, id`, the cursor of a row would be its `(city, id)` columns.

I pas

[2020-05-10 07:31] weiznich commented on #2391
Seems like a rustc/linker error, so nothing we can do something about. Try raising this issue in the main rust repo.

[2020-05-10 07:31] #2391 closed

[2020-05-10 13:49] weiznich commented on #2392
First of all this is not really a topic for our issue tracker, as we try to use the issue tracker for tracking bugs and feature requests, not for answering support questions. Therefore I will close this "issue" as it does not really contain something actionable for a potential contributor to work on. The right place to ask such questions are either our gitter channel or or [forum](https://discours

[2020-05-10 13:49] #2392 closed

[2020-05-11 01:55] lucasholder commented on #2392
Thanks, created a topic here: https://discourse.diesel.rs/t/cursor-based-pagination-with-diesel/149

[2020-05-12 10:36] ignatenkobrain opened #2393 "Update dev-dependencies"
Hello,

I'm trying to package diesel for Fedora, but found that many dev-dependencies are outdated. Would it be possible to upgrade them?

Thanks in advance!

https://github.com/diesel-rs/diesel/blob/fe87242595ef70abe9a1f4a745f40d3c7110b1bb/diesel/Cargo.toml#L42-L43

https://github.com/diesel-rs/diesel/blob/master/diesel_cli/Cargo.toml#L43

https://github.com/diesel-rs/diesel/blob/master/diesel_de

[2020-05-12 10:37] ignatenkobrain opened #2394 "Include LICENSE files in all sub-crates"
Hello,

I'm packaging diesel for Fedora and found that most(all?) diesel-related crates on crates.io do not contain LICENSE files. This is solved by either copying LICENSE files into the directories with Cargo.toml or adding symlinks there. I don't know which way you prefer, so did not send PR.

Thanks for cooperation!

[2020-05-12 10:38] weiznich commented on #2393
I'm open to some contribution here, otherwise that's not on top of my todo list now, so feel free to submit corresponding PR's.

[2020-05-12 10:41] weiznich commented on #2394
I'm not a lawyer, but as all relevant crates contain a corresponding entry in their `Cargo.toml` + there is an `LICENSE` in the root folder (which applies for all crates, as they share the same licence) I do not see an issue here.

[2020-05-12 10:41] #2394 closed

[2020-05-12 10:44] ignatenkobrain commented on #2394
@weiznich the Apache-2.0 requires that source is being present along the sources which are stored on crates.io. And the real location from where people get crates is tarballs from crates.io, for example https://crates.io/api/v1/crates/diesel_migrations/1.4.0/download

And such tarball does not contain the license text which is requirement of Apache-2.0.

Do you see any issue with having symlink to

[2020-05-12 11:49] weiznich commented on #2394
I would probably accept a PR changing the current setup. In general I do consider that more to be an crates.io/cargo issue as crates do explicitly say which license they are using.

Instead of symlinking/copying the top-level `LICENSE-APACHE` file I would probably just the [`include` manifest](https://doc.rust-lang.org/cargo/reference/manifest.html#the-exclude-and-include-fields) to include the co

[2020-05-12 11:50] ignatenkobrain commented on #2394
@weiznich include won't work since files are outside of the crate folder…

[2020-05-12 11:50] weiznich commented on #2394
It's a workspace, so I'm not sure if it's "outside" for cargos definition.

[2020-05-12 11:55] ignatenkobrain commented on #2394
@weiznich well, the issue is not with cargo or projects, but licensing weirdness. For example, if you say MIT, but there are over 20 MIT variations over there so you need to actually put proper license file to be clear to users. cargo does as much as it can to require something for being set, but licensing problems are… hard.

Well, anything above Cargo.toml of sub-crate is "outside". Oh yeah, the

[2020-05-14 02:56] zzhengzhuo opened #2396 "JoinOnDsl does not work"
## Setup

### Versions

- **Rust:**1.43.1
- **Diesel:**1.4
- **Database:**mysql5.7
- **Operating System** x86_64-pc-windows-msvc

### Feature Flags

- **diesel:**mysql,r2d2

## Problem Description
[code]

### What are you trying to accomplish?
I try to use JoinOnDsl on x86_64-pc-windows-msvc for mysql.But it doesn't work.

### What is the expected output?
It works.

### What is the actual output?

[2020-05-14 03:17] #2396 closed

[2020-05-14 08:04] ignatenkobrain commented on #2393
I'll try to find time for that.

[2020-05-14 12:53] blkt commented on #1085
Hello @sgrif, is this feature planned? Would you be interested in help with it?

[2020-05-15 10:04] weiznich commented on #1085
@blkt There is currently no concrete plan for this feature, but we would probably accept a well written PR.

[2020-05-15 20:02] theredfish opened #2397 "Diesel initial setup migration comments are unclear or not up-to-date"
## Setup

### Versions

- **Rust:** rustc 1.42.0 (b8cedc004 2020-03-09)
- **Diesel:** 1.4.3
- **Database:** Postgresql
- **Operating System** Ubuntu

### Feature Flags

- **diesel:** postgres

## Problem Description

The migration file `00000000000000_diesel_initial_setup/up.sql` contains a comment explaining that future changes tothis file will be added to existing projects as new migrations :

[

[2020-05-15 20:11] theredfish commented on #2095
I can take this issue if nobody is working on it. I'm interested by these features.
@weiznich / @viniciusd  is it ok?

[2020-05-15 20:36] weiznich commented on #2095
@theredfish Feel free to work on this feature.

[2020-05-15 20:38] weiznich commented on #2397
The sentence "added to existing projects as new migrations" refers to changes to the initial setup migration that diesel will create on it's own for internal reasons. So if we decide to add a new sql helper function or something like that, we will do that as new migration, not by modifying the existing `00000000000000_diesel_initial_setup` one.

[2020-05-15 20:38] #2397 closed

[2020-05-15 21:13] theredfish commented on #2397
Ok thank you !

[2020-05-16 15:49] viniciusd commented on #2095
Go for it @theredfish , I will love to go over it. A lot has happened since then and I couldn't start working at this issue.

[2020-05-17 21:08] lucawen commented on #399
I think, if the collaborators will do this or not, it's the right of community to ask anything, and for devs, give the response or not... But make you wish the rule for all ... I can't even think about that.. questions about this and others features always will exists, and people need know how to speak with people. If will not receiving any money and it's totally from your free time, congratulatio

[2020-05-18 07:52] piyushwadhwani commented on #773
any news or updates on this

[2020-05-18 08:51] weiznich commented on #773
@piyushwadhwani Not from diesels side. We are continue to have the opinion that this should start as third party backend. The only thing that changed here is that there is now at least [one](https://github.com/GiGainfosystems/diesel-oci) working third party backend, showing that it is possible to implement such a thing outside of diesel.

I close this issue as this is not something actionable for

[2020-05-18 08:51] #773 closed

[2020-05-18 13:42] tuxzz commented on #860
I have to add some `std::marker::PhantomData<T>` into my struct. I can't achieve this without this function.

[2020-05-18 13:51] weiznich commented on #860
@tuxzz Just commenting here that you need a certain feature will help that the feature appears in a magical way. You either need to implement all traits manually, which would allow you to do whatever you want there, or sit down and implement that feature for diesel or find a other solution.

[2020-05-18 19:48] jebrosen opened #2402 "bigdecimal version requirement"
`diesel`'s `Cargo.toml` (both `master` and `1.4.x`) supports a somewhat awkward range of versions of `bigdecimal`:

https://github.com/diesel-rs/diesel/blob/45da0109a8b085e4aad629e64c0bb2d17f84c486/diesel/Cargo.toml#L32

Ever since `bigdecimal` `0.1.2` was released on April 26, I have seen a few questions about this because cargo now selects `0.1.2` if a user's `Cargo.toml` has `0.1.0`. It's not o

[2020-05-18 20:16] weiznich commented on #2402
We would be happy to receive a PR for this as long as it is backward compatible with the already accepted version range.

[2020-05-19 10:02] benedictjohannes commented on #2379
The way Diesel define migration in pure SQL statements makes source control of DB schema extremely easy to deploy. One just need to check out SQL files, have the Diesel CLI binary, execute migrations.

However, having to compile Diesel CLI for every system in which it needs to run is a dealbreaker.

(forgive my ignorance) Being a nodeJS/web developer I'm checking whether I can use Diesel CLI to ha

[2020-05-19 10:22] weiznich commented on #2379
It is certainly possible to link all DB client libraries statically. For sqlite this can be done via the [`sqlite-bundled`](https://github.com/diesel-rs/diesel/blob/master/diesel_cli/Cargo.toml#L52) feature. For libpq and libmysqclient some configuration of the corresponding sys crates ([libpq-sys](https://github.com/sgrif/pq-sys), [libmysqlclient-sys](https://github.com/sgrif/mysqlclient-sys)) vi

[2020-05-19 12:06] ip1981 opened #2403 "Making cross joins"
Might be related to https://github.com/diesel-rs/diesel/issues/398.

It turned out (to me) that cross joins are in fact inner joins on "true". PostgreSQL is happy to accept `... INNER JOIN ON true ..` in stead of `... CROSS JOIN ...`. While Diesel does not provide obvious ways to make a cross join, I was able to make on with this:

[code]

### Versions

- **Rust:**
- **Diesel:** 1.4
- **Database:*

[2020-05-19 15:00] weiznich commented on #2403
Diesel comes with a set of commonly used sql operators and provides extensive API's to extend the build in support in your own crate. In my experience is using `CROSS JOIN` something that should be normally avoided because of performance reasons. From that point of view I'm not sure if I would consider that as something that is commonly used. In any case as there is a way to get this behavior usin

[2020-05-19 16:14] lpil commented on #2379
To clarify this is my use-case, I'm working with projects written in Erlang rather than Rust and find Diesel an attractive alternative to Flyway as it requires us to install and run the JVM.

[2020-05-19 16:54] benedictjohannes commented on #2379
@lpil Probably the only part giving away Diesel CLI's power as *not* a migration toolkit is that it requires `Cargo.toml` to operate. I bet this feature can gain traction and will probably benefit both Rust and Diesel in terms of developer recognition.

I tried do dive into Rust toolchain the best that I could, but with setting `target` to linux musl. Diesel CLI freshly cloned from master branch c

[2020-05-20 08:15] weiznich commented on #2379
With https://github.com/diesel-rs/diesel/pull/2069 it does not require a `Cargo.toml` anymore. Using a  `diesel.toml` that optionally configures the migration directory also works now.

I even played around for a few hours on fresh GCP VM with Docker Rust Musl builder image but I still failed to build Diesel CLI for musl. It must be me, as the container image passed tests building Diesel. I believ

[2020-05-20 15:06] alfonso-eusebio commented on #2382
@weiznich Sorry to comment here, but I didn't want to open a new ticket just for the question:

Is there any **workaround** to do this on `Unsigned<Tinyint>` using the current release (v1.4.4)?

Thanks!

[2020-05-20 15:33] weiznich commented on #2382
Not that I'm aware of

[2020-05-21 03:17] woodsmur opened #2404 "using functions when updating records on conflict"
Hi,

I'm wondering if there's a better way to use functions when doing an updating on conflict. Currently, I use `diesel::sql_query`.

[code]

[2020-05-22 08:39] weiznich commented on #1854
Closed by #1884

[2020-05-22 08:39] #1854 closed

[2020-05-22 09:03] weiznich commented on #2404
First of all: Never use `format!()` to construct a sql query. Use `sql_query().bind()` whenever possible to prevent sql injection issues.

Beside of that: Our bug tracker is a place to track bugs and feature requests. It's not a support forum for asking questions like this. Please use our gitter chat (for smaller questions) or our [forum](https://discourse.diesel.rs/) (for larger questions).

Some

[2020-05-22 09:03] #2404 closed

[2020-05-22 13:43] ShahidYousuf commented on #286
Upon encountering the similar error on Ubuntu 16.04, I got it fixed by installing libsqlite3-dev, libpq-dev and libmysqlclient-dev. And it worked like charm.

[2020-05-22 20:30] #2402 closed

[2020-05-23 10:17] ahmad2smile commented on #1397
coming from a Node and .Net with EntityFramework I wasn't even thinking that Code -> Auto Migrations generation would even be a question.

This essentially just make Diesel a Query Build + more or less bash Scripts to Run SQL Files.

I'm sure for actual pros of SQL this would be a happy option but a newbie like me I can't write SQL to the point to manage a Production level entities with complex re

[2020-05-23 11:49] weiznich commented on #1397
@ahmad2smile I'm not sure what you are expecting by commenting on a semi related issue.
Beside of that: As stated above, it is/was an explicit design goal to not have an auto migration feature in diesel itself, so if you need such an feature diesel is probably not the library you want to use.

For anyone else interested in such a feature: I think it may be possible to implement something like this

[2020-05-24 03:50] ralpha commented on #1781
Used the workaround above. If someone will find this in the future.

It is: `diesel::dsl::sql::<diesel::sql_types::BigInt>("count(*)")` Otherwise it will not work. (was missing `::`)

[2020-05-24 11:31] alfonso-eusebio commented on #860
**TL;DR**: I have an initial implementation of something that could address this issue.

I think there are a number of user cases that are fairly common throughout different projects.
Perhaps one of the main underlying reasons is that nobody likes having to create a bunch of different structs to deal with the same "object" (e.g. user, account, etc.)
I believe there are reasons for Diesel separatin

[2020-05-25 22:12] thorlucas opened #2411 "No migration refresh, no ability to force re-run migration."
## Setup

### Versions

- **Rust:**  rustc 1.43.1
- **Diesel:** 1.4.4
- **Database:** sqlite
- **Operating System** macOS Catalina 10.15.4

### Feature Flags

- **diesel:** sqlite

## Problem Description
Diesel refuses to automatically rerun migrations when a migration file is changed. Additionally, there is no way to refresh or force rerun all migrations. Creating a new migration and deleting the

[2020-05-26 08:23] weiznich commented on #2411
First of all: Please do not assume that diesel works like other ORM's you know. In general that's not the case.
Migrations are not meant to be changed afterwards as we cannot answer for the general case what has been changed and how to reapply them. You have several options here:

* Add a new migration and execute it with `diesel migration run`
* Change the last migration and execute it with `dies

[2020-05-26 08:23] #2411 closed

[2020-05-26 09:19] weiznich commented on #860
@alfonso-eusebio As a general note at the top: As pointed out in this comment (https://github.com/diesel-rs/diesel/issues/860#issuecomment-300280659) and this PR (https://github.com/diesel-rs/diesel/pull/1582) we are not interested in having an option to ignore fields for `Queryable` as it breaks the basic contract that `Queryable` (and similar functionality) is a simple direct mapping from result

[2020-05-26 10:35] alfonso-eusebio commented on #860
@weiznich Thanks for the detailed response and all the examples and references. I'll make sure to review in detail and try to find a solution within the available functionality.

My apologies if it seems like I was trying to push on a direction not aligned with the project. I probably misinterpreted your [previous comment](https://github.com/diesel-rs/diesel/issues/860#issuecomment-630196615) abou

[2020-05-26 10:55] lolgesten commented on #860
@weiznich

Can you point me to where this was discussed? #1582 doesn't seem to elaborate what the problems are. I've found this:

Which still leaves me wondering what the problem _actually_ is.

From a high level perspective, `#[derive(Default)]` (or manually implementing `Default`) is idiomatic Rust. And it seems a combo of `Default` + _some way_ to mark that a `Queryable` field should init from

[2020-05-26 12:03] weiznich commented on #860
@alfonso-eusebio There is no need to apologies here. Anyone that comes with a well written proposal as yours is well come to ask questions and propose improvements.

@lolgesten

At least some of the discussion was made in our internal channel. In the end the argument was just: It would change the mapping from obvious to not so obvious (I consider materializing values out of nowhere more nonobvious

[2020-05-27 23:54] ralpha opened #2414 "Error: Number of parameters must be between 0 and 65535"
## Setup
When using `.insert_into(..).values(...)` and the values is a vector with a length larger then `65535` Postgress will trigger the following error: `Error saving coordinates: DatabaseError(UnableToSendCommand, "number of parameters must be between 0 and 65535\n")`
(`coordinates` is the table I want to insert the values to).

When the length is smaller then 65535 everything works fine.

###

[2020-05-28 12:25] weiznich commented on #2414
You are hitting a limitation that is based in the libpq wire-protocol, which is something that is out of control for diesel.
In theory it should be able to break such queries into 2-3 pieces as you mentioned, but in practice I do not see how this could work with our current query builder setup, that basically assumes that you only get one statement per query ast node. If someone figures out how to

[2020-05-28 12:25] #2414 closed

[2020-05-30 05:37] rubdos opened #2417 "Sqlite `STRING` type."
##  Setup

I'm [retrofitting](https://gitlab.com/rubdos/whisperfish/) an existing *Sqlite* database for a free (and open source) mobile application. I prefer to use the *exact* same schema as before, implementing bug-for-bug compatibility.

### Versions

- **Rust:** rustc 1.43.0 (4fb7144ed 2020-04-20)
- **Diesel:** diesel 1.4.0
- **Database:** Sqlite
- **Operating System** Arch Linux, Debian Linux

[2020-05-30 06:41] weiznich commented on #2417
According to the [sqlite documentation](https://www.sqlite.org/datatype3.html) such a type would be seen as numeric internally. I would be open for a change that infers unknown types on sqlite numeric, but we cannot ever infer all the application specific type mappings for sqlite. End the end those can be anything as sqlite does not really have a strong type system.

I'm closing this as won't fix.

[2020-05-30 06:41] #2417 closed

[2020-05-30 16:52] Skarlett opened #2418 "diesel migrations cannot use views"
views are not added into the database by `diesel migration` cli

## Setup
[code]
### Versions

- **Rust:*rustc 1.44.0-nightly (e82734e56 2020-04-11)*
- **Diesel: *1.4.0*
- **Database:*sqlite3 - 3.31.1 2020-01-27 19:55:54 3bfa9cc97da10598521b342961df8f5f68c7388fa117345eeb516eaa837bb4d6*
- **Operating System*Linux archlinux 4.19.122-1-MANJARO #1 SMP Sun May 10 14:02:27 UTC 2020 x86_64 GNU/Linux*

##

[2020-05-30 17:01] #2418 closed

[2020-06-03 08:59] frbimo opened #2419 "Error when migrate using pg_dump-generated .sql file"
## Setup

### Versions

- **Rust:** 1.43.1
- **Diesel:** 1.4.4
- **Database:** postgresql
- **Operating System** ubuntu 18.04

## Problem Description
This is my first time using diesel. I used embed_migrations! on my rust code in /bin to migrate .sql file generated from pg_dump. I copied the content and put into migrations/<ts>_data/up.sql and then run it. Process returned error because of COPY ()

[2020-06-03 10:06] weiznich commented on #2419
First of all a `up.sql` file is never generated by diesel itself (only an empty file is created by `diesel migration generate`). It is expected that the user writes/provides those files.

For your error message: `COPY … FROM stdin;` is designed to be executed via the `psql` command line tool. Diesel cannot support such constructs easily because libpq (the official postgres client library we use be

[2020-06-03 10:06] #2419 closed

[2020-06-04 07:41] weiznich commented on #3
Closed by #2251

[2020-06-04 07:41] #3 closed

[2020-06-04 08:08] weiznich commented on #2373
I've pushed a fix not depending on a update of `mysqlclient-sys` as b4cec806a1d6c984f6510a1710b4759a189a36f8.
If someone is interested in seeing this fixed as part of the current 1.4.x release feel free to submit a backport PR based on this. (Keep in mind that the public `FromSql`/`ToSql` impls for `mysqlclient-sys::MYSQL_TIME` need to be preserved. I think they should internally relay on the impl

[2020-06-04 10:44] alfonso-eusebio commented on #2373
Happy to work on the 1.4.x backport (at least try).

@weiznich When you have a minute, could you explain what you mean with your comment about preserving `FromSql`/`ToSql` impls on the `mysqlclient-sys` version? As far as I can see the fix consist on creating and using a diesel-specific version of `MYSQL_TIME` that's compatible with newer libraries. So we are not touching or using the one from `my

[2020-06-04 11:54] weiznich commented on #2373
@alfonso-eusebio The problem with just applying the same fix as in https://github.com/diesel-rs/diesel/commit/1b0453f2cb814d39fbceb21807c5fb8c4ce9a6cc is that we would remove all `ToSql`/`FromSql` for `mysqlclient-sys::MYSQL_TIME` impls generated [here](https://github.com/diesel-rs/diesel/blob/84c240f379895780662e569aa5080c8a831b4f8f/diesel/src/mysql/types/date_and_time.rs#L14-L50). Those are expo

[2020-06-05 13:31] nabijaczleweli opened #2420 "Dead table! error link"
## Setup

### Versions

- **Diesel:** HEAD (4f642f8fa3e5ef696f150709c88f2d27b0d81bfa), 1.4.4

## Problem Description

`table!` error link "https://docs.diesel.rs/diesel/macro.table.html" is dead.

### What are you trying to accomplish?

Use the error output.

### What is the expected output?

A working link.

### What is the actual output?

https://github.com/diesel-rs/diesel/blob/4f642f8fa3e5ef69

[2020-06-05 13:42] alfonso-eusebio commented on #2373
OK, the good news: I've managed to create a patch for branch 1.4.4 that "seems" to work.

The caveats:

1. The above is based on branch 1.4.4 of a local clone of this repo tested from my own application (the one that made me bump into this issue).
2. I've had to add `#![allow(deprecated, invalid_value)]` to diesel to get it to compile from my project (issues with deprecated `Error::description()`

[2020-06-05 13:44] weiznich commented on #2420
As we restructured the folder structure of the doc web page this is kind of expected. I'm open for contributions to fix this here. In general I'm in favor of not having absolute links as part of the source code to prevent such things from happening again.

[2020-06-05 13:55] weiznich commented on #2373
That's expected as we don't backport fixes for deprecation. It should be fine on 1.31, on newer rust versions the errors are generated as cargo does only suppress lint errors for dependencies from crates.io.

We need to have both, a `FromSql` impl for the new local version of `MYSQL_TIME` to fix the bug, and a impl for the version from `mysqlclient-sys` to remain backward compatible to the old ver

[2020-06-06 03:32] ArtHome12 commented on #286
The same problem on linux mint and VS Code
`$ cargo install diesel_cli --no-default-features --features postgres`
...
`  = note: /usr/bin/ld: cannot find -lpq`
`          collect2: error: ld returned 1 exit status`

But the files exist:
`$ ls /usr/bin/lp*`
`/usr/bin/lp  /usr/bin/lpoptions  /usr/bin/lpq  /usr/bin/lpr  /usr/bin/lprm  /usr/bin/lp_solve  /usr/bin/lpstat`

`$ ls /usr/bin/pg_c*`
`/usr/b

[2020-06-07 05:16] songlinshu opened #2423 "Is there a plan to support MSSQL?"
Hello! Is there a plan to support MSSQL?

[2020-06-07 07:54] weiznich commented on #2423
We do not plan add support for another backend to diesel itself. That said, it is possible to implement support for custom backends outside of diesel. See [diesel-oci](https://github.com/GiGainfosystems/diesel-oci) for example. If someone attempts to implement such a backend we are willing to answer questions about implementation specific problems, but the actual implementation needs to be done by

[2020-06-07 07:54] #2423 closed

[2020-06-07 14:26] cars10 opened #2424 "Specifying a database port in DATABASE_URL does not work for connections on localhost"
## Setup

### Versions

- **Rust:** rustc 1.44
- **Diesel:** 1.4.4
- **Database:** mysql  Ver 15.1 Distrib 10.4.13-MariaDB, for Linux (x86_64) using readline 5.1
- **Operating System:** Arch

### Feature Flags

- **diesel:** features = ["mysql", "chrono"]

## Problem Description

Specifying the database port in `DATABASE_URL` does not work for `localhost`.

### What are you trying to accomplish?

[2020-06-08 08:10] weiznich commented on #2424
We are passing the port correctly to the lower level native [`mysql_real_connect` connection function here](https://github.com/diesel-rs/diesel/blob/84c240f379895780662e569aa5080c8a831b4f8f/diesel/src/mysql/connection/raw.rs#L42-L73). Therefore this seems to be caused by libmysqlclient itself as it tries to be helpful. According the [libmysqlclient documentation here](https://dev.mysql.com/doc/ref

[2020-06-08 08:10] #2424 closed

[2020-06-09 11:42] weiznich commented on #2420
Fixed by adding back the corresponding files + removing the references from source code in https://github.com/diesel-rs/diesel/commit/c5efb42d01c5e3ff0f45b241fe969ea793720f35

[2020-06-09 11:42] #2420 closed

[2020-06-09 11:43] weiznich commented on #2355
I've published diesel_cli 1.4.1 to address this

[2020-06-09 11:43] #2355 closed

[2020-06-09 11:44] weiznich commented on #2337
Fixed with the release of diesel_cli 1.4.1

[2020-06-09 11:44] #2337 closed

[2020-06-09 11:46] #2281 closed

[2020-06-10 06:53] s97712 opened #2430 "Feature request: support where clause for upsert"
Postgresql upsert support where clause, such as below query:
[code]
Consider adding this feature for diesel?

[2020-06-10 07:20] weiznich commented on #2430
We would be happy to accept a PR for this, but at least I do not have any plan to invest much time in this feature anytime soon.

[2020-06-10 11:37] #2373 closed

[2020-06-10 17:47] tomocrafter opened #2431 "MySQL's enum doesn't work on diesel?"
## Setup

### Versions

- **Rust:** 1.44.0
- **Diesel:** 1.4.5
- **Database:** MySQL
- **Operating System** Linux (Ubuntu, CentOS)

### Feature Flags

- **diesel:** mysql

## Problem Description
I ran diesel setup and migration with table that contains enum type on column.
and diesel generated like this:
[code]
But when I try to compile it, rust compiler will fail with following error:
[code]

###

[2020-06-10 18:41] #2431 closed, assigned to nobody

[2020-06-10 23:57] dbrgn opened #2432 "Multiple foreign keys to same table"
## Problem Description

### What are you trying to accomplish?

I have a table with paragliding flights and a table with locations. A flight can have a launch location and a landing location.

[code]

I then tried to create a query that joins the location on the flights to create aggregations (number of launches and landings at a specific location). In pure SQL:

[code]

In Diesel:

[code]

Howeve

[2020-06-11 10:22] weiznich commented on #2432
Your query is nearly correct. It needs to be
[code]

As the documentation has a correct example [here](http://docs.diesel.rs/1.4.x/diesel/query_dsl/trait.JoinOnDsl.html#method.on) and [here](http://docs.diesel.rs/1.4.x/diesel/query_dsl/trait.QueryDsl.html#with-explicit-on-clause) I'm closing this as not an issue.

[2020-06-11 10:22] #2432 closed

[2020-06-11 11:24] dbrgn commented on #2432
Ahh, thank you! I should have re-checked against the docs...

[2020-06-12 09:30] weiznich commented on #2274
I've added a fix for this as part of #2182 in https://github.com/diesel-rs/diesel/pull/2182/commits/9433438fdedcd1274d6455450aed8cc318456ed5

[2020-06-12 19:47] jaredforth opened #2434 "error[E0277]: the trait bound `*const str: diesel::deserialize::FromSql<diesel::sql_types::Array<diesel::sql_types::Text>, diesel::pg::Pg>` is not satisfied"
## Setup

### Versions

- **Rust:**
Running `rustup show` gives:
[code]
- **Diesel:** `1.4.3`
- **Database:** PostgreSQL 12.2
- **Operating System**: Ubuntu 18.04 (Windows Subsystem for Linux)

### Feature Flags

- **diesel:** `{ version = "1.4.3", features = ["postgres"] }`

## Problem Description

### What are you trying to accomplish?

I am trying to call the [`load()`](https://docs.diesel.rs/d

[2020-06-12 21:32] weiznich commented on #2434
Your struct implementing `Queryable` uses a `Option<String>` as 15. field (`images`). This type is not compatible with the `Nullable<Array<Text>>` returned by your query at this position.

[2020-06-12 21:32] #2434 closed

[2020-06-12 21:55] jaredforth commented on #2434
@weiznich I literally just noticed that and was about to close this ticket. Sorry for adding noise to the issue triage here.

[2020-06-13 10:04] weiznich commented on #2132
Closed as cannot reproduce

[2020-06-13 10:04] #2132 closed

[2020-06-13 16:00] Charlie96D commented on #1592
I have this error, I'm using WSL2 and Ubuntu20.04
`  = note: /usr/bin/ld: cannot find -lsqlite3
          /usr/bin/ld: cannot find -lpq
          /usr/bin/ld: cannot find -lmysqlclient
          collect2: error: ld returned 1 exit status

error: aborting due to previous error`

Can you tell me all the packages that I need to install first?

[2020-06-14 16:58] Elrendio opened #2435 "Diesel does not compile with tables of 33 columnes"
## Setup

### Versions

- **Rust:** rustc 1.44.0 (49cae5576 2020-06-01) (stable-x86_64-unknown-linux-gnu (default))
- **Diesel:** master
- **Database:** postgresql
- **Operating System:** ArchLinux

### Feature Flags

- **diesel:** ["postgres", "r2d2", "serde_json", "chrono"]

## Problem Description
Diesel does not compiles with tables of 33 columnes

### What are you trying to accomplish?
I have

[2020-06-14 17:01] Elrendio commented on #2435
MB, just found the feature flag: https://docs.rs/crate/diesel/1.4.5/source/Cargo.toml

[2020-06-14 17:01] #2435 closed

[2020-06-15 00:09] github-actions[bot] opened #2436 "RUSTSEC-2020-0018: crate has been renamed to `block-cipher`"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `block-cipher-trait`                      |
| Version             | `0.6.2`                   |
| URL                 | [https://github.com/RustCrypto/traits/pull/139](https://

[2020-06-16 05:45] tbarusseau opened #2437 "Diesel insists on using older `uuid` crate"
## Setup

### Versions

- **Rust:** rustc 1.46.0-nightly (feb3536eb 2020-06-09)
- **Diesel:** 1.4.5
- **Database:** postgres
- **Operating System:** debian

### Feature Flags

- **diesel:** `features = ["chrono", "postgres", "uuid"]`

## Problem Description

I'm using [uuid](https://crates.io/crates/uuid) as a direct dependency of my project, with version `0.7.4` (the version used to implement var

[2020-06-16 06:54] weiznich commented on #2437
I think you've looked at the `Cargo.toml` file from the master branch, where we changed the supported dependency versions. Have a look at the corresponding [file](https://github.com/diesel-rs/diesel/blob/bec389a1ea329c161fc7a8fb8df8bea29a3432bf/diesel/Cargo.toml#L26-L27) for the last release. Using the `uuidv07` feature enables support for uuid >0.6.
Unfortunately we cannot support all behind one

[2020-06-16 06:54] #2437 closed

[2020-06-16 06:56] tbarusseau commented on #2437
Ah! My mistake was assuming that master was the release branch, indeed... That explains everything (also the fact that I couldn't find the `uuidv07` feature that I saw mentioned in some other discussions).

Thanks a lot for the answer.

[2020-06-18 17:06] Ten0 commented on #1459
Isn't this a duplicate of #2001 ?

[2020-06-19 06:27] weiznich commented on #1459
Yes that's a duplicate of #2001

[2020-06-19 06:27] #1459 closed

[2020-06-20 02:29] Arcovv opened #2439 "Can't find Json sql_type with 1.4.5 tag in MySQL feature."
## Setup

### Versions

- **Rust:** 1.46.0-nightly
- **Diesel:** 1.4.5
- **Database:** MySQL
- **Operating System** MacOS

### Feature Flags

- **diesel:** ["chrono", "mysql", "r2d2", "numeric", "serde_json"]

## Problem Description

[code]

I'm using MySql json type to save data. After `diesel print-schema`, compile will error me that "cannot find type `Json` in this scope".

I found that `sql_ty

[2020-06-20 08:02] weiznich commented on #2439
This is expected behavior as the 1.4.5 release is based on the 1.4.x branch not the master branch.

In general we do not give any estimates when a certain feature will be released, other than "when it's done", as this is a project that is run by volunteers in their free time.

Closed as this is not an issue.

[2020-06-20 08:02] #2439 closed

[2020-06-21 07:41] weiznich commented on #1995
Fixed by #2290

[2020-06-21 07:41] #1995 closed

[2020-06-24 10:32] problame commented on #2348
FWIW, I am using diesel 1.4.5 with uuid 0.8.1  and adding the `uuidv07` feature just fixed the problem for me. Is there a cfg! in diesel 1.4.5 that still uses `uuidv07` ?

[2020-06-25 01:46] zwhitchcox commented on #1811
Just wanted to point out that I would never have found this solution in the gitter channel, but it did help me here!

[2020-06-25 01:47] zwhitchcox commented on #1811
So it seems counterproductive to keep answering the same questions over and over on the gitter channel when you could just answer them once and make them googleable

[2020-06-25 21:33] zwhitchcox commented on #1811
I did not realize that...also I did not comment twice with basically the same message. I would've just added it, but github marks your post as edited, and then people don't know what you edited. So, I could've just deleted the post and reposted it with the added information, but then it sends people multiple notifications, so it seemed preferable to just make another comment.

[2020-06-27 10:40] JohnTitor commented on #2436
This is blocked as bcrypt uses blowfish ^0.4, waiting on https://github.com/Keats/rust-bcrypt/pull/52.

[2020-06-27 11:50] weiznich commented on #2436
We can probably just use any other password hashing crate instead of brcypt in our example application.

[2020-06-28 05:36] emiddleton opened #2442 "Support for AWS RDS DATA API"
## Description
I would like to use diesel to create microservices on AWS lambda, but straight postgresql connections do not scale well.  AWS offers a rest based API[1] that wraps the postgresql/mysql queries and handles scaling the database (Aurora Serverless[2]).  It would be good if diesel supported this interface.  There are is official support for this API through rusoto_rds_data crate[3].  I

[2020-06-28 16:44] the-emerald opened #2444 "SQLite column type REAL is turned into Float instead of Double"
## Setup

### Versions

- **Rust:** 1.44.1
- **Diesel:** 1.4.5
- **Database:** SQLite
- **Operating System:** Ubuntu 18.04.4 LTS x86_64

### Feature Flags

- **diesel:** `sqlite`, `numeric`, `64-column-tables`, `r2d2`

## Problem Description

A column of data type `REAL` in SQLite is translated into a `Float` in the table macro that is used in `schema.rs`. According to [diesel.rs documentation](ht

[2020-06-29 04:33] aramnhammer opened #2445 "diesel::Expression is not implemented for nullable Timestamptz or Interval Postgresql types"
### Versions

- **Rust:** rustc 1.44.0-nightly (7f3df5772 2020-04-16)
- **Diesel:**  diesel 1.4.0
- **Database:** PostgreSQL 12
- **Operating System** Windows 10 Pro

### Feature Flags

- **diesel:** ["postgres", "chrono"]

## Problem Description
Having an issue with `Timestamptz` and `Interval` types where the trait diesel::Expression is not implemented for `Nullable` `Timestamptz` or `Interval`.

[2020-06-29 08:43] #2436 closed

[2020-06-29 08:46] weiznich commented on #2445
Neither `chrono::NaiveTime` is a valid type for `Interval` fields, nor `chrono::NaiveDateTime` is a valid type for `Timestamptz` fields. See the documentation of those sql types for supported type mappings. The error messages are not great, but unfortunately not under our control, otherwise this is expected behavior.

[2020-06-29 08:46] #2445 closed

[2020-06-29 08:57] weiznich commented on #2442
We are not interested in having such a connection implementation in diesel itself, as it is tailored for a specific closed source system and therefore hard to test for contributors. That said diesel is generally designed in such a way that it is possible to implement connections/custom backends as third party crates. (See [diesel-oci](https://github.com/GiGainfosystems/diesel-oci) as an example).

[2020-06-29 08:57] #2442 closed

[2020-06-29 09:00] weiznich commented on #2444
Sqlite's does not really have a static type system at all. Even if a column has `REAL` as type it will happily store a text value for example. Based on this we decided to infer the types for columns on your own based on the type name, roughly following the SQL standard/what postgres does. This leads to the decision that a `Float` column maps to `f32`, but a `Real`/Double` column to `f64` even if t

[2020-06-29 09:00] #2444 closed

[2020-06-29 15:22] Diggsey opened #2446 "`get_result` should return an error if multiple rows are returned"
### Versions

All

## Problem Description

`RunQueryDsl` provides several methods for accessing query results:
- execute (returns number of rows affected)
- load/get_results (returns all rows)
- get_result (returns a single row)
- first (returns the first row)

I expected that `get_result` would return an error if multiple rows are returned (to differentiate it from `first`). However, it seems tha

[2020-06-29 15:32] weiznich commented on #2446
I'm not sure if I would really return an error in this case, is it can sometimes be the desired behavior (thought then you should probably just use `.first` in the first place as it appends `LIMIT 1` to your query.) Adding a note to the documentation sounds definitively like a good idea.
Theoretically we can also generate an error message for the case of an result set for more then one element the

[2020-07-01 00:21] vcombey commented on #1732
I don't understant, the solution proposed in #1738 doesn't work for me. It leads to DatabaseError(__Unknown, "wrong data type: 25, expected 1043")

[2020-07-01 02:17] ralpha opened #2447 "Documentation import incorrect `diesel::expression`"
On the page: https://docs.rs/diesel/1.4.5/diesel/pg/expression/dsl/fn.any.html
It notes:

I tried using the `diesel::expression::any` but this does not exist.
[code]
`use diesel::pg::expression::dsl::any;` does work.

So maybe the documentation has to be updated here.

[2020-07-01 10:16] vcombey commented on #1732
hi, thank you for this issue, it worked with #1738 for me, using WriteTuple. But the code is pure boilerplate if every field of the struct is already ToSql and FromSql. Is someone working on a procedural macro deriving ToSql and FromSql ? I am motivated to do so.

[2020-07-01 13:03] weiznich commented on #1732
@vcombey I'm not aware of someone working on a derive, so feel free to work on something like that. Similar to [diesel-derive-enum](https://github.com/adwhit/diesel-derive-enum) I would prefer to have this as third party crate.

[2020-07-04 18:05] zwhitchcox opened #2450 "[Opinion] Impossible to figure out error messages"
## Setup

### Versions

- **Rust:** rustc 1.46.0-nightly (feb3536eb 2020-06-09)
- **Diesel:** 1.4.4
- **Database:** postgres
- **Operating System** windows

### Feature Flags

- **diesel:**
postgres, r2d2

## Problem Description

Ok, so, I'm just wondering if I'm going down the wrong user path, because I just spent 20 minutes trying to diagnose an error and figured out the code:

[code]

was bugge

[2020-07-04 19:22] weiznich commented on #2450
Unfortunately there is no way to control rustc's error messages, so we cannot just print "we expect an integer" there. Beside of that I do not think that is even possible to give such a concrete error message in this case, the best that can be printed is that `str` does not implement `AsExpression<Integer>` as there are possibly multiple types that are supported in this position. I assume rustc ge

[2020-07-04 19:22] #2450 closed

[2020-07-04 22:14] vladinator1000 commented on #2085
This feels like something that could be a really useful addition to diesel-cli, I've used [something similar](https://knexjs.org/#Seeds-CLI) in Knex.js.

[2020-07-05 07:07] zwhitchcox commented on #2450
Ok, thanks for letting me know. I wasn't sure if there was a solution or not, but was just trying to improve the experience for newcomers, as I was almost like, "I guess I just can't use diesel". But ok, thanks anyway

[2020-07-05 07:16] #1822 closed

[2020-07-05 09:11] weiznich commented on #2085
@vladinator1000 Due to time constraints I do not have any plans to work on that in near future by myself, but I'm open to someone doing the design and implementation work here.

[2020-07-05 09:12] weiznich commented on #2450
I'm not sure how we can improve the situation here for newcomers, as we do not have much control about the error messages. If you have any concrete suggestions feel free to share them.

[2020-07-05 09:34] Mingun commented on #2450
One of possible solutions can be procedural macro where you write SQL code directly and you have full control on error messages

[2020-07-05 09:50] weiznich commented on #2450
@Mingun Feel free to provide such a macro. For me it is clearly out of scope of diesel to implement parsers for all the subtily different SQL dialects out there.

[2020-07-05 18:10] jendakol commented on #1781
The workaround works for me too (v 1.4.5), with `sum` SQL function:
[code]

[2020-07-05 23:04] vladinator1000 commented on #1951
I started making an example project with Actix but got stuck on this compile error
[code]

Has anyone seen this before?

I'm trying to compile this code.

[code]

[2020-07-06 08:37] weiznich commented on #1951
@vladinator1000 Please do not comment totally unrelated error messages to existing issues.

[2020-07-06 10:06] jplatte opened #2451 "First Rust example code on the website is unidiomatic"
The first Rust code example, also available under [examples/postgres/getting_started_step_1](https://github.com/diesel-rs/diesel/blob/master/examples/postgres/getting_started_step_1/src/lib.rs), is using `.ok();` to discard the error case of a `Result`. If ignoring any errors is intentional, that line should be updated from

[code]

to

[code]

Otherwise, the `.ok()` should be replaced by somethin

[2020-07-06 14:08] weiznich commented on #2451
Can you submit a PR changing the corresponding code [here](https://github.com/sgrif/diesel.rs-website/blob/master/source/views/guides/getting-started.html.slim#L244)?

[2020-07-06 14:14] jplatte commented on #2451
@weiznich I don't know what the intended behaviour is. Is it usually fatal if `dotenv()` setup fails or should a failure be ignored?

[2020-07-06 14:20] weiznich commented on #2451
First of all: I'm also not sure what's the intended behavior there, for error cases, as I've not written that code. Beside of that the documentation of [`dotenv`](https://docs.rs/dotenv/0.15.0/dotenv/fn.dotenv.html) uses literally the same code so I would say it's fine.

As far as I understand those snippet it just looks for a file called `.env` and loads it's content as environment variables. As

[2020-07-06 14:52] zwhitchcox commented on #2450
I wish I could be of more assistance, but I'm pretty new to Rust in general. I will keep that in mind though as I progress...it does seem to be a trend that error messages pop up that really aren't very helpful, at least to me, and I end up having to just find an example that works and work backward from there trying to integrate it into my codebase. Maybe this is more of an overall larger problem

[2020-07-06 20:36] tbarusseau commented on #952
Hello! I'm glad to see that this has been addressed, because I had the same question.

Using `.optional`, however, returns `Ok(None)`, which is truthy... But it feels like it shouldn't be, why isn't it `Err(Some(Conflict))` (even though `Conflict` doesn't exist)? Am I missing something?

For reference, this is the code that returns `Ok(None)` when there is a conflict on `nickname` (which is a uniq

[2020-07-06 22:04] jplatte commented on #2451
I guess I need to start with a PR on dotenv then.. Will do that soon.

[2020-07-07 02:54] grandsilence commented on #487
Here is [manual how to build sqlite3.lib](https://gist.github.com/zeljic/d8b542788b225b1bcb5fce169ee28c55)

[2020-07-07 05:58] spease commented on #487
@weiznich Sorry my reply caused such frustration. Note that I hadn't even worked for the company I had been trying to use diesel at for a year. #1775 was a dealbreaker for that use case (processing tens of GB for biopharma research) though there was strong internal inertia for C++ that I doubt any Rust solution could have overcome. Note also that I posted a solution for sqlite in this ticket when

[2020-07-07 08:26] weiznich commented on #2450
So I sat down and tried the example to look for variants to improve the error messages here. For reference I've used the following modified code (just made in compile in a minimal reproducible environment):
[code]

While trying to compile this snippet rustc emits the following error messages:
[code]

So instead of getting a single error message like reported in the OP, we are getting 6 errors here

[2020-07-07 08:31] weiznich commented on #952
@tbarusseau That just mirrors the behavior of the underlying database. We return `Error::NotFound` (which is converted to `Ok(None)` by `.optional()`) only for cases where we get back no error and empty result set from the database. So there is really no way for us detecting that to happen here.

[2020-07-07 08:43] tbarusseau commented on #952
What I don't get specifically is why `Error::NotFound` is returned on conflict, is it because the database actually responds an empty result set (because of the conflict)?

[2020-07-07 08:53] weiznich commented on #952
@tbarusseau Yes, exactly that happens. The database returns an empty result set (likely because of the conflict), diesel turns that as part of the `get_result` implementation into `Err(Error::NotFound)` and `.optional()` then turns this into `Ok(None)`.

[2020-07-07 08:56] tbarusseau commented on #952
I see :) Thanks for the explanation

[2020-07-07 13:40] zwhitchcox commented on #2450
This is fantastic!

I do actually believe this is the ideal solution, and I don't think I could possibly suggest anything better.

Of course, it would be better if it said that it expected an integer directly, but I think that would probably cause other problems, kind of like overfitting the data.

With this solution, it makes much more intuitive sense to me, because I can see that `diesel::Expres

[2020-07-07 19:54] maxcountryman opened #2452 "Cannot `diesel database reset`: "permission denied to create database""
## Setup

### Versions

- **Rust:** v1.46.0
- **Diesel:** { version = "1.4.4", features = ["chrono", "postgres"] }
- **Database:** PostgreSQL 12.3 (installed via Homebrew)
- **Operating System**  macOS Catalina 10.15.4

### Feature Flags

- **diesel:** ["chrono", "postgres"]

## Problem Description

I'm unable to execute `diesel database reset`.

### What are you trying to accomplish?

Drop the da

[2020-07-08 00:57] maxcountryman commented on #2452
It seems my particular issue was the user I defined in my `DATABASE_URL` was not a superuser. (You can correct this with Postgres itself, e.g. via `psql` and this snippet `alter user {your_user} with superuser;`).

[2020-07-08 00:57] #2452 closed

[2020-07-10 01:31] ralpha opened #2453 "Long compile times on many queries"
I have notices that as my project grows and more queries are added the compile time grows a lot (but only the query part takes much much longer).

### Versions

- **Rust:** rustc 1.46.0-nightly
- **Diesel:** 1.4

### Feature Flags

- **diesel:** ["postgres", "r2d2"]

## Problem Description

This is not really a problem, but did not find any other issues that mentioned/addresses this.
As I add more

[2020-07-10 12:26] weiznich commented on #2453
First of all this is not completely unexpected for me. Diesel does a lot of checking by using the type system. That implies that the compiler needs to verify quite a lot of trait bounds for each query. So in the end we are stressing rustc's/rust-analysers trait system component here, it may be worth to report that as performance bug there as well, but I would assume that they require a "minimal re

[2020-07-10 14:18] ralpha commented on #2453
Thanks for the info.
I already had some of the performance improvements in place and will further try to optimize it so I can get the compile time down by a few min. Thanks for the tips above I'll definitely take a look and see what I can change!

[2020-07-11 01:39] wezm opened #2454 "Include @generated in generated schema to help rustfmt skip it"
A feature was [recently merged into `rustfmt` that makes it aware of `@generated`](https://github.com/rust-lang/rustfmt/pull/4296). This is an informal convention that tools can use to recognise generated files. [This issue in the rustfmt repo](https://github.com/rust-lang/rustfmt/issues/3958) discusses other tools that include or recoginse `@generated`. Notably Cargo includes it in a comment at t

[2020-07-12 03:40] wamich commented on #2352
@wslongchen have the same problem, are you fixed now?

[2020-07-13 08:27] weiznich commented on #2453
I'm closing this issue now, as I don't see anything actionable for us here.

[2020-07-13 08:27] #2453 closed

[2020-07-13 23:49] ShaneEverittM opened #2456 "Fulltext index support"
# Versions

- **Rust:**
1.46.0-nightly
- **Diesel:**
1.4.1
- **Database:**
MySQL 8.0.21
- **Operating System**
KDE Neon 5.19

Is there any support for the following syntax:
`SELECT * from table where match(col1, col2) against ("query_term" in boolean mode)`
Or am I stuck using a raw sql query for fulltext searches.

[2020-07-14 01:25] ELD commented on #1186
@weiznich Are you still looking to recruit more reviewers for Diesel? I’d be happy to lend a hand!

[2020-07-14 04:32] sbrocket opened #2457 "Feature Request: Access to (full) Connection in Migration trait"
The diesel::migration::Migration trait only provides access to the more limited SimpleConnection trait. This is all that's needed if you're using the CLI's migrations support and/or using diesel_migrations::embed_migrations() and defining your migrations in SQL scripts.

For a project I'm working on, I anticipate that I will want to perform migrations more complex than can be easily represented in

[2020-07-14 07:27] weiznich commented on #1186
@ELD We are still looking for reviewers. I've sent you an invitation. As written above reviews on any PR's are appreciated. If there is anything unclear about some code just ask and someone will try to explain it. (This also applies to unrelated code).

[2020-07-14 07:31] weiznich commented on #2456
It's not supported by diesel's dsl out of the box, but it is possible to extend diesels query-dsl in such a way to add support for such operations in a third party crate. See [diesel_full_text_search](https://github.com/diesel-rs/diesel_full_text_search/) as an example of such an extension crate.
Additionally as support for postgres fulltext functionality is provided as third party crate, I would

[2020-07-14 07:31] #2456 closed

[2020-07-14 07:41] weiznich commented on #2457
So the problem there is that `diesel-migration` [passes down](https://github.com/diesel-rs/diesel/blob/6242d717cdfb94ee35db50dc5abe8ec2ac238512/diesel/src/migration/mod.rs#L15) the connection used to apply the as `&dyn SimpleConnection` (as trait object). This is turn is required because `diesel_migrations` works internally with `&dyn Migration` to allow mixing different migration types. Just repl

[2020-07-14 16:37] nickodell opened #2459 "Documentation pages for 1.4 have broken source links"
## Problem Description

Links to source code from documentation on 1.4.x pages are broken.

Example:

On [this page](https://docs.diesel.rs/diesel/fn.sql_query.html), click [src]. The link is broken.

[2020-07-14 16:53] JohnTitor commented on #2459
Note that the correct link is https://docs.diesel.rs/1.4.x/diesel/index.html, not https://docs.diesel.rs/diesel/index.html.
Where did you find that link? If something points to it, we could update it to avoid confusion.

[2020-07-14 18:00] nickodell commented on #2459
I googled the search term "rust diesel execute sql." The first hit is https://docs.diesel.rs/diesel/fn.sql_query.html

[2020-07-14 23:45] boustrophedon commented on #2331
Hi,

I'm sorry for not getting back sooner - was busy with interviewing and then took a vacation.

Unfortunately, my new job has a somewhat strict open source policy, so I don't think I'll be able to follow up on this in the near future.

Would you like to keep this issue open or should I close it?

[2020-07-15 01:19] JohnTitor commented on #2459
So, I think we cannot take any action here - the actual docs for 1.4.x work well and diesel.rs points to it correctly. If you have any idea that we can do here, feel free to reach out. Thanks for reporting!

[2020-07-15 01:19] #2459 closed

[2020-07-15 10:19] weiznich commented on #2459
It's fixed now for me

[2020-07-15 10:36] Ran4 opened #2460 "`belonging_to` expected `()`, found `&uuid::Uuid`"
## Setup

### Versions

- **Rust:** rustc 1.46.0-nightly (67100f61e 2020-06-24)
- **Diesel:** 1.45
- **Database:** postgresql 11
- **Operating System** Ubuntu 20.04

### Feature Flags

- **diesel:** `["postgres", "uuidv07"]`

## Problem Description

I have a setup that looks like this:

[code]

Schema.rs:

[code]

I'm trying to get all ApiKeyRight:s that belong to ApiKey:

[code]

Error message:

[2020-07-15 11:30] Ran4 commented on #2460
Thanks, that solved the issue. Is there any examples of how you would do a two-way belonging_to?

E.g. I have an ApiKey, I want all Rights belonging to the ApiKey. I can't do `Right::belonging_to(&api_key)` because the belongs_to is on ApiKeyRight, not Right, and I'm not sure how I would specify a belongs_to on Right that combines both ApiKey and ApiKeyRight?

[2020-07-15 13:09] #2447 closed

[2020-07-15 20:37] CodesInChaos commented on #2141
Caused by https://github.com/diesel-rs/diesel/issues/1535

The workaround is mentioning the referenced columns on the target table explicitly.

broken:

    FOREIGN KEY(user) REFERENCES users

working

    FOREIGN KEY(user) REFERENCES users(id)

*When searching for the problem it took me much longer to find the linked issue than finding this issue. So posting here in case somebody else has the sam

[2020-07-16 14:09] weiznich commented on #2331
For the time being it's fine to keep it open. Maybe someone shows up to finish this work.

[2020-07-16 14:11] weiznich commented on #2460
For `m:n` relations like this one I normally just use a join for the second relation, so something like `ApiKeyRight::belonging_to(&api_key).inner_join(rights::table)`

[2020-07-16 14:20] Ran4 commented on #2460
Wouldn't you have to turn that into a `Vec<(ApiKeyRight, Right)>` instead of just a `Vec<Right>`? Or is there a way to "collect" into just a `Vec<Right>` even if you've joined with another table? I guess I could just pick out a Vec of fields, but then I would have to manually construct the output which would be kind of annoying.

Just trying to figure out the best practise for this type of somewha

[2020-07-16 14:42] weiznich commented on #2460
Correct, the query that I've posted above would yield `Vec<(ApiKeyRight, Right)>`. To only get `Vec<Right>` simply add a select clause like `.select(rights::all_columns)`.

That really depends on what you want to do with the data afterwards. If you try to load for example all rights for all api keys, using the `BelongingTo` API is probably a good idea. If you just want the right for a specific key

[2020-07-17 13:06] ta32 commented on #487
I had some trouble getting diesel to work with windows with sqlite.
In the end this is what i did i think it's probably the simplest for most windows users.

**installed diesel cli**
`cargo install diesel_cli --no-default-features --features "sqlite-bundled"`

follow other instructions on setting up a project ie creating an env file, and running diesel setup.

**use the following dependencies for

[2020-07-18 15:32] Nditah commented on #1592
Fix the issue this way

`
sudo apt-get install libmysqlclient-dev
sudo apt install libpq-dev
sudo apt install libmariadbclient-dev-compat
sudo apt install libsqlite3-dev
`
Then

`
 cargo install diesel_cli
`
It works for ubuntu 18, and 20
cc: @DaveRustvelt @gutsle

[2020-07-19 02:17] sbrocket commented on #2457
Hrm, yeah, that's quite a pickle. I found a way to hack around this limitation by passing the full SqliteConnection to my Migration implementations during creation. https://github.com/sbrocket/like-scrape/commit/fed6bb404feb8d66a151cf7e66d8795cd71eaeea

My usage of Diesel is not very "serious", it's just for a personal project, so that works well enough for my purposes.

[2020-07-19 04:18] kivo360 commented on #210
So ... how will the transition to 2.0 play out?

[2020-07-19 07:59] ShaneEverittM commented on #2456
Makes sense. If I could ask, is the specific match(...) against (...) syntax of mysql too involved to be extended in using diesel_infix_operator?

[2020-07-19 14:10] sify21 opened #2461 "macros in diesel-cli generated source don't have "diesel::" prefix"
In my generated schema.rs, It's not `diesel::table!` like in the examples(https://github.com/diesel-rs/diesel/blob/master/examples/mysql/getting_started_step_1/src/schema.rs), but just `table!` . So I have to `#[macro_use]extern crate diesel` in my lib.rs/main.rs, which is deprecated(https://doc.rust-lang.org/edition-guide/rust-2018/macros/macro-changes.html)

How do I make the macros in generated

[2020-07-19 16:41] weiznich commented on #2461
Duplicate of #1764.
(This is expected behaviour for diesel 1.4.x)
Also you are looking at the examples for the master branch, not for the latest release.)

[2020-07-19 16:41] #2461 closed

[2020-07-20 08:06] weiznich commented on #2456
`match (…) against (…)` likely needs a fully custom query node implementation.

[2020-07-20 08:08] weiznich commented on #210
@kivo360 From the perspective of the diesel team the transition is as simple as: We release 2.0 as soon as it is finished. There will be a changelog stating what has changed in an incompatible way compared to the last 1.x release and everything else is up to the user.

[2020-07-21 02:57] ralpha commented on #2453
After some testing I was able to change some of my macro's and could change the compile time from ~5m 44s to ~2m 45s.
So a reduction of 3min. This is very nice! This was just by adding:
[code]
and some other minor changes that I could make because of this (mostly moving some code out of `match` blocks.)

However I noticed that there was a line in the docs ([source](https://docs.rs/diesel/1.4.5/die

[2020-07-21 08:53] weiznich commented on #2453
Is this still true and if this is possible where can I find more info?

To clarify that a bit: It is totally possible to compile diesel itself with more than one backend enabled, it's hard to write functions accepting connections from different backends in a generic way. Diesel tries to check as much things as possible at compile time, therefore it needs to know the backend at compile time to chec

[2020-07-24 03:56] quickdudley commented on #1894
@sgrif where exactly do I need to put `#[macro_use]`? Have tried all the obvious places but still seeing the error.

[2020-07-24 07:58] dennissivia commented on #1894
@quickdudley If you are talking about using `diesel_migrations::embed_migrations!()`, you can use `macro_use` like this:
[code]
You could also write it in one line like this `#[macro_use] extern crate diesel_migrations;`, but `rustfmt` will complain/correct it to the aforementioned way of writing it.

[2020-07-24 08:50] #2454 closed

[2020-07-25 08:24] ErKiran opened #2465 "Couldn't compile Diesel CLI"
## Setup

### Versions

- **Rust: 1.43.1**
- **Diesel: 1.4.5 **
- **Database: Postgres**
- **Operating System: Ubuntu 18.04**

- **diesel:**

## Couldn't compile Diesel CLI

### cargo install diesel_cli --no-default-features --features postgres

While I tried to install diesel_cli it doesn't compile

### Error Details

  = note: /usr/bin/ld: cannot find -lpq
          collect2: error: ld returned

[2020-07-25 11:52] weiznich commented on #2465
Duplicate of #487

[2020-07-25 11:52] #2465 closed

[2020-07-25 13:45] ErKiran commented on #2465
@weiznich How this issue is Duplicate of #487 .
I am not in Windows and doesn't want to install Sqlite feature.
cargo install diesel_cli --no-default-features --features postgres
I am trying to install postgres features only.

[2020-07-25 13:53] weiznich commented on #2465
The this is a duplicate of #1592.

[2020-07-25 14:35] ErKiran commented on #2465
@weiznich Thanks for #1592 that works.

[2020-07-26 21:19] ropottnik commented on #2430
I'd like to give it a try. Can you assign me?

[2020-07-26 21:26] ropottnik commented on #2430
thanks @JohnTitor

[2020-07-26 22:27] quickdudley commented on #1894
Thanks @dennissivia; I hadn't realised I'd need to use `extern crate` because everything except macros was available without it.

[2020-07-27 01:23] quickdudley opened #2467 "sqlite `Integer` columns associated with wrong rust data type."
## Setup

### Versions

- **Rust:**: 1.43.1
- **Diesel:**: 1.4.1
- **Database:**: sqlite 3.28.0
- **Operating System**: Mac OS X

### Feature Flags

- **diesel:**

## Problem Description

The diesel schema generator associates `Integer` columns with the `diesel::sql_types::Integer` type. The trait implementations for `diesel::deserialize::FromSql` all treat this as representing `i32`, but as per t

[2020-07-27 06:35] weiznich commented on #2467
Duplicate of #852

[2020-07-27 06:35] #2467 closed

[2020-07-27 22:06] SorteKanin opened #2468 "Dynamically add number of OR'ed statements to query"
I'm trying to dynamically add a series of OR'd conditions to my query, and I have no idea how. I hope the (non-working) code below illustrates what I want to achieve (somewhat explained below):

[code]

Basically, I have a number of conditions that I might have to check - if any of the conditions hold, I want the row to be selected, hence I need them all OR'ed together. Problem is, I don't know wh

[2020-07-28 03:21] dessalines commented on #1412
Question, how do I concat the opposite way? IE `'some_text' || my_column` , or `"some_text".concat(my_column)` ?

[2020-07-28 07:49] weiznich commented on #2468
I think the easiest way is to just apply each filter via `.or_filter` to your boxed query instead of storing them into a vector and applying them later.  So your code could look like:
[code]

Otherwise you may want to look at the documentation of [`BoxableExpression`](http://docs.diesel.rs/diesel/expression/trait.BoxableExpression.html) for an unified expression type.

Closed as this is not a bug

[2020-07-28 07:49] #2468 closed

[2020-07-28 07:52] weiznich commented on #1412
@dessalines That's not the place to ask such questions. This is a feature request about extending the support of postgres array operations, not about string concats. Please use our support channels (gitter, forum) for asking question and do not add them as comments to unrelated issues.

[2020-07-28 12:12] frol opened #2469 "How to properly implement HasSqlType::metadata for a custom type?"
## Setup

diesel with diesel-derive-enum (it just helped to uncover the issue)

### Versions

- **Rust**: nightly-2020-05-15 (irrelevant)
- **Diesel**: 1.4.5
- **Database**: PostgreSQL
- **Operating System**: Arch Linux

### Feature Flags

- **diesel**: "postgres", "numeric", "serde_json"

## Problem Description

Working on a project using [`diesel-derive-enum`](https://github.com/adwhit/diesel-de

[2020-07-28 12:21] weiznich commented on #2469
Duplicate of #2071.
The dynamic lookup of the OID is required as OID's of custom types are not stable across different postgres instances. Just using 0 there will cause issues as soon as the exact type is required to be known by postgres. That's the case for example if you try to insert an array of values of your custom type.

[2020-07-28 12:21] #2469 closed

[2020-07-28 15:18] SorteKanin commented on #2468
Thank a lot! I somehow missed `or_filter` in the docs... doh!

[2020-07-28 22:25] ZiiMakc opened #2470 "Diesel cli 1073741515 exit code - missing libpq.dll"
### Versions

- **Rust: 1.45**
- **Diesel_cli: 1.4.1**
- **Database: postgresql 12**
- **Operating System: windows 10**

### Feature Flags

- **diesel: postgresql**

## Problem Description
When i run diesel setup i get error in command promt about missing libpq.dll, what can be a problem if file exist and path is ok?

User and System path variables:
`PQ_LIB_DIR: C:\Program Files\PostgreSQL\12\lib`

[2020-07-29 06:26] weiznich commented on #2470
Duplicate of #587

[2020-07-29 06:26] #2470 closed

[2020-07-29 08:54] ZiiMakc commented on #2470
@weiznich it's didn't help :(

[2020-07-29 09:24] ZiiMakc commented on #2470
Resolver issue, you need to edit environment variables and edit variable Path, adding C:\Program Files\PostgreSQL\12\lib and C:\Program Files\PostgreSQL\12\bin

[2020-07-29 09:33] ZiiMakc opened #2471 "diesel setup doesn't work in powershell 7"
## Setup

### Versions

- **Operating System: windows 10**

## Problem Description

If i run `diesel setup` in powershell 7 nothing happens, but same works fine in command promt. What can be an issue?

## Checklist

- [v] I have already looked over the [issue tracker](https://github.com/diesel-rs/diesel/issues) for similar issues.
- [v] This issue can be reproduced on Rust's stable channel. (Your

[2020-07-29 09:43] weiznich commented on #2471
Duplicate of #2015.
Please try to search the issue tracker first for duplicated issues before you open a new issue. The check mark is there for an reason.

[2020-07-29 09:43] #2471 closed

[2020-07-29 15:19] cbzehner opened #2472 "Unable to create table named "user""
## Setup

### Versions

- **Rust:** rustc 1.43.1 (8d69840ab 2020-05-04)
- **Diesel:** 1.4.4
- **Database:** postgres (PostgreSQL) 12.3
- **Operating System** macOS 10.15.5

### Feature Flags

- **diesel:** { version = "1.4.4", features = ["postgres"] }

## Problem Description

Creating a table with the name `user` results in an error with no actionable result `Failed with: syntax error at or near

[2020-07-29 15:20] cbzehner commented on #2472
Please let me know if I missed something or have a syntax error. This struck me as particularly odd, so I'm looking forward to finding out what the cause might be 😁

[2020-07-29 15:38] weiznich commented on #2472
Seems like "user" is a reserved keyword in postgresql. You need to explicit quote your table names in such cases, so the following migration works fine:
[code]

Closed as this is not a diesel issue.

[2020-07-29 15:38] #2472 closed

[2020-07-31 14:06] Pzixel opened #2473 "Add an option to panic if relation does not exist"
In my current setup when I'm querying a database for a relation that doesn't exist I get a comprehensive error:

OTOH when I'm querying it via diesel it's happy to return me 0 rows.
It's quite important to me to know if relation is empty or doesn't exist at all.

I'd like to have an option to have some signal of query failing because if this. Panic is good enough for me although someone could argu

[2020-07-31 14:51] weiznich commented on #2473
Please provide a complete reproducable example, otherwise this issue is not actionable and will be closed.

[2020-07-31 15:06] Pzixel commented on #2473
Hmm, it seems that it actually behave this way. I found what could be a real culprit in this behaviour. Sorry for bothering.

[2020-08-01 17:37] dctremblay opened #2474 "How to prevent with/without primary key redundant model structs?"
### versions

- **Rust:** 1.44.1
- **Diesel:** 1.4.4
- **Database:** PostgreSQL
- **Operating System** Kubuntu 20.04

### problem

The only way I have found seems to be redundant and it would like a way that prevent duplicated code like this :

[code]

### expected output

I guess that there is a way to achieve this kind of stuff :

[code]

or else :

[code]

Thank you very much

[2020-08-01 20:50] weiznich commented on #2474
Basically a duplicate of https://github.com/diesel-rs/diesel/issues/1440.
See [this reddit thread](https://old.reddit.com/r/programming/comments/hpzqvt/rust_is_surprisingly_good_as_a_server_language/fxv3rfl/) for more details on the reasoning.

[2020-08-01 20:50] #2474 closed

[2020-08-03 22:21] rainyday opened #2475 "How to use table name different from the default?"
How can I manually specify a table name for a Queryable item? I've looked around the documentation and github and it looks like this feature was added a few years ago in https://github.com/diesel-rs/diesel/pull/1233? Unfortunately, I'm unable to find any documentation on how to actually use this feature.
## Checklist

- [x] I have already looked over the [issue tracker](https://github.com/diesel-r

[2020-08-04 06:38] weiznich commented on #2475
`Queryable` is not related to an table in any way. `Queryable` is a trait that maps the results of an query to a user provided type, where a query does not necessarily contain exactly one table. Therefore there is no way to "use a different table name" as this does not even make sense for what `Queryable` stand for.

Closed as not an issue.

[2020-08-04 06:38] #2475 closed

[2020-08-04 15:18] slhmy commented on #843
no use for me :sad:

[2020-08-04 20:52] rainyday commented on #2475
@weiznich Ok, let me rephrase using the getting started example:

Given these contents of models.rs:

[code]

Diesel generates this schema.rs

[code]

My question is: how is the table name `posts` determined and how can I configure it to be something else instead?

[2020-08-05 09:24] alexislozano opened #2476 "Type of query and multiple connection types"
## Setup

### Versions

- **Rust:** rustc 1.46.0-nightly (346aec9b0 2020-07-11)
- **Diesel:** 1.4.3
- **Database:** Postgres & Sqlite
- **Operating System:** Linux

### Feature Flags

- **diesel:** ["postgres", "sqlite", "chrono", "uuid"]

## Acknowledgement

First of all, thanks for Diesel, it is a really good lib !

## Problem Description

I created an enum modeling a connection to a Postgres da

[2020-08-05 09:45] weiznich commented on #2476
The short answer here is: Diesel is not really designed to be used in cases where you want to change the used database backend at run time. It is explicitly not our goal to hide differences between database backend behind some sort of abstraction. You will run into issues here and as this is not a design goal non of this is documented. The probably easiest way to get something like this working is

[2020-08-05 09:45] #2476 closed

[2020-08-06 20:37] miiila opened #2477 "Cannot use embedded_migrations with rocket DbConn"
## Setup

### Versions

- **Rust:** 1.46.0-nightly
- **Diesel:** 1.4.4
- **Database:** Postgres
- **Operating System** MacOS

### Feature Flags

- **diesel:**

## Problem Description

### What are you trying to accomplish?
I want to run embedded migrations macro together with Rocket way of handling db connection (https://api.rocket.rs/v0.4/rocket_contrib/databases/index.html).

### What is the exp

[2020-08-07 08:05] weiznich commented on #2477
As this involves a `rocket` provided `Connection` type I cannot see how this is related to diesel. If `rocket` decided to provide a wrapper type around our connection types it's their responsibility to implement the traits required by `diesel`. Or to word it differently: To fix that we would need to depend on `rocket` end implement the corresponding trait for their types, which is not possible bec

[2020-08-07 08:05] #2477 closed

[2020-08-07 09:10] miiila commented on #2477
@weiznich Thanks for the explanation, I was wondering where should I post this and decided to start here, especially as it looks like it is related to migration. If I am reading the error message correctly, it complains about the `db::embedded_migrations::diesel::r2d2::PooledConnection` type that cannot be dereferenced (if I am talking nonsense, bear with me, I am still learning Rust domain :-)).

[2020-08-07 09:19] weiznich commented on #2477
The error message mentions some function like type that seems to coming from rocket itself. So rustc bascially complains here that you cannot dereference a reference to a function. (As I do not use rocket by myself I'm not sure what this type represents and where it is comming from. It's probably generated by the `#[database("postgres")]` proc macro attribute there.

As for calling `embedded_migra

[2020-08-07 09:30] miiila commented on #2477
@weiznich Thank you very much for the explanation, makes sense.

[2020-08-07 21:53] #2274 closed

[2020-08-07 21:53] #2161 closed

[2020-08-08 00:07] Bajix commented on #399
Perhaps one way in which anyone working with diesel can accomplish full async today would be to use SQLx and Diesel along side each other. In this scenario, diesel would exclusively be used as a query builder and the actual query itself would be passed into SQLx as a `&str` and then the structs would have traits for both so presumably it should just work and fit nicely side by side. I'm sure there

[2020-08-08 07:23] weiznich commented on #399
@Bajix In my opinion that is not as "easy" and straightforward as you suggest. Just passing a `&str` to `SQLx` only works for very simple queries. As soon as you include some user provided value in your query you need to handle bind params, which would require some sort of prepared statement support (which is not exposed by `SQLx`)  or requires to convert diesels internal bind value representation

[2020-08-08 19:06] apiraino commented on #399
@weiznich speaking of other approaches, do you have an opinion on [tokio-diesel](https://github.com/mehcode/tokio-diesel)? By just looking at the example and the test it looks interesting (but I am missing the contet to say more)

[2020-08-10 07:51] Ten0 opened #2480 "Diesel takes forever to compile with 32-column-tables as of #2182"
## Setup

### Versions

- **Rust:** latest stable  (1.45.2)
- **Diesel:** latest master  (8d3c955b)
- **Database:**
- **Operating System:** ArchLinux

### Feature Flags

- **diesel:** /

## Problem Description
As of 8d3c955b (#2182), diesel takes forever to compile when default features are enabled.

### What are you trying to accomplish?
[code]

### What is the expected output?
*Compiles successf

[2020-08-10 08:41] weiznich commented on #2480
Technically that's a closed because cannot reproduce. I can successful compile diesel with default features, so I "achieved" your "expected output" section. 😜
Jokes beside: Yes compiling diesel with default features takes to much time and that's unexpected for me.
Using only the default `16-column` variant let me build diesel from scratch in 39 seconds, while using the `32-columns` variant takes 1

[2020-08-10 09:23] weiznich commented on #2480
Additional notes:
As this is related to the tuple size till where diesel implements built-in traits it's likely caused by some impl in [this file](https://github.com/diesel-rs/diesel/blob/8d3c955b244351aa5ec1af34d2c91b669d25269c/diesel/src/type_impls/tuples.rs). @Ten0 It would be great if you can have a look there and just start remove some of the impl's to see which impl exactly is causing this e

[2020-08-10 12:41] weiznich commented on #2480
I've used rustc's profiling infrastructure to see where the time is spend.
The following output is for the `32-columns` feature:
[code]
This is from building without the `32-columns` feature:
[code]

Both times the output for passes where > 10% of the time is spend. So it seems like for the `32-columns` feature the time is more or less completely spend inside of the `specialization_graph_of` pass.

[2020-08-10 13:02] weiznich commented on #2480
Ok I think I've found the problem. Removing [this](https://github.com/diesel-rs/diesel/blob/8d3c955b244351aa5ec1af34d2c91b669d25269c/diesel/src/type_impls/tuples.rs#L399-L405) impl will bring the compile times back to a reasonable level. That's obviously no solution that we can merge, but at least we know what's the cause of this. Next steps:
* Extract a minimal reproducible problem based on this

[2020-08-10 15:05] Bernd-L opened #2481 "The repository homepage-link should point to a https-origin, but doesn't"
On the [diesel repository page](https://github.com/diesel-rs/diesel) the link points to <http://diesel.rs/>, but it should point to <https://diesel.rs/>.

![image](https://user-images.githubusercontent.com/18219148/89797624-6bfc6080-db2b-11ea-81c2-780efeb09596.png)

Not a big deal, but I thought it was worth mentioning 🤷

[2020-08-10 16:01] bugproof commented on #487
I think this shouldn't be closed until there is a real fix for this, even something simple like adding windows instructions to the docs. Setting environment variables like PQ_LIB_DIR.

[2020-08-10 22:24] dilakv opened #2482 "[issue] Cargo install diesel_cli in Windows 10"
## Setup

### Versions

- **Rust:  1.45.0 (5c1f21c3b 2020-07-13)**
- **Diesel: 1.4.5**
- **Database: MySQL**
- **Operating System: Windows 10 x64 [18363.959]**

### Feature Flags

- **diesel:**

## Problem Description

I did try to follow the guide "Getting Started" (http://diesel.rs/guides/getting-started/)
I did have some problems to run

`cargo install diesel_cli`, but after install some .lib f

[2020-08-11 03:43] dilakv commented on #2482
After several hours trying different approaches i finally did get it.

I did access to this route on my computer:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Auxiliary\Build`

Here have been listed different files with `.bat` extension. I did execute many of these, but with `vcvars32.bat`, finally did works.

I hope this helps someone.

[2020-08-11 03:43] #2482 closed

[2020-08-11 06:05] dsluo commented on #2481
This is because the repository page doesn't force https. See #1073.

[2020-08-11 07:26] Bernd-L commented on #2481
Why does it force http? Furthermore, if someone, for some reason *really* wants http, then they could still remove the s from their address bar.

Https has long become the default and is what most users expect. I think it's wrong to assume that people want http instead of the more secure variant.

Official links in the documentation should always point to https.
And so should the one in the descri

[2020-08-11 08:50] dsluo commented on #2481
It doesn't force http. It just doesn't force either http or https.

[2020-08-11 10:22] #2481 closed

[2020-08-11 10:23] weiznich commented on #487
@bugproof As already mentioned multiple times: We won't add OS specific instructions because we don't have the resources to keep them up to date. Other than that: Feel free to submit improvements [here](https://github.com/sgrif/diesel.rs-website/)

[2020-08-11 10:28] weiznich commented on #399
@apiraino `tokio-diesel` does "just" use a threadpool to run the database queries on. So that's no real async but only that variant of async that you can already use with diesel and any other runtime today, by just doing something like `runtime::block_(||/*Some diesel ops*/)

[2020-08-11 11:23] bugproof commented on #487
@weiznich

I think one or two OS specific notes won't hurt anyone. IMO Getting started should be straightforward, not running into errors and googling for solutions.

[2020-08-11 11:28] weiznich commented on #487
@bugproof Discussing the same thing again and again won't change my decision here. I cannot keep that up to date, I cannot maintain OS specific instructions. If someone volunteers in doing so feel free to do that, but I won't. Especially Instructions for windows are hard to maintain for me as I do not have access to a windows machine and there are to many variants to install dependencies to list a

[2020-08-12 19:54] btv opened #2483 "cargo updating diesel to use uuid 0.8.1"
## Setup

### Versions

- **Rust:**: 1.45.2
- **Diesel:**: 1.4.5
- **Database:** Postgres11
- **Operating System**: Arch Linux

### Feature Flags

- **diesel:**`{ version = "^1.4", features = ["postgres", "r2d2", "uuidv07", "chrono", "network-address", "serde_json"] }`
- **uuid:** `{ version= ">=0.7.0, <0.8", features=["serde", "v4"] }`

## Problem Description
When running `cargo update`, even wit

[2020-08-12 21:59] Bajix opened #2484 "Documentation Recommendation: Exporting a types prelude"
See [diesel-derive-enum/issues/53](https://github.com/adwhit/diesel-derive-enum/issues/53)

[2020-08-13 14:49] bnjjj commented on #2480
I have the same issue, cannot compile on my macbook pro :( Looks like it hangs forever. I'm sad lol

[2020-08-13 21:40] yujiri8 commented on #210
I see there's [a `grouped_by` feature added now](https://docs.rs/diesel/1.4.5/diesel/associations/trait.GroupedBy.html#tymethod.grouped_by), but it seems like it loads all the data from the DB. I want to select one column from a parent table along with the number of records in a child table belonging to each record in the parent table. Is there a way to do just that, and not load the content of al

[2020-08-14 07:56] weiznich commented on #2480
@bnjjj Please elaborate what you want to tell us with your comment. Otherwise please do not comment: "Happens for me too" on random issues, as this does not add something to the discussion there.

[2020-08-14 07:57] weiznich commented on #210
@yujiri8 Our issue tracker is not a place to ask questions. This is especially true for existing tracking issues for new features. Please use our forum or the gitter channel for such questions.

[2020-08-14 08:01] bnjjj commented on #2480
Oh ok sorry my bad, I just confirm that on my macbook pro when I upgrade to the latest version of Diesel as the title of this issue mention here the compile time is very very long.

[2020-08-14 08:10] weiznich commented on #2483
Cargo pulls in the latest available version by default. That's nothing under what diesel can control. We support both `uuid 0.7` and `uuid 0.8`. To force cargo into choosing `uuid 0.7` you can use `cargo update -p "uuid:0.8.1" --precise=0.7.4`

[2020-08-14 08:10] #2483 closed

[2020-08-14 14:33] btv commented on #2483
Thank you for the comment and for showing how to do a cargo update to avoid this issue, I do appreciate the hand holding. Quick question, in your response you say that you support uuid 0.8, but my situation above doesn't seem to reflect that. If uuid 0.8 compiled without an error I wouldn't have opened a ticket. Is that statement based on the future v2 release? Is there another package feature lik

[2020-08-14 22:19] weiznich commented on #2483
[Diesel 1.4.5 already supports uuid 0.8.x](https://github.com/diesel-rs/diesel/blob/1.4.x/diesel/Cargo.toml#L27) behind the `uuidv07` feature flag. Diesel 2.0 will just cleanup the feature flags in such a way that we drop support for uuid versions < 0.7. In fact your `cargo tree` output already shows `uuid 0.8.1` as direct dependency of diesel, so I do not understand what you actually request here

[2020-08-15 00:19] ethindp commented on #2094
I am suffering this same issue. I am using VCPKG and openssl is installed.
[code]
VCPKG package listing:
[code]

[2020-08-15 11:38] weiznich commented on #2094
@ethindp That error message is telling you that some dependencies from libpq are not satisfies. As I don't know where your libpq version is coming from or what is included in your libpq installation I cannot help you any further there beside telling you: You need to find a way to satisfy those dependencies. Maybe check the documentation of your libpq installation? Maybe it's the wrong version for

[2020-08-15 19:40] emmanueltouzery commented on #771
I hit that issue now and went with the last_insert_rowid approach, here's my code if that'll help anybody:

[code]

[2020-08-17 08:02] #2480 closed

[2020-08-17 13:24] weiznich commented on #2008
We won't reexport dependencies. See #1669 for some reasoning.

[2020-08-17 13:24] #2008 closed

[2020-08-19 21:29] btv commented on #2483
Thank you again for the explanation. Your `cargo update -p "uuid:0.8.1" --precise=0.7.4` command is what's working for me. I still need to figure out why my application isn't following the same version requirements in cargo. But, to your point, that's not diesel's problem; that's mine.

[2020-08-23 21:32] sgrif commented on #399
@GopherJ If you're interested in helping us add support, feel free to come work with us on adding support. But your comment reeks of entitlement and is not welcome here.

[2020-08-24 06:53] thedrow commented on #399
I think that if there's enough value to do this (and judging by the fact that SQLAlchemy just did, there is) there will be enough companies and people willing to donate money to this effort so we can hire one of the maintainers to do it.

How about we reopen this issue and attach it to bountysource or some other issue hunting service?
At some point, we'll raise enough money. I'm willing to donate

[2020-08-24 13:17] yerke commented on #786
@sgrif Hi. Thank you for creating and maintaining Diesel. Do you think you will have time to finish this soon? I do understand that MySQL is not a priority, but it would be nice to have some clarity on whether this will be solved. Thank you.

[2020-08-24 14:27] p-alik commented on #786
@sgrif, if no one works on this issue yet, I'm willing to take over.

[2020-08-25 01:04] Dolphindalt opened #2489 "Feature Request: MySQL Update on duplicate key"
MySQL insert on duplicate key support such as the following query:
[code]
I could take a shot at implementing this feature if it should be a feature of diesel.

[2020-08-25 03:44] joshuaclayton opened #2490 "grouped_by doesn't seem to consistently honor foreign keys"
## Setup

### Versions

- **Rust:** stable 1.45.0
- **Diesel:** 1.4.4
- **Database:** sqlite
- **Operating System** macOS

### Feature Flags

- **diesel:** `sqlite`

## Problem Description

Calling `grouped_by` for structs with multiple `belongs_to` doesn't seem to pick up the foreign keys correctly; more specifically, `belonging_to` returns the correct data, but using `grouped_by` when a table ha

[2020-08-26 03:02] joshuaclayton commented on #2490
As it turns out, I was wrong on a number of counts – firstly, it's not `grouped_by`, and is in fact the `belonging_to` that's not behaving the way I expected.

I also able to get it to work by using an explicit `inner_join` on the appropriate table rather than use `belonging_to`. I'm not sure if *that* is a bug, or if `belonging_to` can only infer if there's a single `belongs_to(Parent)`.

[2020-08-30 02:54] s97712 opened #2492 "Feature request: add an `optional` expression method for build conditional queries."
Consider the following usage:
[code]
When the keyword is `None`, the where clause will be `where true or true`, when keyword is `Some("%keyword%")`,  the where clause will be `where title like '%keyword%' or summary like '%keyword%'`.
That will be make it easier to build conditional queries.

[2020-09-01 10:15] weiznich commented on #399
As this issue currently shows up in quite a few post as argument that diesel won't implement async I want to clarify a few things.

First of all: We won't stop anyone working on a async diesel API. If someone is interested in that at least I will try to find some time for mentoring and code review there. That said: For me the async interface is not that important because I likely will not require

[2020-09-01 10:33] mehcode commented on #399
@weiznich For async closures you need something like this:

https://github.com/launchbadge/sqlx/blob/67099d993c5c9eb575ca530c0c94c9a9066c1ebd/sqlx-core/src/pool/options.rs#L145-L152

Its not the most ergonomic thing to use. But it does work. It seems the problem in your linked issue was that we didn't fix that function (but we have others that take async closures that do work).

[2020-09-01 11:08] lolgesten commented on #399
@weiznich @mehcode and it's possible to do a blanket impl to accept both `async fn` and async closures.

https://github.com/algesten/hreq/blob/master/src/server/handler.rs#L44-L62

[2020-09-01 11:46] sgrif commented on #399
The issue is not that we don't know how to write the impl, it's that
compiler bugs regarding projection through associated types prevent
closures from being passed in

On Tue, Sep 1, 2020 at 5:09 AM Martin Algesten <notifications@github.com>
wrote:

--

Thanks,
Siân Griffin

[2020-09-01 22:46] ugifractal commented on #2232
thanks for the &pool.get()

[2020-09-02 07:28] mehcode commented on #399
@lolgesten That impl looks nice and simple but my guess is it would explode in Diesel and SQLx because when you have something as generic as the database-agnostic trait setup that's present in both, we start getting into areas of Rust that are really broken / unfinished.

@sgrif, What we (SQLx) have works with closures and through an HRTB and associated types:

[code]

The primary issue is that's

[2020-09-02 08:10] ChristianYeah opened #2493 "database connection url encoding"
I tried to connect to the test server with / in the password, the connection string like, ```mysql://user:abc/BDE@127.0.0.1:3306/db```

this will raise error like
[code]

I tried to use percent-encoding like  ```mysql://user:abc%2FBDE@127.0.0.1:3306/db```

however, this causes connection failed, error code 1045, (using password: YES)

I tried the username & password in DataGrip, it works as normal

[2020-09-02 08:33] p-alik commented on #2493
I guess that's an issue for underlying [url](https://docs.rs/url/2.1.1/url/) crate.
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b2612afaf1d6d782dd79766461e15636

[2020-09-02 09:07] ChristianYeah commented on #2493
In case of I percent-encoded the password, and at the mean time, despite the urlsplit problem, I believe it's the problem from aiomysql as well. The password from site-packages/databases/core.py:412 returns unquoted password(as I've already encoded), the aiomysql connect method won't unquote the password as well, and it passes the quoted password directly.

[2020-09-03 12:23] p-alik opened #2494 "diesel_cli Mysql tests would fail on database url with query parameters"
I'll just raise attention to the situation around diesel_cli MySQL tests. There is no issue at all yet.
By working on #2491 a CI test [run](https://github.com/p-alik/diesel/runs/1056278014?check_suite_focus=true#step:22:154) in an issue because for the purpose of testing I [appended](https://github.com/p-alik/diesel/commit/65aaeaab4180ecbe75803f95a29796551390ead3#diff-e9f950f17198d3d5e3122a44230a0

[2020-09-04 20:20] JimLynchCodes commented on #1662
@ddimaria the "rust driver" is just a library for querying a mongo database with rust functions.

Diesel provides more things such as migrations that I would like to use with mongo as well.

[2020-09-05 21:33] sunnyseeds opened #2496 "pgAdmin 4 issue"
I'm using pgAdmin 4 and whenever I try run diesel setup I get the following error:

Creating database: test_diesel
authentication method 10 not supported

[2020-09-06 10:47] p-alik commented on #2496
That's no issue for this repository. See https://www.postgresql-archive.org/pgadmin4-2-0-and-Scram-td5987040.html

[2020-09-06 13:58] sunnyseeds commented on #2496
Thanks for your reply and for providing the link but I'm still unable to connect with diesel.
I'm able to connect with deadpool_postgres automatically without changing anything but whenever I use diesel I get the error above.

[2020-09-07 09:23] whizsid opened #2497 "within `MysqlConnection`, the trait `Sync` is not implemented for `NonNull<mysqlclient_sys::st_mysql>`"
# Setup

I want to share my mysql connection across multiple `tokio` threads using `diesel::r2d2` module.

[code]

### Versions

- **Rust:** rustc 1.48.0-nightly (73dc675b9 2020-09-06)
- **Diesel:** 1.4.5
- **Database:** mysql
- **Operating System** Arch Linux

### Feature Flags

- **diesel:** mysql, chrono, r2d2

### What is the expected output?

Share my MysqlConnection across tokio async thread

[2020-09-07 09:30] weiznich commented on #2497
Database connections are fundamentally not `Sync`. Therefore that's not possible. You may want to share the pool itself across the async boundary.

Closed as everything works as expected.

[2020-09-07 09:30] #2497 closed

[2020-09-07 09:34] weiznich commented on #2496
That's definitively a configuration issue on postgres side, so nothing actionable for our issue tracker. Therefore I'm closing this issue now.
Feel free to use our gitter channel to ask for help, but please provide all necessary information.

[2020-09-07 09:34] #2496 closed

[2020-09-07 09:39] weiznich commented on #2492
It's not clear for me what's the advantage of this approach over the following already supported approach:

[code]

In contrast to the proposed approach this generates exactly the query you specify and does not introduce some place holder statements on sql side.

I'm closing this issue as it is not clear for me what are the advantages of this approach + it is definitively possible to implement as

[2020-09-07 09:39] #2492 closed

[2020-09-07 09:39] weiznich commented on #2489
A well written PR would be welcome.

[2020-09-07 09:42] weiznich commented on #1662
@JimLynchCodes To make that clear: Diesel is designed to be used with relational, sql based, databases. MongoDB is no relational database, therefore we won't support it.

[2020-09-07 16:23] toxeus opened #2498 "implement FromSql and ToSql traits for url::URL"
Hi there, I'm currently migrating from `rusqlite` to `diesel`. I've noticed that there are no implementations of `FromSql` and `ToSql` for [`url::Url`](https://crates.io/crates/url). I wanted to find out if you would merge a PR implementing those traits?

[2020-09-07 16:32] TaKO8Ki commented on #2307
@weiznich @Darth-Revan
Can I take over this PR #2317?

[2020-09-07 20:13] whizsid commented on #2497
@weiznich  I could reproduce it. But figured it out. I have used the same db connection after called an async function. We need to create a new database connection after an each async function called.

***Wrong***
[code]

***Solution***
[code]

[2020-09-08 09:53] weiznich commented on #2498
In general your policy for the implementation of `FromSql` / `ToSql` for certain types in diesel is something like the three following questions:

*  Is this a commonly used type. (Maybe, not sure about this one)
*  Could we provide a `FromSql` and a `ToSql` implementation for that type. (In this case Yes)
*  Could the conversion go somehow wrong because the sql type or the rust type could hold va

[2020-09-08 09:53] #2498 closed

[2020-09-08 09:54] weiznich commented on #2307
@TaKO8Ki Sure

[2020-09-08 09:57] weiznich commented on #2493
As explained in the url crate issue that's how urls work, therefore I'm closing this issue as won't fix.

[2020-09-08 09:57] #2493 closed

[2020-09-08 10:35] toxeus commented on #2498
Thank you @weiznich for your precise answer :+1: I'd like to address the points you have listed.

It is a very commonly used type. The stats linked from crates.io I have provided above show that clearly. In fact, the url crate is by a factor of 18 more popular than diesel.

Yes, these are actually quite trivial.

This is a criterion that doesn't seem to apply to existing implementations, e.g. the

[2020-09-08 10:48] weiznich commented on #2498
This question does not (only) refer to the fact how commonly used a certain type is used in the rust ecosystem but also how commonly you want to use such a type in a database. For me date/time types fullfill the definition of commonly used, while the usage `Url` types is dependent from a database point of view.

`NaiveDateTime` and `NaiveDate` are supported because they are special in our opinion.

[2020-09-08 11:04] toxeus commented on #2498
fair enough :man_shrugging:

[2020-09-08 11:56] #2178 closed

[2020-09-08 18:00] toxeus opened #2501 "raw identifier's prefix not dropped when matching column names"
### Problem Description

Using a `QueryableByName` struct with raw identifiers will end up using the `r#` raw identifier prefix when matching the column name.

### What are you trying to accomplish?

I'm trying to populate a struct by using `sql_query()` on a column which name is a reserved rust keyword. Therefore, a raw identifier is used in the struct: `r#type`.

### What is the expected output?

[2020-09-09 07:33] weiznich commented on #2501
So I've rechecked the documentation of [`QueryableByName`](https://docs.diesel.rs/1.4.x/diesel/deserialize/trait.QueryableByName.html#deriving) here. It states the following:

Which means there is a way to specify the name of the column explicitly.

I'm closing this issue now as this is "fixed" in my opinion. Having seperate rules for raw identifiers don't seem like a good idea for me. Using the p

[2020-09-09 07:33] #2501 closed

[2020-09-10 07:49] indrajitsinh opened #2503 "Use SQLx (https://github.com/launchbadge/sqlx) under the hood or allow support as conditional feature"
Hi, I would like to thank you all of the contributors for this amazing library

Please I am a very beginner in rust and diesel so apologies if I am suggesting something that architecturally not possible etc.. (I don't have that much knowledge of diesel internals)

**What I am suggesting?**
Diesel should use  SQLx (https://github.com/launchbadge/sqlx) under the hood or add support as a feature

**W

[2020-09-10 10:23] weiznich commented on #2503
Just to clarify a few things:

While it's true that those drivers are pure rust with zero unsafe code, they do not handle all the edge cases in the underlying database protocols. Also at least their MySQL` driver is for a factor of 2-5 slower than that one provided by mysqlclient.
Migrating to some pure rust driver is definitely something that would be interesting for diesel, but such a driver sho

[2020-09-10 10:23] #2503 closed

[2020-09-11 08:04] #2430 closed

[2020-09-11 08:52] weiznich commented on #399
@lolgesten and @mehcode Thanks for your suggestions. Here are the corresponding playgrounds: [Boxed](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a553357c704f9aad718a76317e9c8b6e), [Handler](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ccb1b25330b77266e7a50b41e9e41b82).

The approach suggested by @mehcode Technically works but let me cite @sg

[2020-09-11 12:26] #2307 closed

[2020-09-12 13:17] yihuang opened #2505 "No support for txid_snapshot data type of postgresql"

[2020-09-13 14:07] weiznich commented on #2505
Closed because issue does not contain any information that could be used to reproduce it.

[2020-09-13 14:07] #2505 closed

[2020-09-14 00:20] kaminsod opened #2506 "Specifying schema name for model."
How can I specify the schema name of a table? I have a postgresql schema 'asdf' and a table 'wub' in this schema:

diesel:

[code]

sql:

[code]

schema.rs:

[code]

Then:

[code]

Gives error: `'asdf.wub' is not a valid identifier`

And:

[code]

Gives error: `use of undeclared type or module 'wub'`

[2020-09-14 00:52] liuspatt commented on #1608
For windows install https://downloads.mysql.com/archives/c-c/
set
`setx MYSQLCLIENT_LIB_DIR "C:\Program Files\MySQL\MySQL Connector C 6.1\lib\vs14"`
run
`cargo install diesel_cli --no-default-features --features mysql`

[2020-09-14 01:05] megametres commented on #700
Hello,
I am also having Segmentation fault within docker.
Using the following Dockerfile
`FROM rustlang/rust:nightly-alpine

RUN apk add postgresql-dev mariadb-dev sqlite-dev musl-dev gdb
RUN cargo install diesel_cli --no-default-features --features postgres

ARG USERNAME=rust
ARG USER_UID=1000
ARG USER_GID=$USER_UID
RUN addgroup --gid $USER_GID $USERNAME && adduser --uid $USER_UID --ingroup "$USE

[2020-09-14 01:27] megametres commented on #700
So I tried using the rustlang/rust:nightly-buster image and I have no more segfault. So it seems to be related to alpine...

[2020-09-14 02:28] yihuang commented on #2505
Added exact script to reproduce it now.

[2020-09-14 04:01] kaminsod commented on #2506
I figured it out, have to import the table definition from schema:

[code]

[2020-09-14 04:01] #2506 closed

[2020-09-14 08:34] weiznich commented on #2505
We do not plan to provide support for this type out of the box, therefore this issue remains closed as everything works as indented. If you want to add support for this type on your own as third party crate, have a look at the custom types draft guide in this repository.

[2020-09-14 08:38] weiznich commented on #700
@megametres Can you try if that reproduces with the latest 1.4.5 release, as this release fixes a potential issue with in the postgres connection setup?

[2020-09-15 01:28] megametres commented on #700
I figured out that the Cargo.toml provided in my example is never used apart to let the diesel_cli start as it required a Cargo.toml file to exists. The error is generated by diesel_cli which last version is 1.41

But on my personal project, I use the 1.4.5 release and still had the segmentation fault when using Alpine based docker images.

[2020-09-15 15:33] weiznich commented on #2490
As documented in multiple places: The field order for structs deriving `Queryable` is important. (See for example [here](http://docs.diesel.rs/1.4.x/diesel/deserialize/trait.Queryable.html#deriving))

If I fix the `Transaction` struct in your example to the correct order, your test case works fine.

[code]

Closed as this is not a bug in diesel itself.

[2020-09-15 15:33] #2490 closed

[2020-09-15 19:40] jiuneypachevitch commented on #330
This solution solves my issue! Thanks!!

[2020-09-15 21:05] camlorn commented on #852
I want to propose reopening this.  While it is true that most applications using sqlite won't ever have 4 billion rows in a table at a time, sqlite's autoincrement algorithm can and will generate integers above the i32 limit.  This means that if you end up with around 2 billion inserts to a table, you'll end up over the i32 limit and something will happen.  It would be nice to at least clarify wha

[2020-09-16 08:33] weiznich commented on #852
@camlorn As it is simple to change the corresponding field type in the autogenerated schema later I do not see any reason to change the behavior here. Additionally the CLI tool provides multiple ways to automate such changes for future schema changes, so I really do not see why we should break a lot of already existing code to fix a "special" case.

[2020-09-16 09:44] lnicola commented on #852
Nb. I'm the one who filed this issue.

I've come to think that this is actually a bug in `diesel`: if the SQLite docs say that `INTEGER PRIMARY KEY` is `Integer64`, that's what `diesel print-schema` should output and `Integer32` is incorrect. It may seem like a special case, but it's a special case in the SQLite specification, not in `diesel`.

As for the use cases for SQLite and whether they need

[2020-09-16 10:02] tobx commented on #852
As @camlorn said, a silent failure in a production system would be a good reason to fix this case. I think not everyone should be forced to understand such detail of the ORM just to be sure to run a production system that will not randomly break after a month or a year.

To avoid breaking code maybe for now the system could just print out a big warning for this case?

[2020-09-16 10:30] weiznich commented on #852
First of all the type mapping support from diesel for sqlite has been that what we as diesel maintainers have defined by ourself as being reasonable since diesel supports sqlite. That's because in the end types do not really matter for sqlite. From a theoretical point of view we as developer cannot assume that a column defined as `Integer` in sqlite will actually contain numbers, as sqlite happy a

[2020-09-16 11:19] lnicola commented on #852
That's a fair reason. Pre-emptively (since others will probably point them out anyway), you can use some heuristics:

 - look in `sqlite_sequence` for a sequence with the same name as the table
 - look for `primary key autoincrement` in the table's `sqlite_master` entry

Neither of them is perfect (e.g. first one breaks when you rename the table or if it's never had any data), but they would proba

[2020-09-16 11:51] weiznich commented on #852
Just for the sake of completeness:

As already noted that works only for tables that already have entries. I would say that this assumption is not true for a significant amount of tables that are generated via `diesel migration run` + where schema.rs is generated directly afterwards (by `diesel migration run` for example). Therefore this approach is not acceptable, as it would break on a relativel

[2020-09-16 15:06] camlorn commented on #852
For anyone else who finds this later and who wants to use schema inference, the solution appears to be as follows:

Create a `sqlite_mapping.rs` containing the following:

[code]

Then, in your print-schema, add `--import-types mycrate::sqlite_mapping::*`.  I'm typing this off memory, sorry if there's typos.

If it's obvious, I missed where it's documented.  There's a couple offhand mentions of `-

[2020-09-16 15:21] weiznich commented on #852
To call that out at least once explicitly: This will change the mapping for all `Integer` columns in your database to `i64`, not only the `PRIMARY KEY AUTOINCREMENT` ones. Depending on your use case this can be fine or not...

As for the location where options to manipulate the generated schema are documented like this are documented, have a look at [this](diesel.rs/guides/configuring-diesel-cli/)

[2020-09-16 23:14] 3NdR1m commented on #2418
May I ask why this issue was closed? This problem is still present today and arguably diminish the ability to interact with a database.

[2020-09-17 03:57] brownjohnf commented on #2066
I know this is an old issue, but I can't for the life of me figure out how to make this work. I've got the following code (simplified):

[code]

I get the following error when compiling:

[code]

I've tried everything I can think of, but I don't understand what the error is saying and what I need to do to fix it.

[2020-09-17 08:12] weiznich commented on #2418
@3NdR1m Because it's a duplicate of #43.

[2020-09-17 08:13] weiznich commented on #2066
@brownjohnf It's just that this issue is fixed on master, but that there was no major release since then, so there is no release that contains this fix.

[2020-09-17 08:51] TaKO8Ki commented on #1186
Hi, I'm interested in reviewing PRs as well!!

[2020-09-17 10:24] weiznich commented on #1186
@TaKO8Ki I've sent you a invitation. Feel free to review any open still active PR. Also do not hesitate to ask any question about how some code works as part of your review (even if not related to the specific PR). We will try to answer that as good as possible.

[2020-09-18 15:58] Yuhanun opened #2508 "Compilation fails due to missing libpq.lib"
## Setup

### Versions

- **Rust:**
rustup --version
rustup 1.22.1 (b01adbbc3 2020-07-08)
- **Diesel:**
[code]
C:\prog\concrete-suite\backend>cargo run
   Compiling rest-backend v0.1.0 (C:\prog\concrete-suite\backend\rest-backend)
error: linking with `link.exe` failed: exit code: 1181
  |
  = note: "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.26.28801\\bi

[2020-09-19 16:53] GopherJ commented on #2352
Having similar problem while compiling from linux to macos:

[code]

[2020-09-19 17:06] GopherJ opened #2510 "cross compile from linux to macos failed because of libpq.so, libsqlite3.so...."
## Setup

### Versions

- **Rust:** rustc 1.40.0 (73528e339 2019-12-16)
- **Diesel:** latest
- **Database:** postgres
- **Operating System** linux mint 18.04

### Feature Flags

- **diesel:** default

## Problem Description

### What are you trying to accomplish?

cross compile diesel from linux to macos

### What is the expected output?
success

### What is the actual output?

fail

### Are you s

[2020-09-19 17:07] GopherJ commented on #2510
Have any one tried to cross compile diesel?

[2020-09-19 17:13] camlorn commented on #852
I'm not saying that I have a problem with the diesel developers, only that the justification here seems weak and the usability much less than ideal.  Not having the resources and developing something for free are indeed good reasons to not do something, but the justification here seems to be that manually maintaining these is fine, and if it's a resource issue then in general I'd have expected som

[2020-09-20 06:58] weiznich commented on #2510
Duplicate of #2352

[2020-09-20 06:58] #2510 closed

[2020-09-20 18:49] GopherJ commented on #2510
@weiznich I know it's duplicated, but is there a potential solution for this? diesel is not async and is now not able to be cross compiled, what shall we do? supporting sqlx-rs and write sql manually?

[2020-09-21 09:23] weiznich commented on #2510
@GopherJ I consider open knowingly duplicate issues as offensive action against the maintainers of this crate. It's rude to just request that something will get magically solved that's in the end just a problem with your environment (as already written in the duplicated issue). In the future: please spend some time on reading and understanding error messages and already existing bug reports on sim

[2020-09-21 09:25] weiznich commented on #2508
Duplicate of https://github.com/diesel-rs/diesel/issues/587 + nightly is not a officially supported target.

[2020-09-21 09:25] #2508 closed

[2020-09-21 09:26] #2172 closed

[2020-09-22 18:35] zdenek-crha opened #2513 "SQlite database 'is' and 'is not' operators are missing"
### Versions

- **Rust:**  1.40
- **Diesel:** 1.4.5
- **Database:** SQLite
- **Operating System** GNU/Linux (Debian)

### Feature Flags

- **diesel:**  [ "sqlite" ]

## Problem Description

The sqlite operators `is` and `is not` are not available in expression dsl.

### What are you trying to accomplish?

I have a database with two nullable columns which both hold uuid (last uuid seen on remote an

[2020-09-23 08:44] weiznich commented on #2513
As a official supported workaround you can just use [`diesel_infix_operator!`](http://docs.diesel.rs/1.4.x/diesel/macro.diesel_infix_operator.html) to define your own version of this operators.
Given that workaround this issue is for me not high priority, which means I would happily accept a PR adding support for this features as long as it is well written, but I will not work on support for this

[2020-09-23 08:46] #1399 closed

[2020-09-23 13:15] zdenek-crha commented on #2513
@weiznich Thanks for pointing me to the `diesel_infix_operator!`, I will give it a try.

[2020-09-24 05:47] TaKO8Ki commented on #1659
@sgrif
Since only the flags `--except-tables` and `--only-tables` use the argument `table-name`, isn't it correct behavior to be ignored when `table-name` is used without those flags?
I think the problem is that it doesn't cause an error when the table corresponding to the argument `table-name` does not exist.

[2020-09-24 12:08] starccy commented on #2489
If I am not mistaken, there is already such a feature:
[code]

[2020-09-24 12:17] weiznich commented on #2489
@starccy That's only available for sqlite and postgres yet. Mysql did not support this at the time of implementing this feature.

[2020-09-25 00:02] Fransferdy commented on #2373
Wow, I am writing a CPP mysql client library, and this thread saved me days of frustration, thank you guys!

[2020-09-25 04:08] Werner1201 opened #2516 "Link.exe failed to exit"
## Setup

### Versions

- **Rust:1.46.0:**
- **Diesel:1.4.5**
- **Postgres:**
- **Windows**

### Feature Flags

- **diesel: postgres**

## Problem Description

### What are you trying to accomplish?
Compile the diesel-cli

### What is the expected output?
the compiling is complete and the program running

### What is the actual output?
error: linking with `link.exe` failed: exit code: 1181
  |
  =

[2020-09-25 04:10] Werner1201 commented on #2516
I've already looked into the issues and none of the solutions solved my issue, this is my last resort.

[2020-09-25 04:27] Werner1201 commented on #2516
Closing, I tried some other suggestions on other issues and I found out I needed to rename to libpq.lib (something like that)

[2020-09-25 04:27] #2516 closed

[2020-09-26 16:27] staninprague opened #2517 "Postgresql error context (where) information is missing, please consider including 'W' context error field."
### Feature Flags

postgresql

## Problem Description

Error reporting with ```diesel::result::Error::DatabaseError``` is missing context information for postgresql. This makes it harder to troubleshoot where database error happens.

### What are you trying to accomplish?

E.g. I have a before delete trigger that calls a function that has more fields in ```INSERT INTO (fields...)``` than SELECT th

[2020-09-26 17:50] marioidival opened #2518 "diesel cli setup do nothing"
## Setup

### Versions

- **Rust:** 1.46.0
- **Diesel:** 1.4
- **Database:** PostgreSQL
- **Operating System** Windows

### Feature Flags

- **diesel:** ["postgres","uuidv07", "r2d2", "chrono"]

## Problem Description
I do the command diesel setup on already database created and nothing happens, no errors, no success.
,
### What are you trying to accomplish?
Do migrations path or another setup (I

[2020-09-26 18:56] marioidival commented on #2518
As a windows user, I need add lib and bin path of postgresql on PATH env.

[2020-09-26 18:56] #2518 closed

[2020-09-27 09:44] xiaolitongxue666 opened #2519 "could not compile `diesel_cli` in windows"
I had install pg4

Here is my terminal shows:
error: aborting due to previous error

error: failed to compile `diesel_cli v1.4.1`, intermediate artifacts can be found at `C:\Users\Administrator\AppData\Local\Temp\cargo-installNyNjHG`

Caused by:
  could not compile `diesel_cli`.

Caused by:
  process didn't exit successfully: `rustc --crate-name diesel 'C:\Users\Administrator\.cargo\registry\src\g

[2020-09-27 18:08] TaKO8Ki commented on #2517
In https://github.com/diesel-rs/diesel/pull/1572, `wg` tried to solve a similar problem. However, it isn't completed.

[2020-09-27 18:42] staninprague commented on #2517
Suggested 'P' returns a string with a decimal integer of error position in the SQL.

Actually for the kind of error that is described in this issue, it returns as None.

I commented on the issue you mentioned. Hopefully the fact that 'P' contains a string with a decimal integer value may help to move with the awaiting PR/merge.

Though I'd still believe that adding context() based on 'W' is quite

[2020-09-28 09:48] weiznich commented on #2519
This bugreport does not contain any information that can be used to see what's wrong. Compiling diesel-cli does certainly work on windows, as we check this on CI, therefore I close this issue as it is missing crucial information.

[2020-09-28 09:48] #2519 closed

[2020-09-28 12:29] weiznich commented on #2517
Opening a PR would certainly make it easier to discuss the design. Otherwise this seems like a meaningful addition for me.

[2020-09-28 13:22] weiznich commented on #399
#2507 Adds has a large amount for diesel and various async rust database crates. For all people claiming that async will make things faster: I cannot see that in those benchmark results, more like those crates are preform significant worse in most situations. Feel free to submit optimizations/changes there, so that a clear performance advantage of those crates is visible.

[2020-09-28 13:41] chpio commented on #399
Shouldn't io_uring make things faster (readiness-vs-completion, syscall batching in the age of spectre, etc.)? But relies on async. Yeah, io_uring support isn't there right now and we need to first figure out how to make it work in rust (there are promising experimental crates for that, but nothing "stable"). I think an investment in async will pay off in the future.

[2020-09-29 00:03] github-actions[bot] opened #2521 "RUSTSEC-2020-0036: failure is officially deprecated/unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `failure`                      |
| Version             | `0.1.8`                   |
| URL                 | [https://github.com/rust-lang-nursery/failure/pull/347](https://git

[2020-09-29 08:04] #1911 closed

[2020-10-01 15:24] Ten0 opened #2523 "No way to express inconsistency when deserializing for `Queryable` data since #2182"
## Setup

### Versions

- **Rust:** Latest stable (1.46.0)
- **Diesel:** Latest master (d7ce43d2130bca434cd1acc2943a0c944d1deba4)
- **Database:** PostgreSQL
- **Operating System:** Linux

## Problem Description
Since #2480 was fixed, I've just been giving another try at updating our codebase to the latest master (#2182).
It turns out I still couldn't because I can't define custom `FromSqlRow` impl

[2020-10-01 15:44] e-fominov opened #2524 "Duplicate foreign keys are silently dropped in print-schema output"
## Setup

### Versions

- **Rust:** rustc 1.48.0-nightly (f68e08933 2020-09-19)
- **Diesel:** diesel 1.4.1
- **Database:** PostgreSQL 12
- **Operating System** Ubuntu 20.04

### Feature Flags

- **diesel:** postgresql

## Problem Description

Tables with multiple foreign keys pointing the same target are silently dropped from joinable! macro outputs of print-schema

### What are you trying to acco

[2020-10-01 15:46] weiznich commented on #2524
This is expected behavior as otherwise `first::table.inner_join(second::table)` would be ambiguous.

[2020-10-01 15:46] #2524 closed

[2020-10-01 17:08] weiznich commented on #2523
I've just checked that. If every involved type is a concrete type, you can implement `FromSqlRow`. If any type is generic, it will cause a "conflicting implementation" error message. Given this I would say it is not necessary to change `Queryable::build` to return a `Result`.

As additional unrelated note: It would be great to get some feedback which kind of changes are required to update from the

[2020-10-01 17:09] weiznich commented on #2521
This is only relevant for the `1.4.x` branch, therefore I'm closing this as won't fix.

[2020-10-01 17:09] #2521 closed

[2020-10-01 17:45] ibraheemdev commented on #399
What about something like this with async-std?
[code]

[2020-10-01 19:25] Ten0 commented on #2523
So it seems we could have a workaround, making this indeed not completely "necessary".

Also I understand it may sometimes be better to put aside 1% of the cases when the large majority of the time this should never possibly return an error, in order to keep the concepts simpler and save the hassle of error handling to callers of this function.

However,
- I feel that failing to recompose fields i

[2020-10-02 14:13] weiznich commented on #2523
I will use the weekend to think about this proposal. In the mean time here a few short points that should definitively be addressed:

First of all currently the main contract of `Queryable` is that it's just a simple map from a tuple returned by the database to a struct, meaning that currently it is conceptually not the place where any type conversation should happen. Changing this is less a techn

[2020-10-02 19:56] weiznich commented on #2523
Another more fundamental question: If we change `Queryable` to return a `Result`, what would be the technical difference between `Queryable` and `FromSqlRow`?

From a technical point neither `Querable` nor `QueryableByName` are required. Both derives can just generate the corresponding `FromSqlRow` impl. I did this already as part of the type system rewrite, but added both traits back out of compa

[2020-10-02 20:46] smtaylorslc commented on #2266
Hey @weiznich, I know this is pretty old but if it's still open I'd be happy to take a stab at it.

[2020-10-02 20:59] Ten0 commented on #2523
Thanks for your quick answer and for expressing your thoughts in such great detail! 🙂

From [the doc](https://github.com/diesel-rs/diesel/blob/d7ce43d2130bca434cd1acc2943a0c944d1deba4/diesel/src/deserialize.rs#L19-L21), I read "The purpose of this trait is to convert from a tuple of Rust values that have been deserialized into your struct.", but I'm not sure where there is that conceptual constrai

[2020-10-03 06:48] weiznich commented on #2266
@smtaylorslc It's still open, so feel free to open a PR.

[2020-10-03 22:51] jcvar opened #2526 "Unable to launch Rocket with Diesel on Alpine container"
## Setup

### Versions

- **Rust:** nightly x86_64-unknown-linux-musl
- **Diesel:** 1.4.5
- **Database:** MySQL 8.02
- **Operating System:** Alpine (I believe 13.2)

### Feature Flags

- **diesel:** mysql

## Problem Description

Can't run Rocket app inside an Alpine Linux container.

I can't get Diesel to establish a database connection when launching my container. I've been trying to troubleshoo

[2020-10-04 06:52] weiznich commented on #2526
We do not support rust nightly. Please provide a minimal reproduciple example that does not requiere rocket or any other non requiered third party dependency.

[2020-10-05 06:13] heyrict opened #2527 "Annotation for setting item to null in AsChangeset"
Realted issue: #26

I'd like to build a struct that implements `AsChangeset`, but it is not possible to set some values to `NULL` while keeping the struct ignoring some `None` fields. Using `Option<Option<T>>` or another type e.g. `enum { Value(T), Null, Unset }` will add extra overhead to the struct and may limit its usability.

Instead of adding an extra type, I'd suggest adding a field annotati

[2020-10-05 09:13] weiznich commented on #2523
My main pain point here is that `Queryable` currently just maps values, but does not do any deserialization on it's own. Mapping cannot really fail as it just changes the shape of data structure. Deserialisation is currently done by `FromSqlRow` (for Rows) and `FromSql` (for single field values). Adding this capability to `Queryable` feels for me like we have some duplication there. It's not reall

[2020-10-05 12:02] #2385 closed

[2020-10-05 12:03] #1204 closed

[2020-10-05 12:08] weiznich commented on #2527
Can you please clarify what exactly you mean here? Have you any numbers proofing this claim? Otherwise I would say that this theoretical overhead is not measurable in practice, therefore I do not see any reason why this should be changed.

Just to clarify that: Implementing `AsChangeset` manually is not considered to be a workaround, that's something that is a valid use case. The derive is on purp

[2020-10-05 13:19] heyrict commented on #2527
Sorry for the ambiguity.

Let's say we have a update struct

[code]

I would like to make `T::Null` set the field `NULL`, and `T::Skip` skips the field, but there is no way to make a custom variable `T` parsed as `Null` except I manually implement `AsChangset` for `struct A`, though other fields are fine with the derive macro. Implementing `AsChangeset` for `T` will not work, as the Option unwrapp

[2020-10-05 15:04] weiznich commented on #2527
Have you tried to just implement `AsChangeset` for `T`? The derive internally calls the `AsChangeset` impl for every separate member, as far as I'm aware. That's in my opinion the correct place to handle this.

[2020-10-05 15:32] #2140 closed

[2020-10-05 15:40] weiznich commented on #2150
The second part of this issue should be fixed after the type system rewrite in #2182. This leaves the first, simple part of the issue. I'm marking this as `help wanted` as I think this is fairly easy to implement.

[2020-10-05 16:44] jcvar commented on #2526
Understood, I'll iterate on the examples and update if necessary.
Thank you.

[2020-10-05 16:44] #2526 closed

[2020-10-05 17:38] Ten0 commented on #2523
Thanks again for your quick and detailed answer.

First, I'd like to underline that I'm very aware that `Queryable` *currently does not do deserialization on its own*, and that in my current proposition, it still doesn't: contrarily to the example given in https://github.com/diesel-rs/diesel/issues/2523#issuecomment-703507764

it seems like the part setting `values` from `build(row)` does not exis

[2020-10-06 00:51] azzamsa commented on #2026
If you are on alpine, the equivalent package of `libpq-dev` is **postgresql-dev**

[2020-10-06 11:12] heyrict commented on #2527
What the derive macro does internally is to generate the following code

[code]

Using a user-defined struct will not work as `Self::as_changeset()` is called *after* `Eq::<Left, Right>(table::field, field` is called, where there is a constraint `AppearsOnTable<Right>` which will never be met.

[2020-10-06 15:01] weiznich commented on #2523
So the main reason why `Queryable` looks like it This typo would compile: delayed_by_days: row.get::<Nullable<Integer>, _>("delayed_by_day") while this one wouldn't: delayed_by_days: v.delayed_by_day (plus this approach doesn't work for fields named e.g. id because there may be several of them selected in a single query)looks now is: It looked that way since long before diesel 1.0. At least till #

[2020-10-06 15:02] weiznich commented on #2527
That sounds like something that should be fixed in the derive itself. I would accept a PR doing that. (The `Insertable` derive already does something like that, so maybe look there for an implementation idea?)

[2020-10-06 16:06] Ten0 commented on #2523
IIRC this was already done as part of #2182:
https://github.com/diesel-rs/diesel/blob/d7ce43d2130bca434cd1acc2943a0c944d1deba4/diesel/src/row.rs#L53-L55

[2020-10-06 17:11] Ten0 commented on #2523
I'm having a bit of trouble reading the whole answer https://github.com/diesel-rs/diesel/issues/2523#issuecomment-704330912 as there seem to be a lot of quotes from my previous message appearing in seemingly random places (middle of sentences/words).

I'm not sure why you separate 2 and 3 in your suggestion: often, struct constructors will perform validation (e.g. [`NonZeroU32::new`](https://doc.r

[2020-10-06 19:36] weiznich commented on #2523
Sorry for that, should be fixed now.

https://github.com/diesel-rs/diesel/blob/d7ce43d2130bca434cd1acc2943a0c944d1deba4/diesel/src/row.rs#L30
https://github.com/diesel-rs/diesel/blob/d7ce43d2130bca434cd1acc2943a0c944d1deba4/diesel/src/row.rs#L53-L55

That method returns a `Field`, I'm talking about a variant that retruns the deserialized value directly.

Just to reiterate that: All `Queryable` imp

[2020-10-06 23:16] Ten0 commented on #2523
Almost, there's still one in the 1st paragraph ^^

Oh yes it looks like it would be easy to extend this:
https://github.com/diesel-rs/diesel/blob/d7ce43d2130bca434cd1acc2943a0c944d1deba4/diesel/src/row.rs#L191-L205
Still that would be unsatisfactory for the amount of type-safety I'd like to achieve.

It looks to me like the `Queryable` interface is much safer on that regard: it receives as entry t

[2020-10-07 15:00] weiznich commented on #2523
Again, feel free to do some experimentation here. As already expressed above I have a different opinion about changing anything about the definition of `Queryable`, because from my point of view this trait purely exists because backward compatibility now. If we change something and users need to touch their code anyways we can just remove that trait because it is not needed anymore then and changi

[2020-10-07 16:53] Ten0 commented on #2523
So just to confirm with examples, you think if we decided to allow Diesel 2.0 to force users to update their existing manual implementations of `Queryable`, it would be better to have users transition from:
[code]
to
[code]
(or from
[code]
[code]
)
rather than to:
[code]
despite the fact that it would probably as you mentioned require changing the idiomatic `Queryable` derive to `FromSqlRow`, that

[2020-10-08 05:59] Bajix commented on #1478
Will this be part of Diesel 2.0?

[2020-10-08 06:28] weiznich commented on #1478
@Bajix If someone submits a PR till then. I personally do not plan to work on this at least till the 2.0 release.

[2020-10-08 07:27] Bajix commented on #1478
Is there a timetable or write up regarding 2.0? I was confused as I had seen previously the source code already had 2.0 and yet was never released, but at the time there wasn’t much written

Sent from my iPhone

[2020-10-08 08:01] weiznich commented on #1478
@Bajix There is no complete timetable or write up for diesel 2.0. As this is a free time project at least I do not give any ETA's other than: When it's done. Before releasing 2.0 I want to fix or at least have a look at least those issues collected in the [2.0 milestone](https://github.com/diesel-rs/diesel/milestone/16)

[2020-10-08 09:59] #1638 closed

[2020-10-08 12:30] weiznich commented on #2523
I just used some time to think about this some more:

(You probably know most of those things already, but I find it important to write this somewhere down, so that other people can understand how diesel works internally)

I should probably first say that I'm not really happy about how the current deserialization structure works. The old (diesel 1.x) implementation required `Queryable<>` for loadi

[2020-10-08 16:07] #1586 closed

[2020-10-09 08:29] #2150 closed

[2020-10-09 20:06] zhiburt opened #2535 "SupportsReturningClause mysql"
## Problem Description

Following the get started guide step by step I was willing to run insert code with `mysql`.

[code]

But I was constantly getting a compile error.

[code]

And eventually I took a look at the doc and it seems to me currently it's impossible to run such code with `mysql` since its supported only by `postgress` right?

https://docs.diesel.rs/diesel/backend/trait.SupportsRetur

[2020-10-11 16:31] Dizeeee opened #2537 "Cannot find macro table"
## Setup

### Versions

- **Rust:** rustc 1.49.0-nightly
- **Diesel:** 1.4.5
- **Database:** Postgres
- **Operating System** Ubuntu 20.04

### Feature Flags

- **diesel:** postgres

## Problem Description

When I try to add a table from schema, the compiler doesn't recognize the todo! macro.

### What are you trying to accomplish?

Add a table from `schema.rs` to my project

### What is the expect

[2020-10-11 16:32] Dizeeee commented on #2537
To be clear, I have nightly for rocket dependencies, I stripped all rocket code and tested on stable before submitting.

[2020-10-12 06:27] weiznich commented on #2537
The correct syntaxt for importing the diesel macros is `#[macro_use] extern crate diesel;`. Closed as this is not an issue in diesel itself.

[2020-10-12 06:27] #2537 closed

[2020-10-13 12:14] rodrigodevelms opened #2540 "Problem with uuid and schema."
## Setup

### Versions

- **Rust:** 1.47.7
- **Diesel:** 1.4.5
- **Database:** PostgreSQL - version 13 alpine docker
- **Operating System** - Linux Solus 4.1

### Feature Flags

- **diesel:**

## Problem Description

Hello all.
I am learning to use Diesel, but I found some errors that I am not able to solve.
1 - My database is multi-tenant, based on the scheme, each scheme is a tenant. I don't kno

[2020-10-13 12:22] weiznich commented on #2540
The first part of the issue is a duplicate of #1728. For the second part of the issue: Have you enabled the `uuid` or `uuidv07` feature? If not this is kind of expected behavior.

I'm closing this issue as this is essentially a duplicated issue + some API missuse, so nothing that really needs to have a separate open issue. For the future: Please use our [gitter channel](https://gitter.im/diesel-rs

[2020-10-13 12:22] #2540 closed

[2020-10-13 15:59] SorteKanin opened #2541 "Allow HashSet to be used in "any", "all""
It would be nice if a HashSet could be used instead of Vec in the `any` and `all` functions (and `eq_any` etc. but I don't know if a HashSet is allowed here already). HashSets are obviously not strictly speaking arrays or even ordered collections but none of the SQL functions care about the order in the given array anyway (to my knowledge), so using an unordered collection instead of an ordered on

[2020-10-14 15:17] weiznich commented on #2541
This issue sounds probably like a trivial problem, but you touched at least two completely different problems here.

`expr.eq_any(array)` results in the following sql `expr IN ($1, … $n)` where a bind parameter is used for each item in `array`. This means this expression implies that the array item type needs to implement `ToSql<SqlTypeOf<expr>, DB>`.

`expr.eq(all(array))` (and `expr.eq(any(array

[2020-10-17 00:56] cameronpickham opened #2543 "Joins with sql_query where column names conflict"
The root of my issue is Diesel's inability to perform multiple joins on the same table in a single query (due to the lack of aliasing). My attempt at a workaround is to construct a raw query using `sql_query`. However, when there are columns of the same name across multiple tables in the query, the deserialization results in column values being overwritten by the values of that column from the oth

[2020-10-17 12:37] weiznich commented on #2543
You need to indroduce unique names via `expr as some_name` for each column in your select clause.

As you already know joining a table more that once is currently not easily possible via the diesel dsl, as this would require support for aliasing. There is #2254 for that. Something like that can be adjusted to work to work in third party crates.

[2020-10-17 12:37] #2543 closed

[2020-10-20 22:44] lucacasonato opened #2544 "count in select of grouped left joined query fails"
## Setup

### Versions

- **Rust:** rustc 1.47.0 (18bf6b4f0 2020-10-07)
- **Diesel:** 1.4.5
- **Database:** postgres 12
- **Operating System:** Linux (Ubuntu 20.04)

### Feature Flags

- **diesel:** `postgres`

## Problem Description

Type errors are preventing me from creating this query:

[code]

Looking at the documentation it should work.

### What are you trying to accomplish?

I want to get

[2020-10-21 07:55] weiznich commented on #2544
Basically a duplicate of #210 probably also #772, so closing this in favor of the existing old issue.

As this is already partially fixed on master as reference here a "working" version:

[code]

[2020-10-21 07:55] #2544 closed

[2020-10-21 10:14] lucacasonato commented on #2544
@weiznich Thanks. Very excited for diesel 2.0 :-)

[2020-10-22 09:01] #2266 closed

[2020-10-22 15:00] WANG-lp commented on #1116
@sgrif Very glad to see there is a correct method to use i64 for Sqlite.

I think https://github.com/diesel-rs/diesel/issues/80 can be also solved this method.

Maybe we can collect similar questions and solutions to a separated Wiki page to help newcomers!

[2020-10-26 14:48] genofire opened #2548 "QueryBuilder for embed"
- **Diesel:** 1.4.5

It would be nice to use `#[diesel(embed)]` in a normal `Queryable` and to let it fill with `load` it a `inner_join` was used during `QueryBuilder`

e.g.
[code]

[2020-10-26 14:53] weiznich commented on #2548
Duplicate of #860

[2020-10-26 14:53] #2548 closed

[2020-10-27 17:30] ravirajb commented on #2262
But why's the installation of mysql is necessary, when I run the diesel_cli only for sqlite in MacOS?

[2020-10-27 17:36] shirshak55 commented on #2262
@ravirajb because he might have choosed mysql in features section at Cargo.toml. Installation of mysql is not needed if you are not using mysql.

[2020-10-27 19:40] ysangkok commented on #1011
@mmrath I would change

`no_arg_sql_function!(last_insert_id, types::Bigint);` into `no_arg_sql_function!(last_insert_id, types::Unsigned<types::Bigint>);` since that is what the function actually returns.

[2020-10-29 00:04] github-actions[bot] opened #2550 "RUSTSEC-2020-0057: crate has been renamed to `cipher`"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `block-cipher`                      |
| Version             | `0.8.0`                   |
| URL                 | [https://github.com/RustCrypto/traits/pull/337](https://github

[2020-10-29 20:58] kpcyrd commented on #2365
I've created a repository that can be used to reproduce this, it's creating a database, spawns 25 threads that increment one field 100 times each and then verifies the field has the expected value. The sql executed is exactly the same, but diesel returns errors for some function calls while rusqlite does not. Removing the PRAGMAs causes both tests to fail.

[2020-10-30 00:40] kpcyrd commented on #2365
After some more debugging, rusqlite automatically sets a busy handler for 5s. I've prepared a patch to do the same and it fixes the example above. Would you be interested in a patch like that?

[2020-10-30 10:18] weiznich commented on #2365
Thanks for providing the reproducible example. According to the sqlite documentation executing `PRAGMA busy_timeout = x;` should be equivalent to calling `sqlite3_busy_timeout(inner_connection, x);` so it is not obviously clear for me how setting the timeout as part of the connection setup will fix the underlying issue. In the end that would be not different than what you are already doing in the

[2020-10-30 20:26] thomaseizinger commented on #2344
If I were to give this a shot, would I target current master or the 1.4 branch?

[2020-10-31 02:11] hi2u commented on #566
Just wanted to check... is it possible to SELECT from SQL VIEWs at all in Diesel now?

[2020-10-31 14:20] weiznich commented on #2344
@thomaseizinger New features always targeting the master branch.

[2020-10-31 14:22] weiznich commented on #566
@hi2u As literally written in the comment above yours: Yes its possible.

[2020-11-01 14:57] tbarusseau opened #2552 "Feature request: implement Rocket's Responder trait for Diesel errors behind a feature gate"
### What do you want to do, and how do you expect Diesel to support you with that?

Implement [Rocket's `Responder` trait](https://api.rocket.rs/v0.4/rocket/response/trait.Responder.html) for Diesel errors.

This would allow Rocket + Diesel code to directly return errors through `?` in routes without any boilerplate code.

This would also allow much more detailed Rocket responses, since we would h

[2020-11-01 16:12] nmrshll commented on #399
@ibraheemdev If I get it right, async_std now handles blocking tasks without specifying `spawn_blocking`, so this should work all right.
But it doesn't really solve this issue: what happens in your new async task is still blocking.

In general (i.e. regardless if you use tokio or async_std), I would still recommend using `spawn_blocking` for the time being, just to make sure the task gets dispatch

[2020-11-02 09:14] weiznich commented on #2552
Is there any reason why this needs to be done in diesel and cannot be done in rocket or a third-party crate?
I really do not want to add rocket as dependency of diesel for the following reasons:

* It is nightly only (at least for now), that's a no-go for diesel.
* It is a quite heavy dependency in term of number of sub-dependencies. For adding such a dependency I really want to see more justifica

[2020-11-02 09:14] #2552 closed

[2020-11-02 10:32] bakasmarius commented on #135
The only thing that helped me was running this:
`SET PQ_LIB_DIR="C:\Program Files\PostgreSQL\13\lib"`

[2020-11-02 11:47] #2370 closed

[2020-11-03 09:27] #2368 closed

[2020-11-05 18:28] weiznich opened #2555 "Experiment with generate `allow_columns_to_appear_in_same_group_by_clause!` via `diesel print-schema`"
#2549  introduced the `allow_columns_to_appear_in_same_group_by_clause!` macro that allows you to use more than one column in your group by clause. It opted not to generate a call to this macro for all columns in the schema via `diesel print-schema` due to compile time concerns.
I would like to see some experimentation and some concert numbers for the actual compile time impact of this. As I think

[2020-11-06 09:01] #2344 closed

[2020-11-09 06:56] happycoder97 opened #2558 "`table!` macro expansion doesn't include imports"
## Setup

### Versions

- **Rust:**  `rustc 1.47.0 (18bf6b4f0 2020-10-07)`
- **Diesel:** v1.4.5
- **Database:** Postgres, but not relevant I guess.
- **Operating System** Arch Linux

### Feature Flags

- **diesel:** postgres, chrono

## Minimal repro
https://github.com/happycoder97/diesel-repro

## Problem Description
`table!` macro expansion doesn't include imports.

Compiler gives this error:
![

[2020-11-09 07:43] weiznich commented on #2558
I cannot reproduce this error. While trying to built your "reproducible" example I hit the following unrelated error messages:
[code]

Otherwise: We do have a test case for this behavior [here](https://github.com/diesel-rs/diesel/blob/a2996ee4f7f399e7b66449afa98c910ab23867fb/diesel/src/macros/mod.rs#L1311-L1335) + our CI tests passed for this test for at least the last few month without issue, the

[2020-11-09 07:43] #2558 closed

[2020-11-09 07:55] happycoder97 commented on #2558
Nuking `~/.cargo` fixed the issue.

PS: backup ~/.cargo/bin and ~/.cargo/config before nuking.

[2020-11-09 10:55] JADSN commented on #2289
# Update libsqlite3-sys to 0.20.1

Using the depencies:

- r2d2 = '0.8.9'
- r2d2_sqlite = '0.17.0'

[code]

### I tried:

- `cargo update -p libsqlite3-sys:0.9.1 --precise=0.20.1`

### Maybe a solution:
[Disel Cargo.toml](https://github.com/diesel-rs/diesel/blob/master/diesel/Cargo.toml)

- Bump version from "0.20.0" to "0.20.1"

**Thanks**

[2020-11-09 12:08] weiznich commented on #2289
@JADSN as written above: We are happy to recieve a PR for that. Otherwise that's currently not on top of my priority list. I will likely bump supported versions of our dependencies shortly before the next release (without ETA) if requiered.

[2020-11-09 12:08] weiznich commented on #2558
Sounds like a corrupted/modified source clone then.

[2020-11-09 16:34] #1988 closed

[2020-11-09 17:20] capripio opened #2560 "undefined reference to `sqlite3_create_function_v2'"
### Versions

- **Rust:** 2018
- **Diesel:** diesel = { version = "1.4.4", features = ["sqlite", "r2d2", "chrono"] }
- **Database:** sqlite3
- **Operating System** Centos 6.9

## Problem Description

I am trying to compile my rust application and getting following error.

  = note: /root/actix-web-app/target/debug/deps/libdiesel-eac6304bb856f51c.rlib(diesel-eac6304bb856f51c.diesel.cvxxcjjw-cgu.15.

[2020-11-09 19:18] weiznich commented on #2560
`sqlite3_create_function_v2` was added in libsqlite3 version 3.7.3 released in 2010. This error message indicates that you are using a libsqlite3 that is missing this function, either because your verion is more than 10 years old or because you use a patched variant of libsqlite3. Both is not supported by diesel.

[2020-11-09 19:18] #2560 closed

[2020-11-09 23:35] kevincox opened #2561 "Document out-of-order migrations behaviour."
## Problem Description

I can not find any documentation for how Diesel handles out-of-order migrations. Will it skip them, apply them, raise an error or do something else?

### What are you trying to accomplish?

When working on a team, migrations may be added in different changes. If the higher number migrations gets merged first the lower number one still needs to be applied.

### What is the e

[2020-11-10 04:04] subhojit777 opened #2562 "pool builder max_size unable to set `max_user_connections`"
## Setup

Rust web-app using actix-web interacting with MySQL database via diesel.

### Versions

- **Rust:** rustc 1.47.0 (18bf6b4f0 2020-10-07)
- **Diesel:** diesel v1.4.2
- **Database:** mysql  Ver 8.0.13 for macos10.14 on x86_64 (MySQL Community Server - GPL)
- **Operating System** macOS v10.15.6

### Feature Flags

- **diesel:** ["mysql", "chrono", "r2d2"]

## Problem Description

`Pool::buil

[2020-11-10 08:58] weiznich commented on #2562
A few things to note here:

* Can you reproduce that issue without using any third party dependency like `actix_web`? If not then this sounds like `actix_web` is not behaving like you expected, by for example creating more than one pool as part of the startup process. Then that's clearly not a diesel/r2d2 issue. Your log messages make it at least plausible that actix is calling the initialization

[2020-11-10 09:00] weiznich commented on #2561
It's documented [here](https://github.com/diesel-rs/diesel/blob/fef3b93824bc7abaae0b3f41c9c2ca6b984bb027/diesel_migrations/migrations_internals/src/lib.rs#L116-L128)

[2020-11-10 09:00] #2561 closed

[2020-11-11 19:06] c0dearm commented on #700
I can also reproduce in a Docker Alpine image. The Dockerfile itself is quite simple:
[code]

I then run the `diesel setup` command in a container of that image connected to a PostgreSQL database and correct `DATABASE_URL` environment variable:
[code]

Trying to establish a connection using `PgConnection` also ends in a Segmentation fault, my guess is that there is something wrong when using the `

[2020-11-11 19:38] c0dearm commented on #700
So I've been tracking down the issue to some other discussions and it seems the culprit is `libpq`, it seems Alpine's version is quite old, and actually it is currently flagged: https://pkgs.alpinelinux.org/package/edge/main/x86/libpq

According to #2357 and https://github.com/sfackler/rust-openssl/issues/1133, upgrading `libpq` should solve the issue, but I wonder when this will be available in t

[2020-11-12 03:55] subhojit777 commented on #2562
I was indeed not able to see the error after I moved the pool creation out of the HttpServer closure, however the app stopped working. I don't think this issue is related to diesel. Thank you!

[2020-11-12 03:55] #2562 closed

[2020-11-12 09:43] weiznich commented on #700
@c0dearm Thanks for debugging this :+1:. This sounds like #813 then.
As this is then clearly not a diesel issue anymore I will close this issue as not our bug.
For anyone hitting this, I think the best workaround is to build a current libpq + openssl version in your docker container by yourself.

[2020-11-12 09:43] #700 closed

[2020-11-12 13:41] c0dearm commented on #700
@weiznich Also, `pq-sys` hasn't been updated for 2 years now, so maybe it is a good time to ditch it and replace it by something native like `rust-postgres`. I think it would solve a lot of issues, especially when building static binaries.

[2020-11-12 14:37] weiznich commented on #700
Dropping `pq-sys` (and therefore `libpq`) in favor of `rust-postgres` brings up it's own list of issues:

* Is the performance of `rust-postgres` comparable to `libpq`? Has anyone already done reliable reproducible benchmarks on that?
* Is the API design of `rust-postgres` compatible with diesel's assumptions about how a database connections works. Especially in terms of design of the `serializing

[2020-11-15 17:12] olibearo commented on #2558
I ran into this same issue. The enum module which is imported at the top of the `table!` macros by the output of the `print-schema` is there, but the output of the `table!` macro did not include the imports. Cleaning up the `~/.cargo` directory and running `cargo clean` got rid of the error. I'm unsure how I got to this state though, this has been working and then it was not.

[2020-11-16 12:47] StevenInacio commented on #1286
For those that still have errors on Windows, you need to install the MySQL Server (but you can skip/cancel the configuration if you do not actually want to run a server).
The Library should now be under `C:\Program Files\MySQL\MySQL Server <mysql_version>\lib\mysqlclient.lib`.

I don't know if the old library in the connector/c archive is the same than this library, but the server version worked f

[2020-11-17 11:03] Urhengulas opened #2567 "impl std::fmt::Debug for diesel::pg::PgConnection"
## Feature Description
[code]

## Possible solution
My idea would be to just store the `database_url` on `PgConnection::establish(database_url)` in the `PgConnection` and use it as the debug message.
But I am open to include additional information.

Happy to implement it myself 😁

[2020-11-17 21:43] fishrockz opened #2568 "Document boxed functions"
How should I define functions that return boxed queries?

Some queries end up being used a lot, I have a standard query that many other functions use and build upon.

But the return types end up being HUGE https://gitlab.com/pointswaves/points-that-need-doing/-/blob/master/src/routes_site.rs#L158

Is there a way to use the types defined in my models.rs or schema.rs to define the return type rather

[2020-11-18 08:23] weiznich commented on #2568
First of all: `BoxedSelectStatement` is not part of our public api. Types that are not documented in our API documentation are not covered by any semver considerations. They can change at any point in time and we do not provide support for them. To refer to such types in a supported way you may want to use the type defs from `diesel::dsl` and [that one](https://docs.diesel.rs/1.4.x/diesel/macro.ta

[2020-11-18 08:24] #2568 closed

[2020-11-18 10:58] mattdowdell opened #2569 "Unable to use inner and left join to the same table in a single query"
## Setup

### Versions

- **Rust:** rustc 1.47.0 (18bf6b4f0 2020-10-07)
- **Diesel:** 2.0.0 (master at time of writing) and 1.4.5
- **Database:** PostgreSQL
- **Operating System:** MacOS

### Feature Flags

- **diesel:** uuid, postgres

## Problem Description

When trying to join twice to the same table using an inner and left join, I get a compile error. For example:

[code]

If we drop either jo

[2020-11-18 15:40] weiznich commented on #2569
Diesel does currently not support that a table is joined more than once at the same time, as this would require alias support. #2254 provides an incomplete implementation for alias support, that could be adjusted to work in any third party crate.

Duplicate of #1611.

[2020-11-18 15:40] #2569 closed

[2020-11-18 15:43] weiznich commented on #2567
What is your actual usecase for this? Printing out the connection url is likely not a good idea as it can contain potential secret credentials.

[2020-11-18 15:45] weiznich commented on #2568
I should add here that we would be happy to receive a PR improving the discoverability of this features.

[2020-11-18 20:53] Urhengulas commented on #2567
Thank you for coming back to be @weiznich

You are right, I didn't think about the credentials getting potentially exposed.

My usecase is mainly convenience (😬). What I'd like to do is:
[code]
In the system I am working on we are using a global database connection in a `OnceCell`. I am not able to call `OnceCell::set(conn).unwrap()`, since it wants to print the debug message of `PgConnection` in

[2020-11-19 10:05] Ploppz commented on #2396
What was the solution @zzhengzhuo ?

[2020-11-19 10:47] weiznich commented on #2567
"Just" dropping the password/username there would mean that you have to parse the url. That's quite a lot of complexity for such a simple feature. Additionally I'm not sure that the password field is the only potential confidential field there. What's for example with ssl based authentication?

[2020-11-19 11:03] Ploppz commented on #2396
I think I know: you need `.select(TABLE2::phone.nullable())`

[2020-11-19 12:25] Urhengulas commented on #2567
I was thinking, that there actually shouldn't be too much of a security problem with giving the whole `conn_str` as debug message, because only the application establishing the `PgConnection` will ever see the string.
Thereby it is no secret to it, right?

[2020-11-20 09:52] pksunkara commented on #2567
We don't need to implement this because you can use `expect` instead of `unwrap`. You can see an example here, https://github.com/pksunkara/reign/blob/master/reign_model/src/plugin.rs#L32-L38

[2020-11-20 10:09] Urhengulas commented on #2567
Thank you for your input @pksunkara :D

But as far as I understand both `.unwrap()` and `.expect()` require the error to implement `std::fmt::Debug` (see [`core/result.rs#910`](https://doc.rust-lang.org/src/core/result.rs.html#910)).

And in your example you are still doing:
[code]
But I'd like to have it as:
[code]

[2020-11-20 10:13] weiznich commented on #2567
@Urhengulas Both require that the **Error** type implements `Debug`, not the `Ok` type. (https://doc.rust-lang.org/std/result/enum.Result.html#method.expect), so either of those solutions already work today.

[2020-11-20 10:45] pksunkara commented on #2567
If you still want to use it something like that, `DB.set(pool).map_err(...).unwrap()`

[2020-11-20 10:57] Urhengulas commented on #2567
@weiznich I wouldn't consider it solved.

You are right that the error type needs to implement `Debug`, BUT in case of `OnceCell::set(PgConnection)` the **`PgConnection` is the Error** type! (see https://docs.rs/once_cell/1.5.2/once_cell/sync/struct.OnceCell.html#method.set).

---

@pksunkara Thanks for the workaround.

[2020-11-20 11:06] weiznich commented on #2567
Ok then let me word it that way: I would be happy to merge a PR implementing `Debug` for all connection types as long as it does not reveal potentially confidential information. I consider database url's to be potential confidential here.

[2020-11-20 12:21] Urhengulas commented on #2567
That sounds good 😄

Let me think what other valuable information one could put in there. Most straight forward would be a static `"Connection to [postgres, mysql, sqlite] database"`, but maybe we can include a bit more.

[2020-11-20 13:06] Mingun commented on #2567
@Urhengulas maybe you can use a wrapper on the connection type that implements `Debug + Error`?

[2020-11-20 15:17] Urhengulas commented on #2567
@Mingun That would work. Thank you for the input.

Nevertheless I am looking for a more general upstream solution which simplifies the code of multiple people, because I think the `OnceCell<Pool<ConnectionManager<PgConnection>>>` is a common pattern.

[2020-11-20 18:26] pksunkara commented on #2567
You would need to change r2d2 too and forward the debug IIUC

[2020-11-20 21:15] Urhengulas commented on #2567
`Pool` and `ConnectionManager` already implement `Debug`.

[2020-11-21 10:50] Urhengulas commented on #2567
fyi: with #2572 the debug message of `Pool<ConnectionManager<PgConnection>>>` now looks like:
[code]

The debug message of the connection actually gets omitted and just says `PhantomData`, but is required to be implemented nevertheless.

[2020-11-21 11:08] pksunkara commented on #2567
I would personally still not recommend to do `expect` or `unwrap` because `ConnectionManager` has the database url with all the secrets.

[2020-11-21 11:09] pksunkara commented on #2567
And If we can update `ConnectionManager` in r2d2 and implement a `Debug` for it manually, then we don't need `Debug` for these connections here in diesel.

[2020-11-21 12:29] Urhengulas commented on #2567
@pksunkara I see that one should keep the `database_url` secret, but the application having the `ConnectionManager` did establish the connection and thereby already knows about the `database_url`.

So I don't see the issue.

[2020-11-21 12:30] pksunkara commented on #2567
It's not about the application knowing the `database_url` but about the secrets being logged because of `unwrap` or `expect`

[2020-11-21 13:26] erihsu opened #2573 "Do diesel really need up.sql & down.sql ?"
After diesel migration, it automatically generate database schema according to **up.sql**, which define the structure with table macro. However, after generating schema, do I really need sql file further ?

[2020-11-21 14:16] Urhengulas commented on #2567
True, Then I would suggest to change the debug message of ConnectioManager in a 2nd PR.

[2020-11-21 14:27] pksunkara commented on #2567
Yeah, we do that by implementing a custom `Debug` for `ConnectionManager` which means we can skip the `Connection` debug there which means there is no reason for this PR to exist.

[2020-11-21 16:53] Urhengulas commented on #2567
I agree that we should have a custom `Debug` for `ConnectionManager<T>` which doesn't need `T: Debug`. Thereby we enable easier use of `static DB: OnceCell: Pool<ConnectionManager<PgConnection>>>`.

But `static DB: OnceCell<PgConnection>` would not work. If this isn't a common pattern we can drop #2572, but I am unsure about that. Need your experience here..

[2020-11-21 17:08] weiznich commented on #2573
You don't need any migrations to generate your schema. Diesel happily generates a db schema from an existing database.
Closed as our issue tracker is not the right place for asking questions. Please use our forum or our gitter channel for questions.

[2020-11-21 17:08] #2573 closed

[2020-11-24 08:34] #2567 closed

[2020-11-24 18:21] tema3210 opened #2575 "Unexpected CLI dynamic link error"
### Versions

- **Rust:** 1.48.0
- **Diesel:** 1.4.5
- **Database:** PostgreSQL 12
- **Operating System** Windows 10

### Feature Flags

- **diesel:** no-default-features, postgres

## Problem Description
I was trying to install **diesel-cli**, but cargo error was on linking with complain that it cannot open "libpq.lib".
I copy-pasted this lib into cargo link path\ (after last didn't work) modifie

[2020-11-24 19:50] genusistimelord opened #2576 "load::<>() and first::<>() should return easier to understand error messages on compile error."
### Versions

- **Rust:1.48
- **Diesel:1.4.5
- **Database:postgresql
- **Operating System**
Windows

## Problem Description
A table schema and a structure mapped to the table schema that does not contain the same order OR the struct is missing something from the table schema. When this Occurs a very unreadable and unhelpful Error message is received from cargo during build.

I was able to solve th

[2020-11-25 08:19] weiznich commented on #2575
This is an error message that indicates that your environment is not configured correctly. You need to make `libpq.dll` available for the dynamic linker used on your platform. Please checkout the manual of the your platform/the dynamic linker used by your platform on how to do this.

Closed as this is not a diesel issue + our issue tracker is not the right place to ask questions. Use the gitter ch

[2020-11-25 08:19] #2575 closed

[2020-11-25 08:23] weiznich commented on #1817
Fixed by using `diffy` instead of shelling out to a environment provided `patch` command.
See #2448

[2020-11-25 08:23] #1817 closed

[2020-11-25 08:30] weiznich commented on #2576
Likely a duplicate of #151 and #573. Unfortunately we cannot do much to improve at that front without support on rust language side for this. It is unfortunately not possible to emit custom error messages if some trait bounds are not satisfied. Working on the required language features to improve the error messages is clearly out of scope for me and additionally not something that should be tracke