[2020-11-25 08:30] #2576 closed

[2020-11-27 04:04] himat opened #2577 "Run individual migration"
### Versions
- **Diesel:** 1.4.5
- **Database:** postgres

## Feature Request

Is it possible to run only `n` pending migrations instead of all of them?
Running `diesel migration run` runs all pending migrations, but I want to be able to just run one migration at a time.

## Checklist

- [x] I have already looked over the [issue tracker](https://github.com/diesel-rs/diesel/issues) for similar issu

[2020-11-27 08:00] unitsoftrover opened #2578 "Problem to add backend to support odbc driver to sql server/oracle."
I am interesting to add odbc to diesel based the exists mysql backend. I change the mysql mod name and feature to odbc, and modified some statement "::mysql::" to "::odbc::" in diesel basic code. when compile, reasy problem:
error[E0277]: the trait bound `odbc::backend::Mysql: sql_types::HasSqlType<sql_types::Timestamp>` is not satisfied
   --> diesel\src\query_builder\insert_statement\mod.rs:464:

[2020-11-27 08:02] unitsoftrover commented on #2578
![image](https://user-images.githubusercontent.com/45359384/100425342-fc09ea00-30c9-11eb-8f18-57ba85c07d0e.png)

[2020-11-27 08:05] unitsoftrover commented on #2578
I can't find somewhere to impl Timestamp in mysql, but it work. is it derive from Attributes?

[2020-11-27 10:21] weiznich commented on #2578
Just to leave a few notes here:

* We won't accept any new backend in tree anytime soon, as it is possible to implement such a backend outside of diesel.
* You are aware of [diesel-oci](https://github.com/GiGainfosystems/diesel-oci)?

As for your question: The impl for `HasSqlType<Timestamp> for Mysql` is generated via [this](https://github.com/diesel-rs/diesel/blob/6cd920184782745a46ee77d29ce2021

[2020-11-27 10:21] #2578 closed

[2020-11-27 10:39] weiznich commented on #2577
Please add more information why you want to run only one migration at a time. I do not see any usecase for this. Otherwise I will close this issue as incomplete.

[2020-11-27 11:27] #210 closed

[2020-11-27 11:44] weiznich opened #2581 "Add support for `HAVING` clauses"
With #2571 merged diesel now officially supports `GROUP BY` causes. As mentioned in #210 we have no concrete planes for supporting `HAVING` clauses in the next release. I've opening this issue to just have one for `HAVING` clauses + write down some notes for potential contributors. So if anyone is interested in adding support for such clauses feel free to open a PR.

Steps to add support for `HAVI

[2020-11-27 11:55] T-Bakker opened #2582 "Querying of foreign model does not compile"
##  Setup
I am using SQLite as database/driver and the following models are involved:
[code]

The schema is generated as:
[code]

### Versions

- **Rust:** `rustc 1.45.0 (5c1f21c3b 2020-07-13) / cargo 1.45.0 (744bd1fbb 2020-06-15)`
- **Diesel:** `1.4.5 / 3e2de9deab977a153492a1468d1b1c0662c1cf39e5ea87d0c060ecd59ef18d8c`
- **Database:** `SQLite3 3.27.2 2019-02-25 16:06:06 bd49a8271d650fa89e446b42e51

[2020-11-27 13:38] weiznich commented on #2582
I would call that expected behavior. You query returns fields with the following sql type: `(diesel::sql_types::Integer, diesel::sql_types::Integer, diesel::sql_types::Integer)` while query return struct expects some return type with the following sql type: `((diesel::sql_types::Integer,), diesel::sql_types::Integer, diesel::sql_types::Integer)` (note that the first value is wrapped into another t

[2020-11-27 13:38] #2582 closed

[2020-11-29 05:25] agersant opened #2583 "In-memory SQLite database w/ diesel::r2d2"
## Setup

### Versions

- **Diesel:** 1.4.5
 **Database:** SQLite

### Feature Flags

- **diesel:** sqlite, r2d2

## Problem Description

Hello. I have an application using Diesel with a connection pool from `diesel::r2d2`. When running concurrent unit tests, I have to make sure each test works with a independent database to avoid interference. This requirement is a bit inconvenient for a file-bas

[2020-11-29 21:06] dawid-nowak opened #2584 "Diesel_derives only considers flags comming from one of multiple `#[diesel(…)]` atttributes"
Is it supported at the moment to have 'serialize_as' and 'deserialize_as' on the single field in the sturcture as shown below?

[code]

[2020-11-30 11:17] weiznich commented on #2583
Have you tried to just use `:memory:` as connection url while setting up your `ConnectionManager`? The [documentation](https://docs.rs/diesel/1.4.5/diesel/prelude/struct.SqliteConnection.html) on `SqliteConnection` explicitly mentions that `:memory:` is a valid connection url.

Closed as I do not see anything actionable here + our issue tracker is not the right place to ask questions or look for s

[2020-11-30 11:17] #2583 closed

[2020-11-30 11:23] weiznich commented on #2584
As the documentation mentions [here](https://docs.diesel.rs/1.4.x/diesel/deserialize/trait.Queryable.html) `deserialize_as` is supported for the `Queryable` derive. `serialize_as` is not supported on any release yet.

Closed as this is not an issue or feature request. Use our gitter channel or our forum to ask for support or tho get answers to your questions.

[2020-12-01 12:30] dawid-nowak commented on #2584
@weiznich
I do appreciate the prompt reply. The '''serialize_as''' is on the master branch. The issue is that only one of these annotations seems to be working at a time.  I can either '''serialize_as''' or '''desrilalize_as''' but not both. In my opinion, that would be a bug, but I thought it might have been nice to doublecheck.

[2020-12-01 13:03] weiznich commented on #2584
@dawid-nowak I that case I would appreciate getting a complete self contained example where you think something does not work as expected including the exact version you've used. Otherwise I do not see how this would be actionable at all.

[2020-12-01 14:56] dawid-nowak commented on #2584
@weiznich
i hope this helps

[code]
expected is that ```User(s1:11111111, s2:22222222, s3:3333333,s4:444444444)``` will be written to database as ```User(s1:11xxxx11,s2:22xxxxxx22, s3: 33xxxxxx33, s4: 44444444)```.

expected is that  on read User should be as follows  ```User(s1:11oooooo11,s2:22ooooo22, s3: 33xxxxxxx33, s4: 44ooooooo44)```.

database view snapshot:
![image](https://user-images.git

[2020-12-01 15:54] weiznich commented on #2584
So I had a short look at this. Seems like we don't handle the case that some attribute occurs more than once well. If you change your code to the following everything will work fine:

[code]
(Note that I've changed just fields 1 and 2 to have the annotations in a combined attribute instead of having separate ones.)

Having said that: This is definitively something I would consider as bug, therefor

[2020-12-01 22:11] dawid-nowak commented on #2584
now we are talking :) cheers

[2020-12-02 10:32] GopherJ commented on #2379
I think `musl` is a must for portable usage:

![image](https://user-images.githubusercontent.com/33961674/100861354-00e7e880-3492-11eb-86d5-7a6519b39d74.png)

[2020-12-02 10:37] weiznich commented on #2379
@GopherJ I do not see what this adds to the discussion, that's already written in my comment above. If you've nothing to say, please stop adding comments here.

[2020-12-02 10:43] GopherJ commented on #2379
ok @weiznich I'll delete my comment above, I just want to say it's important while seeing so many `.so`

However, pls don't use github as `dictatorship` platform, I know you are a good contributor of diesel, but this shouldn't stop others speaking....

[2020-12-02 10:46] weiznich commented on #2379
@GopherJ It's not about stopping someone from speaking, it's just about increasing the signal to noise ratio for potential contributors. I'm happy to hear out comments that add something to the discussion, but I dislike going though my notifications and spend my time with reading basically "me too messages" coming up in my post box.

[2020-12-02 12:56] GopherJ commented on #2379
After applying the following changes:

![image](https://user-images.githubusercontent.com/33961674/100875290-1cf58500-34a6-11eb-9657-0d0308c8340c.png)

I'm able to use `rust-musl-builder` to compile a static linked diesel_cli

[2020-12-03 08:03] benedictjohannes commented on #2379
@GopherJ Your last comment looks helpful. Can you share in more detail, maybe on a separate branch on your fork or maybe using github gist? It's quite hard for me to understand what you've done by looking at a screenshot.

[2020-12-03 10:30] weiznich commented on #2379
I would rather not like to have a direct dependency on `openssl-sys`. That's an internal libpq dependency, so I think that should be handled there. Additionally it seems that `libpq` + `openssl` + `musl` is causing some issues in general. See for example #813 or #700 for example.

[2020-12-03 10:34] #2123 closed

[2020-12-03 13:06] GopherJ commented on #2379
@benedictjohannes Hi, basically what I did comes from: https://github.com/emk/rust-musl-builder#making-diesel-work and https://github.com/emk/rust-musl-builder#making-openssl-work

[2020-12-03 17:08] pksunkara commented on #2584
I actually had this fixed in my branch of moving all attributes to `diesel`. I just need to finish it.

[2020-12-04 15:31] dessalines commented on #2432
How do I do multiple ons? IE `inner join table2 on table1.id = table2.id and table1._second_id = table2.second_id` I can't find an `.on(...).and`

[2020-12-05 03:55] happycoder97 commented on #2558
This happened again today after I did `rustup update`.

[2020-12-05 13:14] weiznich commented on #2558
@happycoder97 Can you provide information about which rustc versions and which commands are exactly required to reproduce this?

[2020-12-05 13:22] happycoder97 commented on #2558
`rustc 1.50.0-nightly (3ff10e74a 2020-12-04)`
This is the version I got after I did `rustup update`. I don't remember the previous version. I think it was about a month ago I last updated.
I am not sure if this is related, I had also added musl target to rustup about at the same time.
But the project was using gnu target when the error showed up.

[2020-12-05 18:47] webmstk opened #2588 "diesel with r2d2 connection pool"
Could you please add example with r2d2 connection pool?

[2020-12-05 19:54] weiznich commented on #2588
Duplicate of #1951

[2020-12-05 19:54] #2588 closed

[2020-12-05 22:06] dnamsons commented on #2581
I would like to work on this issue

[2020-12-06 08:40] weiznich commented on #2581
@dnamsons Sure, go for it. If you hit any issue feel free to reach out for me here or in our gitter channel. Opening a WIP PR is also probably a good idea to get early feedback on the implementation.

[2020-12-07 10:23] weiznich commented on #33
Fixed by #2514

[2020-12-07 10:23] #33 closed

[2020-12-07 13:26] Ten0 opened #2589 "master: a.and(b) is nullable even though a and b are non nullable"
## Setup

### Versions

- **Rust:** latest stable - 1.48.0 (7eac88abb 2020-11-16)
- **Diesel:** latest master (ff8e5b15ea0dfaa22e9c12c5ed2a0e23992b0617)
- **Database:** postgresql
- **Operating System** Linux

### Feature Flags

- **diesel:** postgres, chrono

## Problem Description
a.and(b) is nullable even though a and b are non nullable

### What are you trying to accomplish?
Writing an `and` c

[2020-12-07 14:40] Ten0 commented on #2589
This is due to this:
https://github.com/diesel-rs/diesel/blob/7ff5e6327d5e88095cb4b342da13bf06d6d0d1cd/diesel/src/expression_methods/bool_expression_methods.rs#L40-L51

And there must be a similar issue with `or`:
https://github.com/diesel-rs/diesel/blob/7ff5e6327d5e88095cb4b342da13bf06d6d0d1cd/diesel/src/expression_methods/bool_expression_methods.rs#L90-L98

[2020-12-07 14:51] weiznich commented on #2589
First of all I'm fully aware of this and would call this an deliberate change. [The commit](https://github.com/diesel-rs/diesel/commit/7ff5e6327d5e88095cb4b342da13bf06d6d0d1cd) you've linked in your comment even goes into details why this was changed that way (See the last bullet point). That written: I'm open to a change here as long as `BoolExpressionMethod::and` continue to return a `diesel::ds

[2020-12-07 16:00] Ten0 commented on #2589
Unless I'm mistaken, there's indeed no way to extract nullability directly from `T` as we cannot set higher requirements on T than `AsExpression<ST>`, for which we need to know ST.

So it indeed looks like without specialization we have to make a choice between:
 - Having `helper_types::And` and `helper_types::Or` return purely `XXX<Self,T>`
 - Knowing that `a.and(b)` can be non-null.

However:
-

[2020-12-07 16:19] weiznich commented on #2589
I would like to see a correct reference for this for at least all supported databases. `NULL` is really a strange concept in most SQL implementation, therefore I think it's not as simple as just saying stating that something like that "actually cannot happen".

But a breaking change for the existing API, while it's up to discussion to assume anything other than `diesel::dsl::SqlTypeOf<diesel::dsl:

[2020-12-07 17:12] Ten0 commented on #2589
So question is: are there cases where applying `AND` or `OR` to two non-nullable booleans would result in `NULL` being returned?
I guess that would be kind of a troll implementation if it was ever the case, but in any case the following seems to confirm that:
https://www.postgresql.org/docs/13/functions-logical.html
https://dev.mysql.com/doc/refman/8.0/en/logical-operators.html#operator_and
https:

[2020-12-07 18:51] Ten0 commented on #2589
I'm trying to workaround this and it's spiraling out of control.

Given the following kind of function:
[code]

Just adding `Nullable` around the `Bool`s doesn't work: it gives errors stating that we don't have e.g. `Nullable<table::id>: SelectableExpression<QS>`, and changing where clause to this doesn't work either as it starts giving the following error, referring to a Rust issue:
[code]

Just

[2020-12-08 14:02] weiznich commented on #2589
I guess that would be kind of a troll implementation if it was ever the case, but in any case the following seems to confirm that:
https://www.postgresql.org/docs/13/functions-logical.html
https://dev.mysql.com/doc/refman/8.0/en/logical-operators.html#operator_and
https://sqlite.org/nulls.html

It may sound like I'm very pedantic here, but just have a look at how `expr BETWEEN a AND b` is handled

[2020-12-08 14:57] avnerbarr opened #2591 "How can i create a table without running a migration through the cli tool"
I'm distributing an application to users, and the database + migrations need to be run from within the application and not the context of the diesel cli tool.

Not aware how to do that.

[2020-12-09 09:46] weiznich commented on #2591
Duplicate of https://github.com/diesel-rs/diesel/issues/1591.

Also this is a issue tracker, not a place to ask questions. Use our forum or our gitter channel for that.

[2020-12-09 09:46] #2591 closed

[2020-12-10 16:22] robinbernon opened #2593 "Feature Request - Access change for ValuesClause.values to make it easier to extend diesel to build Conditional Insert Statements"
# Feature Request

## Feature Description

I would like to create conditional insert statements using diesel for use with postgres.
In particular I would like to create the insert statements without using any db plugins so would like the statements to be in the form of:

[code]

## Issue I'm having

I can build out most of the query by myself through extensions although the 'select ....' line from

[2020-12-10 16:26] weiznich commented on #2593
Could you elaborate why you cannot just use the built-in support for [insert from select](http://docs.diesel.rs/1.4.x/diesel/fn.insert_into.html#insert-from-select)?

[2020-12-10 16:49] robinbernon commented on #2593
I wasn't sure how you would transform Vec<InsertableItemStruct> into diesel::SelectableExpression<()> so that you could apply it to the insert from select statement. Is there any easy way to do this?

[2020-12-10 16:52] weiznich commented on #2593
Ok, now I'm honestly confused. Why would you need to have a `Vec<InsertableItemStruct>` for a insert from select statement? Those are designed to be used to with existing data from existing tables. If that's not the case you probably try to do something wired, which would mean you should write down a complete motivating example.

[2020-12-10 16:56] robinbernon commented on #2593
Ah ok that's my issue - I don't want to insert existing data here.. As you can see from my first example in my first comment I want to insert new data under a where condition. Is there something about this you would like me to explain more?

[2020-12-10 16:58] weiznich commented on #2593
Please write down a complete example what are your input data and how you want to insert them exactly and why you cannot use existing API's there.

[2020-12-10 17:07] robinbernon commented on #2593
Ok sure, here is my issue in a condensed form:

I have a table with columns: id, field1, field2... etc.
I have an index on field1.
When doing a random select on a particular value in field1 I might get back ~0-10 rows at most.
I want to make sure that when inserting a row that field1 and field2 in combination are unique.

As I only get around 0-10 rows for a specific value in field1 I don't want t

[2020-12-10 17:11] weiznich commented on #2593
It's clearer now, but I do not understand why you want to use this complex likely inefficient scheme in favor of just using `UPSERT` statements. Could you collaborate on that?

[2020-12-10 17:19] robinbernon commented on #2593
The upsert option will only work for me if I add Unique(field1, field2) to the table. I think having this composite constraint is less efficient than just running a conditional check before the insert. Are there any issues with changing `pub(crate) values: T` to `pub values: T`?

[2020-12-10 17:25] weiznich commented on #2593
So the point is that you want to enforce some constrain here that you've not written down in your database schema. I would call this an antipattern in database design. If they are unique you really should add the correct constrain there, as this enables the database to do certain optimizations for queries.

Yes, those are considered internal because making them public would prevent any future chan

[2020-12-10 17:49] robinbernon commented on #2593
Sorry I'm a little confused, how can I create my `select 'field1_value' 'field2_value' ..etc` line without using that private values field?

[2020-12-10 17:52] weiznich commented on #2593
`diesel::select(1.into_sql::<Integer>)` will create the some select statement like this: `SELECT $1` with the bind `$1` set the `1`. You can then append any filter that you want there + I've already linked the docs for insert from select above.

Anyway I think I will close this issue now as this seems to be fixed for me. For additional questions about this topic please use our gitter channel or op

[2020-12-10 17:52] #2593 closed

[2020-12-10 18:01] robinbernon commented on #2593
I was asking about this line though: `select 'field1_value' 'field2_value' ..etc`. Your previous answer doesn't explain how I can get this line. I still think the only general way of doing it is by accessing the values field

[2020-12-10 18:14] weiznich commented on #2593
This is my last comment here. For anything else please reread everything again, and if that does not help ask in the gitter channel or on the forum, as this is an issue tracker that is used to track bugs and such things and that is not meant to be used for unrelated support questions.

Additionally :
a) You've chosen a rather inefficient way of doing things. That's fine, but that does not mean die

[2020-12-10 18:16] robinbernon commented on #2593
OK sure I get that, I just wanted to have it by using the values object as then it would have been automatic so I could have avoided adding it by hand like this - that's all. I guess I'll have to do this manually then...

[2020-12-10 18:19] robinbernon commented on #2593
Plus I don't think it is inefficient. Filtering through 5 or so elements is a better trade then adding a composite unique constraint to the table.

[2020-12-13 14:02] Ciantic commented on #1854
Hmm, was this implemented? I can't find as single example with SQLite and insert with `on_conflict` from here: https://github.com/diesel-rs/diesel/blob/master/examples/sqlite/all_about_inserts/src/lib.rs

Also my testing suggests `on_conflict` is not defined when using SQLite.

[2020-12-13 17:56] weiznich commented on #1854
@Ciantic You can see at the merged PR that this is implemented, but not released yet. Therefor its expected that you get this error message.

[2020-12-14 10:52] dot2com opened #2594 "error: Could not compile `mysqlclient-sys`."
原因是编译的时候找不到mysql对应的库，所以报错

解决方案如下：

安装 MySQL Connector/C  download address https://downloads.mysql.com/archives/c-c/

设置环境变量：

- MYSQLCLIENT_LIB_DIR

默认 在 C:\Program Files\MySQL\MySQL Connector C 6.1\lib\vs14

然后 执行 `cargo install diesel_cli --no-default-features --features mysql`

[2020-12-14 11:09] #2594 closed

[2020-12-14 12:37] weiznich commented on #2594
Please do provide an English issue text if you open an issue in this repo.

[2020-12-14 14:40] dessalines commented on #1611
Does anyone know of any messier workarounds to this? I have a comment table, that has column `parent_id: Option<Commentd>` , and I need to join to itself to get its parents. Maybe a SQL view and then redefine that view in rust code?

[2020-12-14 22:52] twiclo commented on #860
Throwing my hat in. I would love to be able to use serde's flatten micro without it needing to be in my table/schema

[code]

[2020-12-15 01:50] Ten0 commented on #1611
Yup, redefined view is the workaround we use.

[2020-12-15 10:00] pksunkara commented on #2589
Just encountered this with the following code:

[code]

giving the error:

[code]

Investigation into Postgres:

[code]

From the last query, It looks like `and` does need to support `NULL` for diesel to correctly represent stuff.

I think focusing on fixing the `Nullable<table::id>: SelectableExpression<QS>` error is probably the correct way to fix this issue.

[2020-12-16 01:20] pksunkara commented on #2589
So, as suspected, using the `Nullable<Bool>` boxed expression in `select` doesn't seem to work. I think we can comfortably say that all previous `BoxableExpression` don't work anymore.

[code]

[code]

I can't set `id` field in `User` as `Option` because schema doesn't have it as `Nullable`.

[2020-12-16 01:25] pksunkara commented on #2589
I might be missing some context, but if `self` can be nullable, I don't understand why there is a need to wrap `self` with `Nullable` when constructing `And`.

[2020-12-16 02:15] DarrienG commented on #2537
Just to make it clear for future searchers, as it was not obvious to me, this is required regardless of whether you are on Rust 2015, or 2018, it is required for both versions.

[2020-12-16 10:43] weiznich commented on #2589
@pksunkara

That's not correct. Your example is just something that was never supported. How would an query that returns `Nullable<Bool>` (or `Bool` on 1.4.x) map to your user struct, that has 2 fields?

I think the point here is slightly different. If we know that one argument to `and()` can be nullable we need to assume that the result can also be nullable, but if we know that non of the argumen

[2020-12-16 18:37] zedseven opened #2595 "Diesel Migrations fails compilation with `README.md` in migrations directory"
## Setup

### Versions

- **Rust: 1.48.0**
- **Diesel: v1.4.5**
- **Diesel_Migrations: v1.4.0**
- **Database: SQLite**
- **Operating System: Windows 10**

### Feature Flags

- **diesel: default**
- **diesel_migrations: default**

## Problem Description
Having a simple `README.md` file in the migrations directory causes the `embed_migrations!` macro to fail compilation.

### What are you trying to

[2020-12-17 08:32] weiznich commented on #2595
Thanks for the well written bug report.
This should be rather simple to fix, as we just need to filter out all non directories in this function [here](https://github.com/diesel-rs/diesel/blob/06494e8bdfe774bac9be5cab488b3d0cbec97f4e/diesel_migrations/migrations_internals/src/lib.rs#L315).
I mark this as "help wanted" as this is something that is not high priority for me.

[2020-12-17 14:45] KirillPerepelitsa commented on #825
Hi guys, do we have any updates on it ? Or maybe some one found good workaround for it ?

[2020-12-17 15:22] KirillPerepelitsa commented on #825
For me worked:
use #[column_name={parent_id_from_schema}] before modified field on model and set #[belongs_to({parent_model}, foreign_key = "{parent_id_from_schema}")]

[2020-12-18 17:11] Ten0 commented on #2589
I had started to write an answer when the thread was at https://github.com/diesel-rs/diesel/issues/2589#issuecomment-740637515 but apparently I forgot to conclude it and somehow lost the text :(
So let's rewrite. :)

That is not a rustc suggestion, but something I attempted because it seemed to match the requirement change of `and`.
The error message I get when attempting to use this seems to refe

[2020-12-18 18:11] weiznich commented on #2589
The point is that strategy is not really possible for `.and()` because otherwise you would have a `filter()` call with quite a lot of `.nullable()` calls in it. I wouldn't call that a good API, especially as this was not the case for 1.x.

Having thought about this a bit more I think I've found a solution that does not require a breaking change. On 1.4.x the impl for `BooleanExpressionMethods::and

[2020-12-18 18:18] Ten0 commented on #2589
Oh right, so we set `dsl::And` with `ST = Bool` for retrocompatibility, and have `dsl::NullableAnd` with `ST = Nullable<Bool>` for easily expressing the type when `Self::SqlType` is nullable, and possibly another `MaybeNullableAnd<Self, T, ST>` (any idea on a better naming?) for the actual return type? LGTM. I can probably provide a PR shortly :)

[2020-12-18 19:54] sideralis opened #2596 "Give a more complete example of how sum and avg functions could be used"
This is not an issue but I can't get sum or avg working.

I have one table _data_ with a column _temp_ (which is a i16 or `temp -> Nullable<Int2>` in schema.rs).

I tried:
[code]
but when compiling, I got this:
[code]
So I changed to:
[code]
But then I got:
[code]
I can't find a solution to solve this...

Help is welcome.

[2020-12-18 20:30] weiznich commented on #2589
I think we do not need to provide any other type wrapper other than `dsl::And` here. For the PR, please change the `or` method as well. Evrrthing written in this thread applies there too.

[2020-12-18 20:33] weiznich commented on #2596
As mentioned in several places in the documentation: Types from `diesel::sql_types` are not designed to hold any value on rust site. See the documentation of those sql typea for compatible rust types.
Also: Pleaseask further questions in our gitter channel or in our forum, not in the issue tracker.

[2020-12-19 06:30] sideralis commented on #2596
Thanks for your answer.
Yes, I know and sorry for that, but I could not find the forum and still can't find it...
I will try gitter in the worst case.

[2020-12-21 13:20] Ten0 opened #2600 "`Or` is incorrectly only nullable if both arguments are nullable"
## Setup

### Versions

- **Rust:** latest stable
- **Diesel:** latest master (06494e8bdfe774bac9be5cab488b3d0cbec97f4e)
- **Database:** PostgreSQL
- **Operating System** Linux

### Feature Flags

- **diesel:** postgres extras

## Problem Description

`Or` is declared to be an operator whose output is `Nullable` only if all of its inputs are nullable:
https://github.com/diesel-rs/diesel/blob/06494

[2020-12-21 13:51] Ten0 opened #2602 "Postgres's IsDistinctFrom incorrectly considers it may return NULL if either of the arguments is Nullable"
## Setup

### Versions

- **Rust:** latest stable
- **Diesel:** latest master (06494e8bdfe774bac9be5cab488b3d0cbec97f4e)
- **Database:** PostgreSQL
- **Operating System** Linux

### Feature Flags

- **diesel:** postgres extras

## Problem Description

As identified at https://github.com/diesel-rs/diesel/pull/2597#issuecomment-748500843, `IS DISTINCT FROM` for PostgreSQL (doc: [postgres](https://ww

[2020-12-21 15:07] weiznich commented on #2596
The forum can be found [here](https://discourse.diesel.rs/).
Closed as this is nothing that is actionable for anyone of the contributors.

[2020-12-21 15:07] #2596 closed

[2020-12-22 05:31] theswerd opened #2605 "Diesel_cli on Mac M1"
I cannot install the **diesel_cli** on my Mac M1 Computer

### Versions

- **Rust:**
- rustc 1.50.0-nightly (1c389ffef 2020-11-24)
- rustup 1.23.1 (3df2264a9 2020-11-30)
info: This is the version for the rustup toolchain manager, not the rustc compiler.
info: The currently active `rustc` version is `rustc 1.49.0-beta.4 (877c7cbe1 2020-12-10)`
- cargo 1.50.0-nightly (bfca1cd22 2020-11-24)
- **Diese

[2020-12-22 06:41] mjanda commented on #2605
You need to get libpq built for macOS-arm64 (homebrew will install it somewhere under /opt/homebrew) and supply it to rustc using 'RUSTFLAGS='-L /path/to/library/directory''

[2020-12-22 09:10] weiznich commented on #2605
As pointed out by the comment above and the compiler error message this is not a diesel issue, but an issue with your environment (just install a compatible libpq or use the `x86_64` target).

[2020-12-22 09:10] #2605 closed

[2020-12-22 10:16] mrceperka commented on #2595
Rather simple fix, indeed. That's why I've attempted to fix it :)

[2020-12-22 11:05] #2600 closed

[2020-12-23 13:54] pickfire commented on #419
Is it possible to explain how to use sqlite and mysql database in https://diesel.rs/guides/getting-started/ and https://github.com/diesel-rs/diesel/tree/master/examples/sqlite, I need to go through the code to figure out how to use sqlite which is https://github.com/diesel-rs/diesel/blob/master/examples/sqlite/test_all#L4 `DATABASE_URL="/tmp/test_examples.db"`? It would be good to have it in a REA

[2020-12-23 14:49] weiznich commented on #419
@pickfire Sure that's possible. Feel free to submit a PR for that.

[2020-12-23 15:10] pickfire commented on #151
[code]

I was getting a weird error when missing `table_name`, I thought it will show some good errors but somehow I forgot to insert it. Then when I run it, I got confused with the error message, at the end it took me some time to realize it's related to missing `table_name`.

[code]

Any idea if this could be improved?

[2020-12-25 10:44] Voodlaz commented on #2595
So, Do we have a fix or not?

[2020-12-25 10:47] Voodlaz commented on #2513
@weiznich I want to work on this

[2020-12-25 10:54] Voodlaz opened #2609 "There's a lot of diesel Pull request which are approved, but not merged"
And all of them have a failing CL. Why does this happen? Why no one merges commits?

[2020-12-25 15:29] #2609 closed

[2020-12-26 16:30] fclinux commented on #2015
unluckily the Diesel setup has the same issue and it do not run anymore. I tried to use cmd and that is so bad.

[2020-12-26 16:42] pickfire opened #2611 "Document how to establish a connection"
Unless someone check the diesel website or look deep into the docs, it is hard to figure out that `Connection::establish` is used to establish a connection without looking too deep into the docs. Maybe a module level documentation (`diesel::connection` might be a good place, I find it quite empty) or crate level documentation would solve this?

My experiment source code and notes if anyone is inte

[2020-12-29 21:47] mishaszu opened #2612 "WSL installation error: cannot find -lpq"
## Setup

### Versions

- **Rust:**
**nightly: rustc 1.50.0-nightly (7efc097c4 2020-12-12)**
**stable: rustc 1.48.0 (7eac88abb 2020-11-16)**
- **Diesel: diesel_cli**
- **Database: postgresql**
- **Operating System: Windows 10 - WSL - Ubuntu 20.04**

### Feature Flags

- **diesel: postgres**

## Problem Description
While following [official guide](http://diesel.rs/guides/getting-started/) I'm not a

[2020-12-29 21:57] mishaszu commented on #2612
Interestingly I tried to install `diesel_cli` on arch64 (Rasbperry Pi) Ubuntu and end up with the same error.

[2020-12-30 18:22] mishaszu commented on #2612
[I found this issue](https://github.com/diesel-rs/diesel/issues/321). Installing `libpq-dev` solved the problem for me.

[2020-12-30 18:22] #2612 closed

[2020-12-30 23:16] thecooldrop opened #2613 "Impossible to have multiple foreign keys referencing same table from single table"
## Setup

### Versions

- Rust version 1.4.8
- Diesel version 1.4.4 with "postgres" feature

## Problem Description
I am trying to create a struct which references the same table twice. The purpose of this is to create a kind of hierarchy of categories. Here is what I am trying to do for following tables:

[code]

I am trying to create the matching structs as in :

[code]

And I am getting the fol

[2020-12-31 12:39] thecooldrop commented on #2613
Hi @TaKO8Ki , this is not necessarily related to postgres, but rather to the way in which foreign keys are handled, thus I find the label "postgres" not quite suitabe, do you happen to have a label like "feature request" or similar?

[2020-12-31 12:51] TaKO8Ki commented on #2613
@thecooldrop
I'm sorry. I only skimmed through this issue briefly, and I added a wrong label.

[2021-01-02 20:41] thecooldrop commented on #2613
So @TaKO8Ki I have been familiarizing myself with the `BelongsTo<Parent>` trait and the implementations which are generated by derives of this trait. So here is what I have found up to now. The `BelongsTo<Parent>` trait is defined as :

[code]

Now this means that for each type implementing the trait we can have one and only associated foreign key column. Namely the associated type enforces that f

[2021-01-03 00:32] thecooldrop commented on #2535
I would like to take this issue as first contribution to Diesel.

May I ask you @weiznich to assign it to me?

[2021-01-04 09:13] weiznich commented on #2613
Duplicate of #2142

[2021-01-04 09:13] #2613 closed

[2021-01-04 09:14] weiznich commented on #2535
@thecooldrop Feel free to submit a PR for this. I should probably add that I don't think that `get_result` is the right place for this as `get_result` is available for queries using the `mysql` backend, just not for insert statements.

[2021-01-04 09:22] thecooldrop commented on #2613
@weiznich I know that this is closed, but given my understanding of the other issue you have linked I have come to following conclusion. The BelongsTo type of relationship here is not the way it is meant to be used, and such self-referential relationships should not be handled with BelongsTo, but rather with explicit joins?

[2021-01-04 09:33] weiznich commented on #2613
It's totally fine to use `#[derive(Associations)]` with a self referential relation ship. The point is that we don't support having more than one relation ship to the same table (regardless if it's self referential or not) as we cannot know what you would mean by writing `Table1::belonging_to(elements)` afterwards. Introducing another column parameter there is not really meaningful as the query th

[2021-01-04 12:31] weiznich commented on #2513
@Voodlaz Sure feel free to submit a PR

[2021-01-04 12:55] weiznich commented on #151
@pickfire

Generating a better error message for this case is unfortunately not possible as rust does not provide any API for proc macros to check which items are in scope and which are not in scope.

If there is no `#[table_name = "…"]` attribute all of our derives default to using the plural (just append a `s`) snake case name of the current struct as `table_name`. As removing this behavior is a

[2021-01-04 13:07] weiznich commented on #2611
I'm not sure what you exactly expect with more in depth documentation. For us the entry point to diesel are the guides provided on our web page, where as the [Getting Started](https://diesel.rs/guides/getting-started/) guide provides a complete example how to connect to a database.

That's because normal users don't need to bother with this module. It's only relevant for implementing third party b

[2021-01-04 13:07] #2611 closed

[2021-01-04 16:10] #2595 closed

[2021-01-04 16:29] pickfire commented on #2611
Can you please assign this issue to me, getting started guide did provide an example but just in case a user missed that part. Some existing users may prefer going through the docs (I like it because it works offline).

What I was planning to do was to mention how to establish a connection in `diesel::connection` module (and link to getting started guide). If a user happened to browse through that

[2021-01-04 17:07] pickfire commented on #151
Thanks for the explanation, I didn't know zero sized struct is both a value and a type.

While trying to make a minimal reproduction, I also find that you can't use `#[table_name = "schema::users"]`, it will show `= help: message: `"schema::users"` is not a valid identifier`, I guess that is another rustc limitation on paths.

[2021-01-04 20:58] thecooldrop commented on #2535
@weiznich Your comment is really confusing me since according to my analysis, given that `MySql` does not implement `SupportsReturningClause` we should not be able to have get_results for any of the statement types with MySql backend. Here is why:

1. `RunQueryDsl::get_result<U>(self, conn: &Conn ) -> QueryResult<U>` is defined only for those implementors of the trait which also implement the `Loa

[2021-01-04 21:09] sgrif commented on #2535
Just to confirm, `get_result` should not be implemented for insert queries on MySQL. As the compile error points out, MySQL provides no mechanism to perform an insert and get the resulting row in a single query (which is done using a `RETURNING` clause on PG).

[2021-01-04 21:14] thecooldrop commented on #2535
@sgrif It seems like the `get_result` method should not be implemented for update or delete statements for MySQL, or by extension of my argumentation above, for any backend other than Postgres. Did I miss something?

[2021-01-04 22:03] sgrif commented on #2535
Nope, you didn't miss anything. PostgreSQL is the only driver we support by default for which we can reasonably implement this method. I'm just using language which excludes MySQL instead of language which specifies PostgreSQL since there are other SQL databases for which this could be implemented, that Diesel doesn't support out of the box, but for which a third party crate could provide a driver

[2021-01-07 13:55] erihsu opened #2617 "Geometric Types in Postgresql support"
It seems diesel not support Geometric Types in postgresql feature currently. Any plan to support this ?

[2021-01-07 13:57] weiznich commented on #2617
Duplicate of #491

[2021-01-07 13:57] #2617 closed

[2021-01-07 17:31] #2602 closed

[2021-01-08 00:17] github-actions[bot] opened #2618 "RUSTSEC-2020-0095: difference is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `difference`                      |
| Version             | `2.0.0`                   |
| URL                 | [https://github.com/johannhof/difference.rs/issues/45](https://g

[2021-01-09 21:34] sburris0 commented on #806
This really should be documented somewhere more obvious, such as the main page

[2021-01-11 17:15] SirWindfield opened #2619 "Feature: `diesel_migrations::run_pending_migrations`, allow to specify other output then stdio"
Hey!

First off, thanks for taking your free time to maintain `diesel`, it's really a great crate!

I am using the `diesel_migrations::run_pending_migrations` function in one of my applications that also uses `tracing` and was wondering if it is somehow possible to redirect the output of the migrations that get normally printed to the terminal to some other `Write` implementation maybe? The same w

[2021-01-11 17:28] weiznich commented on #2619
If you want to customize how `diesel_migrations::run_pending_migrations` handles the output consider using [`diesel_migrations::run_migrations`](http://docs.diesel.rs/1.4.x/diesel_migrations/fn.run_migrations.html) which exposes this functionality.

As for the difference between `embedded_migrations::run` and `diesel_migration::run_pending_migrations`: The `embed_migrations!` macro embedded all yo

[2021-01-11 17:28] #2619 closed

[2021-01-11 17:30] SirWindfield commented on #2619
Ah sorry, I missed the gitter chat part! Thanks for still answering the question though!

[2021-01-12 09:19] youngtrashbag commented on #1608
@liuspatt thank man, it worked 😄

[2021-01-12 21:06] mlodato517 opened #2620 "`into_boxed` equivalent for INTERSECT"
I was looking to handle code that would generate `INTERSECT` clauses in a loop based on some input. For instance:

[code]

Since https://github.com/diesel-rs/diesel/pull/2514 landed I tried this out but I think I'm running into the same issue one gets when adding `filter` clauses in a loop - the type of the `fold` accumulator changes each iteration. Specifically the two methods I tried were:

[cod

[2021-01-13 03:58] nopol opened #2621 "posts::table.into_boxed() could not compile successful"
### Versions

- **Rust:** rustc 1.49.0 (e1884a8e3 2020-12-29)
- **Diesel:** 1.4.5
- **Database:**  mysql-5.7.24
- **Operating System** macOS 10.13.4

### Feature Flags

- **diesel:** diesel = { version = "1.4.5", features = ["mysql"] }

## Problem Description

[code]

[code]

### What is the expected output?

compile success

### What is the actual output?

[code]

When I change `let mut query = p

[2021-01-13 04:14] Mingun commented on #2621
You need to utilize return value of the `filter` method.

Diesel team probably should add `#[must_use]` attribute here and for other similar traits:
https://github.com/diesel-rs/diesel/blob/a4b8031f6a096c8ea4032e7d8f05711d7f0dea1a/diesel/src/query_dsl/filter_dsl.rs#L12-L18

[2021-01-13 05:58] nopol commented on #2621
Thank you very much. I change the code to `query = query.filter(title.eq(page.title.clone()));` and it works.

[2021-01-13 05:58] #2621 closed

[2021-01-13 06:22] Mingun commented on #2621
I think, that you can convert your issue into a task for adding `#[must_use]` attributes, because absence of them lead to your error and that can be fixed.

[2021-01-13 08:34] weiznich commented on #806
@sburris0 Feel free to provide a PR doing this. Otherwise this is already documented as part of the `SqliteConnection` documentation.

[2021-01-13 08:39] weiznich commented on #2621
@Mingun I'm quite sure that `#[must_use]` would not have been triggered in that case, as lints only get evaluated after the borrow checker.

Otherwise it seems reasonable to add a few more `#[must_use]` attributes on all `QueryDsl` methods. Would be happy to receive a PR for that.

[2021-01-13 08:43] weiznich commented on #2620
This is currently not supported. In theory we could have another type that implements a boxed variant of this. That written: At least I do not have the capacity to work in any way on that at least till after the 2.0 release. Which means if anyone is interested in contributing this feature, they need to do all the design work on their own. In that case I would expect a PR with some tests + compile

[2021-01-13 19:57] dyedgreen commented on #399
Leaving a note for people trying to use diesel in an asynchronous context: Check out https://github.com/djc/bb8, it’s an async connection pool with an adapter for diesel, and I found it works very well 😃

[2021-01-14 00:25] pksunkara commented on #2584
That branch is blocked on #2557 first which I will finish off first.

[2021-01-14 04:49] dot2com commented on #2594
The reason is that the library corresponding to mysql cannot be found when compiling, so an error is reported

The solution is as follows:

Install MySQL Connector/C download address https://downloads.mysql.com/archives/c-c/

Set environment variables:

MYSQLCLIENT_LIB_DIR
The default is C:\Program Files\MySQL\MySQL Connector C 6.1\lib\vs14

Then execute cargo install diesel_cli --no-default-featu

[2021-01-14 10:39] weiznich commented on #2594
Just to clarify that: Diesel does not depend on python in any way. You don't need to install python to use diesel.

[2021-01-17 21:06] gjvnq opened #2622 "Can't run migration with ```DELIMITER $$```"
## Setup

### Versions

- **Rust:** 1.50
- **Diesel:** 1.4.5 (diesel_cli reports 1.4.1)
- **Database:** MariaDB
- **Operating System** Manjaro Linux

### Feature Flags

- **diesel:** default ones

## Problem Description

diesel-cli seems to not understand the ```DELIMITER``` SQL command.

### What are you trying to accomplish?

Add triggers using SQL.

### What is the expected output?

[code]

###

[2021-01-18 07:34] devdoomari3 commented on #399
@weiznich about the benchmarks, do the results apply for separate network-connected webserver / db?

I often saw benchmark results with webserver and db on the same machine... so I'm wondering if the results would transfer to conditions with network-latency and timeouts / etc. (something like a 'kinder' version of jepsen?)

eg. if there's a lot of webserver-db connections, and timeouts/disconnects

[2021-01-18 08:38] weiznich commented on #2622
As the error message mentions this is not a diesel issue, but your database system (MariaDB) does just not support the SQL you've provided. Diesel does not preprocess the SQL provided for migrations in any way.

Closed as this is not a diesel issue.

[2021-01-18 08:38] #2622 closed

[2021-01-18 09:02] weiznich commented on #399
@devdoomari3 I've run all benchmarks against a local installation of the database system, as it is quite a lot of work to get a reproducible setup for simulating a network-latency. Non of them includes running a webserver, as this is not required for any of those benchmarks and would just add some more variance. If you are interested in numbers including network-latency and timeouts feel free to c

[2021-01-19 07:12] cemoktra opened #2623 "SQL UNIQUE with multiple foreign keys"
## Setup

### Versions

- **Rust:** 1.49.0
- **Diesel:** 1.4.2
- **Database:** MariaDB
- **Operating System** Linux / Ubuntu

### Feature Flags

- **diesel:** mysql

## Problem Description

### What are you trying to accomplish?
I'm trying to create a schema for an existing database.

### What is the expected output?
A working schema.rs

### What is the actual output?
`Unexpected null for non-null

[2021-01-19 07:14] weiznich commented on #2623
Please provide a corresponding schema (as `CREATE TABLE` statements) to reproduce this, otherwise this is not really actionable for any contributor.

[2021-01-19 08:18] cemoktra commented on #2623
As i said, i spend multiple hours already trying to do that. Will try again later

[2021-01-19 08:24] cemoktra commented on #2623
Ok updated. Today it was easier

[2021-01-19 09:58] devdoomari3 commented on #399
@weiznich I was asking if your benchmarks apply in situations where clients-of-db (mostly webservers/etc) and DB are on separate machines. (and also wondering if anyone's doing the benchmark with such assumption)

ok then so even there's a high-latency issue, it's like only a few MBs of ram wasted for non-async case?

[2021-01-19 10:14] weiznich commented on #399
@devdoomari3

If I understand you correctly here, you mean you could work around that by having aync connections? Or by having more connections? Could you elaborate on that, because as far as I know database systems tend to handle a large number of connections not so well (and that's not just a issue of add more RAM, but a fundamental constrain (see [here for example]()). Also adding async here wi

[2021-01-19 18:01] weiznich commented on #2618
As we use this crate only for our test cases and it works fine there I'm fine with using a unmaintained crate here.

[2021-01-19 18:01] #2618 closed

[2021-01-19 19:18] #2623 closed

[2021-01-21 20:44] gjvnq commented on #2622
Actually it does support because I tried to run it and it worked.

According to the [official documentation](https://mariadb.com/kb/en/delimiters/), MariaDB not only supports but recommends the use of ```DELIMITER``` when creating procedures.

[2021-01-22 08:38] weiznich commented on #2622
According to the documentation you've linked above `DELIMITER` is something that gets interpreted by the `mysql` client part (so the console application you type your queries into). Diesel talks directly with the server, so there is no need for setting a custom `DELIMITER` there. For future reference the following syntax works just fine:

[code]

[2021-01-23 21:16] jupp0r commented on #399
This is not the point. I'd much rather spend my efforts writing code against an async API that is still sync under the hood knowing that I will be able to leverage free performance gains in the future and/or be able to scale up easily. It should be completely uncontroversial that this is the way to go, browsers have been doing it for years - even for mundane things like DOM manipulation - just bec

[2021-01-23 22:12] Razican commented on #43
Hi! What are the technical challenges for diesel to automatically add views in the schema as it does with tables?

[2021-01-24 04:14] ibraheemdev commented on #150
As @theduke mentioned, it would be nice if diesel provided callbacks (like active record) for other crates to hook into:
[code]
Then you could have diesel "plugins" for logging, profiling, validations, etc.

[2021-01-24 08:12] weiznich commented on #399
@jupp0r Instead of repeating the same claims again you could contribute something constructive to this discussion, like:
* How to fix the rustc bug linked above
* How would an async connection API look like based and the toy implementation given above
* Or even an benchmark with some reproducible numbers backing up your claim

Otherwise please don't comment on this issue, as it is meant to be used

[2021-01-24 09:44] huangjj27 opened #2632 "diesel cli always return without anything"
## Setup
`cargo install diesel_cli --no-default-features --features postgres -f`

### Versions

- **Rust:** rustc 1.49.0 (e1884a8e3 2020-12-29)
- **Diesel:** 1.4.5
- **Database:** postgres 13.1
- **Operating System: ** Windows 10

### Feature Flags

- **diesel:** --no-default-features --features postgres -f

## Problem Description
any command I typed as follow return directly:
[code]

### What are

[2021-01-24 09:57] weiznich commented on #2632
Duplicate of #2015

[2021-01-24 09:57] #2632 closed

[2021-01-24 11:04] Bajix commented on #399
It might help simmer things to discuss the downsides a bit more. My understanding is that the benefits are moot because async await is incapable of scaling database connections and having a threadpool allocated to connections is a non-issue. At best async await reduces thread context switches and saves a marginal amount of ram but what it does not do is increase the connection count nor the query-

[2021-01-25 09:42] weiznich commented on #43
@Razican Using `table!` to represent views is only a crude workaround. Infer the necessary definitions from the database while doing `diesel print-schema` is probably quite easy, the main challenge here is to design and implement a dsl for views.
The main point here is that views have a different semantics than tables:
* They have no primary keys
* They can support data manipulation queries (like

[2021-01-25 09:48] weiznich commented on #150
@ibraheemdev You just left of the intisting part of the function signature. How exactly would those hook functions look like, so that we don't have a separate one for each function in the `Connection` interface and don't expose any internal details.
Fixing this issue is nothing that is currently on my priority list. If someone is interested in working on this I encourage you to open a new topic in

[2021-01-25 09:53] #2589 closed

[2021-01-25 17:26] dpc commented on #150
@ibraheemdev

Callsbacks don't generally work great with Rust, IMO. Typically in cases like this I would allow user to register a handler object implementing a certain trait:

[code]

and then this object would get called with

[code]

or something like that.

Just my 2c.

[2021-01-26 09:29] weiznich commented on #150
@ibraheemdev @dpc That seems like a possible solution. If someone is actually interested in implementing this, please open a new topic at the discussion forum, so that we can figure out the details of the API there. I see a few open questions that need to be addressed, like:
* Which events exactly do we want to expose?
* How do we want to expose queries, as they are generic types?

[2021-01-26 15:09] weiznich commented on #268
That's fixed since #2269

[2021-01-26 15:09] #268 closed

[2021-01-26 15:14] weiznich commented on #457
Should be fixed by #2626 if that's ready

[2021-01-26 15:17] weiznich commented on #688
Fixed by #1790

[2021-01-26 15:17] #688 closed

[2021-01-26 15:25] weiznich commented on #905
I think this is somewhat covered now with the print-schema tests in diesel-cli.

[2021-01-26 15:25] #905 closed

[2021-01-26 16:11] weiznich commented on #1134
As indicated in #1667 we would like to see CockroachDB support as a third party crate. Additionally `infer_schema!` is deprecated since a few versions. If anything else is needed from diesels side to write such a third party connection implementation open a new issue.

[2021-01-26 16:11] #1134 closed

[2021-01-26 16:13] weiznich commented on #1313
Closed as `infer_schema!` is deprecated since a few versions.

[2021-01-26 16:13] #1313 closed

[2021-01-26 16:18] weiznich commented on #1435
That's basically #2367?

[2021-01-26 16:25] #1544 closed

[2021-01-26 16:44] weiznich commented on #1997
As pointed out by Siân we are not interested in adding support for TiDB to diesel itself. This could and should be handled by a third party crate maintained by someone that actually uses TiDB. If such a crate exists we are happy to accept a PR for integration within diesel-cli. If there is anything else missing diesel itself which blocks implementing such a third party backend feel free to open a

[2021-01-26 16:44] #1997 closed

[2021-01-26 16:47] weiznich commented on #1883
Basically a duplicate of #1344

[2021-01-26 16:47] #1883 closed

[2021-01-26 16:56] weiznich commented on #1979
Another update here: The [`BoxedQuery`](https://docs.diesel.rs/1.4.x/diesel/macro.table.html#boxedquery) type generated by the `table!` macro has a `ST` parameter that is set by default to the corresponding SQL type of all columns. We probably want to mention that one can easily change the corresponding SQL type to the correct one using `SqlTypeOf<super::version::AllColumns>` in the corresponding

[2021-01-26 16:58] weiznich commented on #2032
Closed as the original idea does not really work due to limitations in SQL. If someone comes up with a better solution please open a feature request post in our discussion forum.

[2021-01-26 16:58] #2032 closed

[2021-01-26 17:01] weiznich commented on #2053
Closed as this seems to be a user error. We could probably try to improve the error message here a bit.

[2021-01-26 17:01] #2053 closed

[2021-01-26 17:02] weiznich commented on #2058
Closed as this seems to be a duplicate of #777

[2021-01-26 17:02] #2058 closed

[2021-01-26 19:33] weiznich commented on #2095
Fixed by #2401

[2021-01-26 19:33] #2095 closed

[2021-01-27 09:32] weiznich commented on #2090
As #1897 contains a [test case for exactly this case](https://github.com/diesel-rs/diesel/pull/1897/files#diff-1cf474c9f3bbf797f3d9d0791f0dd69dcb62a461f563dff7fb97e4cb87b564e6) I would like to see a reproducing example for this otherwise I consider this fixed.

[2021-01-27 09:34] weiznich commented on #2099
The back trace indicates that this happens in code generated by `#[derive(Debug)]`. Could someone check if that's fixed by a newer rust version?

[2021-01-27 09:37] weiznich commented on #2107
Fixed by https://github.com/diesel-rs/diesel/pull/1292/ + this is not part of any release yet therefore the examples on the master branch may differ.

[2021-01-27 09:37] #2107 closed

[2021-01-27 09:38] weiznich commented on #2127
As pointed out by Siân this could be done via `sql_function!` in a third party library. If that requires additional support in diesel itself please open a feature request post in our discussion forum.

[2021-01-27 09:38] #2127 closed

[2021-01-27 09:42] weiznich commented on #2167
According to the comment above that seemed to be a linker issue.

[2021-01-27 09:42] #2167 closed

[2021-01-27 09:50] weiznich commented on #2383
I do not feel that this would fit nicely into the current type system for static queries. Otherwise a similar pattern is already possible for dynamic queries, therefore I close this issue.

[2021-01-27 09:50] #2383 closed

[2021-01-27 09:51] weiznich commented on #2393
Fixed by #2405 and #2509

[2021-01-27 09:51] #2393 closed

[2021-01-27 10:31] #2523 closed

[2021-01-28 06:17] jonringer commented on #1764
It would be really beneficial if the recommended documentation such as http://diesel.rs/guides/getting-started/  didn't lead you astray. The examples that are in the source tree (at the same tag) are helpful, but it's not obvious that the getting started guide will lead you to errors that are one or two steps removed from the origin source (e.g. "cannot find `__diesel_parse_table!`")

[2021-01-28 08:20] weiznich commented on #1764
@jonringer I don't know why you feel that the getting started guide leads you astray, as it has a `#[macro_use] extern crate diesel;` in literally the first rust code block on that page. Anyway if you have some concrete suggestions for improvements: You will find the source code [here](https://github.com/sgrif/diesel.rs-website/), just open a PR with your improvements there.

[2021-01-28 16:02] ShadowJonathan commented on #399
Tokio 1 is out, is this point still relevant @sgrif?

[2021-01-28 16:26] weiznich commented on #399
@ShadowJonathan That does not really matter, as there are quite a few other blockers pointed out in this thread. Non of them are resolved.

[2021-01-28 16:27] #1641 closed

[2021-01-29 07:51] #2203 closed

[2021-01-31 04:40] vmasdani commented on #771
this helped me so much. thank you

[2021-01-31 23:54] Mart-Bogdan commented on #2517
SqlState also would be helpful as a separate getter.

Many DBMS supports error codes beyond string message

[2021-02-01 18:30] jonringer commented on #1764
I must have started from another post, then stumbled upon the getting started later and was selectively trying to "patch" my code to work. You're correct though, following the guide strictly does work. I apologize.

absolutely.

Sorry for the noise.

[2021-02-01 20:18] hussainhyder23 commented on #1841
I am getting the same error now. I did Cargo clean as well and getting the same error

`error[E0277]: the trait bound `std::option::Option<diesel::sql_types::Jsonb>: diesel::Expression` is not satisfied
   --> src/models.rs:651:24
    |
651 | #[derive(Identifiable, Insertable, Debug, AsChangeset)]
    |                        ^^^^^^^^^^ the trait `diesel::Expression` is not implemented for `std::o

[2021-02-02 07:39] weiznich commented on #1841
@hussainhyder23 That's a different error. As documented you should never use types from `diesel::sql_types` as value types. Additionally asking unrelated questions on already closed issues is not the right way to get any support. Please stop doing that.

[2021-02-02 19:11] Gearme commented on #2617
There are indeed third-party crates supporting the types, but they may not be maintained, add another layer of complexity and often require a number of workarounds. [diesel_geometry](https://docs.rs/diesel_geometry/1.4.0/diesel_geometry/index.html) for example has not seen any commits for three years. So it's understandable to wish for it.
That said, I realize that simply subsuming that functional

[2021-02-03 02:53] puffanddmx opened #2638 "he trait `diesel::Expression` is not implemented for `i64`"
hi!

i am testing rockets for testing web login. when i run build , i got this error.

-my code

https://github.com/puffanddmx/rust_webserver/blob/master/src/model.rs#L3-L15

https://github.com/puffanddmx/rust_webserver/blob/master/Cargo.toml#L13

-error
 src/model.rs:10:10
   |
10 | #[derive(Insertable)]
   |          ^^^^^^^^^^ the trait `diesel::Expression` is not implemented for `i64`
   |

[2021-02-03 08:07] weiznich commented on #2638
Closed as this does not use our issue template, which is mandatory. Additionally this is a duplicate of existing "issues".

[2021-02-03 08:07] #2638 closed

[2021-02-03 08:40] weiznich commented on #2617
@Gearme I can understand the wish of having support for this in diesel itself, but I just don't have the capacity to do this. Anyway back to something we can probably solve: You've mention that this requires a number of workarounds. Could you give a bit more details about that, as this is probably something we could improve on from diesels side.

[2021-02-04 20:21] #2577 closed

[2021-02-04 20:21] weiznich commented on #2577
Closed due to missing information.

[2021-02-06 21:10] ModPhoenix commented on #860
Are there any updates? It really is a very useful feature.

[2021-02-07 05:52] Acidic9 opened #2641 "The column is of type varchar[] changing the column type to text[]"
## Setup

### Versions

- **Rust:** 1.23.1
- **Diesel:** 1.4.4
- **Database:** Postgres
- **Operating System** MacOS

### Feature Flags

- **diesel:** `["postgres", "r2d2"]`

## Problem Description
In a migration file, I am trying to create a column of type `VARCHAR(255)[]`, but Diesel warns me when running the migration with:

### What are you trying to accomplish?
Create a column of type `VARCHA

[2021-02-07 09:47] weiznich commented on #2641
Basically a duplicate if #287.

[2021-02-07 10:12] weiznich commented on #860
@ModPhoenix If you don't have arguments to add, which are not already listed above please don't comment on old issues asking for updates. If there the issue has no update for some time there is no update.

[2021-02-08 09:01] weiznich commented on #2641
Closed in favor of the original issue. We are aware of that (obviously, because we print out a warning for this already). We do not have any plans to support this anytime soon for the reasons listed in the original issue. For an "easy" fix we would need to have some form of specialization in rust.

[2021-02-08 09:01] #2641 closed

[2021-02-09 19:23] Ofenhed commented on #815
@sgrif sql_function has been reworked since this was closed. Would it be more sensible to make a sql_function into a QuerySource as it looks today?

[2021-02-10 08:35] weiznich commented on #815
@Ofenhed Turning all the data structures generated by `sql_function!` into a `QuerySource` won't work, because that's not the case for sql functions in general. That said I'm open to someone working on this feature. I would expect first some written proposal on how the API should look like in our discussion forum.
Additionally I should add that it's likely possible to implement something like this

[2021-02-12 11:51] Acidic9 opened #2644 "Combine multiple queries into single SELECT query"
## Setup

### Versions

- **Rust:** 1.23.1
- **Diesel:** 1.4.4
- **Database:** Postgres
- **Operating System** MacOS

### Feature Flags

- **diesel:** `["postgres", "r2d2"]`

## Problem Description

Given the following SQL query:
[code]

How can I execute this in Diesel?

So far I have:
[code]

I am not sure how I can run a select query on all three of these queries in a single query. Is this func

[2021-02-12 11:58] #2644 closed

[2021-02-14 23:01] Mart-Bogdan opened #2646 "[diesel_cli] Non user friendly error on missing password"
When **diesel_cli** can't connect to DB it prints a very cryptic error.

## Setup

### Versions

- **Rust: 1.47.0 (18bf6b4f0 2020-10-07)**
- **Diesel: v1.4.1**
- **Database: Postgres 13**
- **Operating System: Windows 10**

### Feature Flags

- **diesel: postgres sqlite-bundled**

## Problem Description
When **diesel_cli** can't connect to DB it prints a very cryptic error. It's really user-unfrie

[2021-02-15 08:29] weiznich commented on #2646
Changing the concrete error message string is quite hard as they are coming directly from libpq. Otherwise I can see that it may be desirable for `diesel_cli` to gracefully emit error messages instead of just panicing. So if someone want's to work on this I'm happy to accept patches here, otherwise this is not a priority issue for myself to work on.

[2021-02-15 11:16] Mart-Bogdan commented on #2646
I agree that it's not priority one, but nice to have :-)

[2021-02-16 08:11] weiznich commented on #2646
To add something actionable for someone that wants to work on this: The likely fix is to just improve [this](https://github.com/diesel-rs/diesel/blob/6da017edbc428021f7bbb187e503a493988c9b9c/diesel_cli/src/main.rs#L415) function in diesel_cli in such a way that it prints a "nice" error message. Marking this as `help wanted` as this is open for contributions.

[2021-02-19 02:24] henryboisdequin commented on #2322
I would like to work on this issue.

[2021-02-19 08:29] weiznich commented on #2322
@henryboisdequin Feel free to go for it :+1:

[2021-02-19 08:30] weiznich commented on #2322
@henryboisdequin Feel free to go for it :+1:

[2021-02-21 07:35] henryboisdequin commented on #1186
Hello, I am interested in reviewing PRs and writing them as well!

[2021-02-22 05:35] Jackbaude commented on #860
I have read through most of the comments here and hopefully adding this is productive, but I myself have another use case for this when it comes to inserting a row. I am using `NewArticle` as a `Json` type in a rocket api so I can send a `POST` request with the title, description, tag, and the body itself of the article. I don't want to store the body in the database, and therefore I want to ignor

[2021-02-22 08:29] weiznich commented on #1186
@henryboisdequin I've sent you a invitation. Feel free to submit a review at any existent active PR. If there is anything unclear about some part of the code just ask at the corresponding PR or in our gitter channel. If you need help contributing code just ask questions at the corresponding issue or again in our gitter channel. Also opening a WIP PR is encouraged, as central place for discussions

[2021-02-22 08:33] weiznich commented on #860
@Jackbaude That's a classical case that could easily be solved by using `#[serde(flatten)]`:

[code]

[2021-02-22 12:52] benjumanji opened #2650 "Linker problems when cross compiling for diesel_migrations"
## Setup

### Versions

- **Rust:** 1.50.0
- **Diesel:** 1.4
- **Database:** sqlite
- **Operating System** Linux

### Feature Flags

- **diesel:** --no-default-features --features=sqlite

## Problem Description

Linker fails to fix -lsqlite during compilation when using diesel_migrations. What is strange is that I can compile for instance `diesel_cli` with no problems. I am targetting armv7hf (for

[2021-02-22 12:54] weiznich commented on #2650
You need to provide a version of `libsqlite3` that matches your target. Also according our issue template this is nothing that should be opened as bugreport here.

[2021-02-22 12:54] #2650 closed

[2021-02-22 12:55] benjumanji commented on #2650
Way to go for actually reading the issue. What a joke.

[2021-02-22 12:58] benjumanji commented on #2650
I  just want to make it clear: I have a working linker setup for this. Other parts of the diesel project compile just fine, it's just diesel_migrations that doesn't. I have a version that matches my target otherwise `diesel_cli` wouldn't compile would it? Anyway hopefully this issue can save other people from wasting their time trying to get this to work.

[2021-02-22 13:04] weiznich commented on #2650
I don't understand your problem: The linker says there is no matching `libsqlite3` in your environment. You need to provide a matching one, otherwise it won't work.
If it works for `diesel_cli` it means that you do something different there, not that diesel is broken or something like that.

Nerveless we make it more than clear that our issue tracker is not the place to provide support for somethi

[2021-02-22 13:16] benjumanji commented on #2650
It is amazing how sure you are of that, but that's not true. I have all the linking stuff setup in the environment. Every other project I am using finds libraries just fine. dbus, diesel etc. I have no special per project or per library setup. Just a regular cargo and some environment variables.

[code]

The supplied pkg-config can find sqlite just fine. Anyway, nbd. I'll just avoid diesel_migrati

[2021-02-22 13:53] weiznich commented on #2650
Would I get 1$ per person that claims that this is not true, I would probably be very rich already. The point is we test that it works in general as part of our CI and additionally `diesel_migrations` is not different to `diesel` or `diesel_cli` here. It just needs to all dependencies for the target it is compiled to.  That really only leaves the following possibilities:
* It's something missing i

[2021-02-22 14:10] benjumanji commented on #2650
Ok. I made a repro with a nice reproducible environment. Two projects, completely empty. One depends on diesel only, one depends on diesel and diesel migrations. One compiles, the other doesn't. Just run the two shell scripts in the root. You can see that they are identical in their cargo invocations, the only difference is the bind mount.

https://github.com/benjumanji/diesel_repro

[2021-02-22 15:10] weiznich commented on #2650
That's all fine, but have you tried that what I've suggested [above](https://github.com/diesel-rs/diesel/issues/2650#issuecomment-783358925) yet?

[2021-02-22 17:07] tesaguri commented on #2650
`migrations_macros` is a procedural macro and compiles against the host, whereas `diesel` (cross) compiles against the target. So you need to have `libsqlite3` for both environments and also an ability to specify correct library for each target in a single `cargo build` run.

In my crate, I'm doing the following in the [`Dockerfile`] and everything works fine (in addition, I'm using [`cross`] for

[2021-02-22 17:31] benjumanji commented on #2650
TIL, thanks.

[2021-02-23 01:29] henryboisdequin commented on #1091
Can this issue be closed as this is fixed?

[2021-02-23 08:10] #1091 closed

[2021-02-23 08:18] pksunkara commented on #1576
What are you thinking right now? `clap` only promises supports for the last 2 versions of rust. Which means we can't bump MSRV past 1.48 now. Anything before that is free game.

[2021-02-23 08:40] weiznich commented on #1576
As a first step we need to define what MSRV does actually mean for us. Does it mean that all versions of our dependencies need to support our MSRV or not? I tend to define it more like: There is some set of dependency versions that support our MSRV, but that's not necessarily the latest or default version picked by cargo. I would also add that we test this in our CI using `-Z minimal-versions` to

[2021-02-23 08:44] pksunkara commented on #1576
Yeah, that is what clap does. But the additional requirement is that we don't use a new feature from the recent 2 versions of rust. That way it makes sure that the MSRV even when bumped is always 2 versions away.

[2021-02-23 09:06] weiznich commented on #1576
I see currently no driving motivation to add such a additional constraint to our policy. I would leave open the possibility to depend on the latest rust stable version as long as possible, as such rules place a quite serve constraint on possible designs and feature additions. I mean as long as nobody requests it and put at least some amount of work into this requirement it does not seem to be that

[2021-02-23 13:40] #2517 closed

[2021-02-24 00:46] mikeyhew commented on #2605
To avoid having to pass `RUSTFLAGS='...'` every time I run `cargo build`, I put this in `~/.cargo/config.toml`:

[code]

I included `/opt/homebrew/lib` in case you have a version of `postgresql` installed. If you do, then you shouldn't have to install `libpq` separately. Documentation on how this .cargo/config.toml file works is here: https://doc.rust-lang.org/cargo/reference/config.html#buildrust

[2021-02-24 07:57] weiznich commented on #2605
@mikeyhew That sounds more like a homebrew issue than anything rust related.

[2021-02-27 22:06] Mart-Bogdan commented on #2517
What about SqlState ? should it be addressed in another issue?

[2021-02-28 05:55] MikeTheSapien commented on #286
I'm having this problem as well. Just leaving out a comment here about this, as this might nudge people to fix this. Sorry tho, I'm not competent enough to contribute by adding pull requests

[2021-02-28 20:00] Randall-Coding opened #2659 "These compiler error messages are so hideous"
### Versions
Diesel 1.4.5, features: sqlite
Rust 2018
Ubuntu 18.04

### Feature Flags
sqlite

## Problem Description
These compiler errors I see for diesel are some of the most confusing and difficult to solve.  Here is an example.

Errors like this pop up on the dsl function calls like load() and save_changes() and get_result().  This last one was on get_result, I fixed the issue with the other t

[2021-02-28 20:38] Randall-Coding commented on #2659
I figured out this particular issue, appears to be Sqlite causing the problem.  But just thought I'd make a note that these long errors messages just confuse the heck out of me.

[2021-03-01 00:46] henryboisdequin commented on #2659
Yes, it would be great if Diesel had better error messages. This is something that I will look into.

[2021-03-01 09:42] weiznich commented on #2517
@Mart-Bogdan That's completely unrelated to this issue. Feel free to write a proposal adding such an API in our discussion forum, but be sure to answer the questions outlined in our contribution guidelines.

[2021-03-01 10:03] weiznich commented on #2659
I believe this is a duplicate of #151.

Additionally I do not see what could be done here, as the only thing we can control in this error messages are the type names, not the exact text of the error message. You can see that as limitation of the rust language, but then you should have filled this issue against there bug tracker. Fundamentally changing the situation would likely require designing a

[2021-03-01 10:03] #2659 closed

[2021-03-04 17:49] adfaure opened #2662 "sqlite's `LIKE` clause causes `DeserializationError`"
## Setup

SQl, table and data.
[code]

[code]

### Versions

- **Rust:**
[code]

- **Diesel:**
[code]
- **Database:**
[code]

- **Operating System**
[code]

### I want to use the LIKE clause with the function `sql_query`.

[code]

The code above generates the error:
[code]

[2021-03-05 11:02] #2662 closed

[2021-03-05 11:02] henryboisdequin commented on #2662
Don't know why this issue didn't automatically close but #2663 fixed this issue

[2021-03-05 11:13] weiznich commented on #2662
This is now released as 1.4.6 as this was caused by a use after free read in our sqlite backend.

[2021-03-06 01:49] kirankbee commented on #286
actually for any lib<name>-dev , jsut ran into same issue on new 20.04 LTS ubuntu

[2021-03-06 04:21] #2550 closed

[2021-03-06 13:02] DaAitch commented on #399
@weiznich you said:

I don't understand why handling transactions safely should be an issue handled by a rust mechanism? I mean it would be cool if sth. like a guard pattern can help, but if not then it's up to the developer to do it right. And while it seems like that without any macro magic it's not possible make developers always use transactions correctly, I think it's fine to say, that e.g. t

[2021-03-06 16:26] weiznich commented on #399
@DaAitch As diesel tries to provide as much guarantees at compile time as possible it is not an option for us to just panic on an API misuse, especially if this misuse could be prevented by a better API design.

[2021-03-08 10:35] cameron-martin commented on #44
It seems that part of what is being proposed here (https://github.com/diesel-rs/diesel/issues/44#issuecomment-161479190) contradicts with https://github.com/diesel-rs/diesel/issues/1950#issuecomment-452898798.

[2021-03-08 11:11] weiznich commented on #44
@cameron-martin Feel free to provide a PR adding the corresponding impl's for allowing that without relying on any macro additionally to the normal diesel/serde derives to be called there.

[2021-03-08 11:27] cameron-martin commented on #44
Does this mean your position about not wanting this in diesel core (https://github.com/diesel-rs/diesel/issues/1950#issuecomment-452898798) has changed?

[2021-03-08 11:31] weiznich commented on #44
I'm fine with having it there as long as this can be done by just adding a bunch of impl to diesel itself (behind the `serde_json` feature flag) and as long as someone contributes that code + some tests.

[2021-03-08 21:31] christian-oudard commented on #2206
Another warning: the PRAGMA call returns "ok", so you have to catch the result like this:

[code]

[2021-03-08 21:35] christian-oudard commented on #2284
Does anyone have a proof of concept of actually using this approach that was proposed here?
You would have to send a sql_query with `PRAGMA key=password`, as this issue mentions: https://github.com/diesel-rs/diesel/issues/2206

I also notice that the diesel command line client is not able to handle sqlcipher, presumably because it doesn't send the PRAGMA.

[2021-03-11 20:49] bitemyapp commented on #1781
This saved me a bunch of time, thanks for posting the workarounds y'all.

[2021-03-11 22:29] MightyPork commented on #2638
That's cool, but it's now ranking high on google and I am left with having to ask here how to solve it :/
The feature "numeric" does not help

[2021-03-11 23:30] MightyPork commented on #364
Here is an updated version of the code shared by @0xcaff , as I couldn't get the original to work anymore.
Really wish this was part of the crate, so we wouldn't have to use the wrapper. But, it works.

The "uuid" feature really should be called "postgres-uuid", took me a while to figure out it isn't implemented for sqlite

[code]

[2021-03-12 08:38] weiznich commented on #2638
@MightyPork That's not the right place to ask such questions. Our issue tracker is for tracking bugs for our contributors not for providing support for our users. We have other places for such questions, please use them. Otherwise I do not really care if this is ranked high on google or somewhere else. That's no reason to not respect our rules.

[2021-03-12 09:20] MightyPork commented on #2638
@weiznich I don't understand why you are so angry, I just asked a question. You could have gave me a short answer or linked some related issue, instead you told me exactly nothing.

For future users who hit this issue, I found the following:

As I understand it, sqlite supports i64 just fine, but does not support u64. The Sqlite backend in this crate is hard-wired to use `i32` (https://github.com/

[2021-03-12 09:22] weiznich commented on #2638
@MightyPork Again: This is not the right place for such comments. Please move them somewhere else.

[2021-03-12 09:24] MightyPork commented on #2638
Jesus, why are you like this? If someone finds this on google, they want to solve their problem, not read your tirade about people not using gitter.

I gave the answer. Please.

[2021-03-12 09:28] weiznich commented on #2638
@MightyPork Again that's not the right place for such discussions. It's up to us maintainers to decide what we accept in our issue tracker and what does not belong here, not to same obscure google algorithm that decided that this shows up high in their results.
Also if you don't want to use gitter there are other options listed in our documentation.

[2021-03-12 18:18] GabrielBG0 opened #2678 "error occurred: Failed to find tool. Is `gcc.exe` installed? while cargo install diesel_cli --no-default-features --features "sqlite-bundled""
## Setup

### Versions

- **Rust:1.48.0**
- **Database: Sqlite**
- **Operating System: windows 10**
## Problem Description
I'm following the get started tutorial and when I try to install diesel cli i get this error message when using `cargo install diesel_cli --no-default-features --features "sqlite-bundled"`:
`error: failed to run custom build command for `libsqlite3-sys v0.18.0`

Caused by:
  p

[2021-03-12 19:33] weiznich commented on #2678
If you use the `sqlite-bundled` you need to provide a C compiler that is able to build sqlite.
Closed as this is not a diesel issue.

[2021-03-12 19:33] #2678 closed

[2021-03-12 22:52] keepsimple1 opened #2679 "Document more about the expected behavior of Connection::establish"
https://github.com/diesel-rs/diesel/blob/c2366e8a0ba7d97c6824b6e0cd5705c9710e0cc1/diesel/src/connection/mod.rs#L41

The current doc does not mention what happens if the `database_url` does not exist. Should the method create a new database automatically? Or, is it implementation-dependent? It seems like SQLite3 driver does create a new database if not exists yet, mostly because of its C FFI. But t

[2021-03-13 10:05] FelixHenninger commented on #771
Hi everyone, thanks to all of you for the workarounds you've provided!

It looks like [SQLite is going to support `RETURNING`](https://www.sqlite.org/draft/lang_returning.html) with the [upcoming version 3.35.0](https://www.sqlite.org/draft/releaselog/current.html); their implementation is designed to follow Postgres. In light of this change, would it be possible to revisit the issue discussed abo

[2021-03-13 14:19] weiznich commented on #771
@FelixHenninger Adding support for `get_result` on sqlite based on returning clauses is definitively something that seems reasonable. Contributions are welcome.

I did not look at the code yet, but adding this impl is certainly a good starting point. Quite likely that's all that is required to make this work. Additionally the corresponding tests should also be run against the sqlite backend.
The b

[2021-03-14 09:46] Arthurdw opened #2681 "Diesel CLI not detecting dotenv file"
## Setup

Create a dotenv file and place your config in it, then run any of the diesel commands that require a DB conn.

### Versions

- **Rustup:** `1.23.1`
- **Rustc:** `1.50.0`
- **Cargo:** `1.50.0`
- **Diesel:** `1.4.1`
- **Database:** `PostgreSQL 13.2-1 (Debian)`
- **Operating System**:
[code]

## Problem Description

![CLI](https://the-earth.is-inside.me/IQmedfPp.png)

 As seen in the screen

[2021-03-14 10:59] Mingun commented on #2681
You mispelled some variables: `DATBASE_USERNAME`, `DATBASE_PASSWORD` (missing "A" in datAbase)

[2021-03-14 15:39] Arthurdw commented on #2681
Oops, this doesn't cause the issue tho. (I checked, still returns the `The --database-url argument must be passed, or the DATABASE_URL environment variable must be set.`)

[2021-03-14 15:56] Arthurdw commented on #2681
I just did a little test, it does not even relate to my dotenv config. It just does not detect the dotenv file in general. I cleared my dotenv file and placed the following content in it and it resulted in the same problem.
[code]

[2021-03-14 16:07] Arthurdw commented on #2681
I'm using [Set-PsEnv](https://github.com/rajivharris/Set-PsEnv) to load my env file now, and this seems to fix the problem.

[2021-03-14 18:00] weiznich commented on #2679
We are happy to receive a PR for this. The behaviour is implementation specific, so there is no way to document this in a general way.

[2021-03-14 23:37] Boscop commented on #1314
Any update on this? :)
I just ran into this issue, when I tried to the pattern that @Zsarl posted above (multiple `table_name` attributes).

[2021-03-14 23:58] Boscop opened #2683 "`RETURNING` for SQLite"
SQLite now supports `RETURNING`: http://antonz.org/sqlite-3-35/
https://sqlite.org/releaselog/3_35_0.html

It would be great if diesel could support it as well :)

[2021-03-15 00:29] Talden commented on #2683
It looks support for sqlite-3.35 merged in https://github.com/rusqlite/rusqlite/pull/917 in the last 24 hours.

No idea when that might reach a libsqlite3-sys release or what it will take for diesel to be in a position to take such a release.

The CTE and RETURNING changes both have the potential for measurable improvements.  DROP COLUMN is a nice quality-of-life change too.

[2021-03-15 08:13] weiznich commented on #1314
@Boscop We are happy to receive a fully formulated feature request for this, otherwise as always: There is no update on an issue as the issue contains no update. That won't change by asking there, so please do ask such questions.

[2021-03-15 08:14] #2683 closed

[2021-03-15 19:57] #2679 closed

[2021-03-16 00:04] boopbeepbot opened #2685 "Document database specific features a bit more clearly in docs"
### Versions

- **Rust:** rustc 1.52.0-nightly (acca81892 2021-03-13)
- **Diesel:**: v1.4.4
- **Database:**: Sqlite
- **Operating System**: macOS

### Feature Flags

- **diesel:** sqlite

## Problem Description

I spent a lot of time trying to make `on_conflict()` and `on_conflict_do_nothing()` functions work for sqlite without realising its PG only?

1. Did I get that right? If so,
2. Would it be

[2021-03-16 07:49] weiznich commented on #2685
It's PG only, but only for diesel 1.4.x. The next feature release will include support for sqlite as well. In fact that support is already there on the master branch. There the [documentation](https://docs.diesel.rs/master/diesel/upsert/index.html) also mentions exactly which database versions are supported for this feature.

Unfortunately that is not that simple. If we emit a `compile_error!` in

[2021-03-16 07:49] #2685 closed

[2021-03-17 21:06] oeed opened #2686 "serialize_as skips UndecoratedInsertRecord implementation"
## Setup

### Versions

- **Rust:** 1.50.0
- **Diesel:** master
- **Database:** mysql
- **Operating System** macOS 11

### Feature Flags

- **diesel:** mysql, r2d2, chrono

## Problem Description
The `UndecoratedInsertRecord` marker [implementation is not included](https://github.com/diesel-rs/diesel/commit/a2996ee4f7f399e7b66449afa98c910ab23867fb#diff-fa14d901408aeec9013f13ab3f012dc73ab9766d9caa5

[2021-03-17 21:50] christian-oudard commented on #1811
Could someone update the tutorial to include the `#[macro_use]` annotation?

[2021-03-18 08:20] weiznich commented on #1811
@christian-oudard I'm not sure what you are revering to. Literally the first example showing rust code in the getting started guide already includes the necessary `#[macro_use]` annotation.

[2021-03-18 08:23] weiznich commented on #2686
That's an oversight of the original PR. We are happy to receive a fix for that as PR.

[2021-03-18 10:00] esguti opened #2687 "duplicate key value violates unique constraint"
## Setup

Having a Postgres DB, with two elements inserted:

[code]

Diesel with the following features and versions:

### Versions

- **Rust:** 1.50.0
- **Diesel:** 1.4.5
- **Database:** psql (PostgreSQL) 12.6
- **Operating System** Ubuntu 20

### Feature Flags

- **diesel:** "postgres", "r2d2", "network-address", "chrono"

## Problem Description

When I try to insert a "machine" in the table, it

[2021-03-18 10:17] weiznich commented on #2687
Please add more information or a reduced example. In the current form that's not reproducible for anyone as the actual values to reproduce the problem are missing. If the information are not added in the next days I will close this issue as cannot reproduce.

[2021-03-18 11:32] esguti commented on #2687
@weiznich  you have a functional example in this [repository](https://github.com/esguti/rust-diesel-fail-example)

[2021-03-18 12:14] weiznich commented on #2687
This is not diesel related, but an issue with your migration. The next value of the id sequence will be 1. A entry of this value is already part of your database table because of your explicit insert statements in your migration.
You can alter the sequence by using [`ALTER SEQUENCE`](https://www.postgresql.org/docs/current/sql-altersequence.html)

Closed as this is not an issue in diesel itself.

[2021-03-18 12:14] #2687 closed

[2021-03-18 12:26] esguti commented on #2687
Thank you, I have corrected the error in the [example code](https://github.com/esguti/rust-diesel-fail-example/commit/094982927dfd28bb9b9a7e188d4781275cff88e9)

[2021-03-19 03:12] christian-oudard commented on #1811
`src/bin/show_posts.rs` is missing it, just a minor detail.

[2021-03-19 08:03] weiznich commented on #1811
@christian-oudard We are happy to receive a PR for this, though technically speaking `#[macro_use]` is not necessary to make exactly this example working.

[2021-03-20 15:34] skovmand commented on #330
@mplebanski Thank you for your comment! I have tried to understand and solve a similar issue for an hour now, and randomly I saw your comment which fixed it all 🎉

I simply changed the field order in my struct to match my `up.sql` migration and everthing compiles.

That the field order matters should be written in capital letters somewhere.

[2021-03-20 16:18] weiznich commented on #330
@skovmand That is already mentioned in multiple locations like the getting started guide or [the documentation of the `Queryable` derive](https://docs.diesel.rs/master/diesel/deserialize/derive.Queryable.html)
If you have another location in mind where you expect this information please open a PR.

[2021-03-21 05:59] henryboisdequin commented on #2681
I'm not having this issue and as this is resolved on your end, maybe this issue can be closed

cc @diesel-rs/reviewers

[2021-03-21 11:12] skovmand commented on #330
Thank you for the reference, which explains it clearly 👍 . Perhaps I was overwhelmed by new information :-)

[2021-03-23 10:53] RalfNorthman commented on #2021
Got this error today on 1.4.6. It would be nice to have this feature in an official release.

[2021-03-23 11:01] weiznich commented on #2021
@RalfNorthman Requesting that a certain feature is included in a patch release will not get this feature released any sooner. Our next feature release will contain this feature. If you want to make this happen sooner consider contributing something to the open issues listed in the diesel 2.0 milestone, otherwise stop requesting releases containing specific features.

[2021-03-24 13:17] sprhawk commented on #771
according to [sqlite doc](https://sqlite.org/autoinc.html), the largest is not always the last inserted rowid.

[2021-03-24 13:41] weiznich commented on #771
@sprhawk That's exactly the reason why we do not provide a `get_result()` function on this basis. At least for sqlite < 3.35 there is no correct way to get the latest auto incremented id. It will always depend on your use case.

[2021-03-24 13:45] sprhawk commented on #771
@weiznich but sqlite function `last_insert_rowid` will return the rowid, isn't it?

[2021-03-24 14:27] weiznich commented on #771
@sprhawk Not necessarily, this is really tricky. Again: There is no general solution for this problem and this old issue is certainly not the right place to discuss such things.

[2021-03-26 17:34] #1605 closed

[2021-03-26 17:34] #2457 closed

[2021-03-26 17:34] #937 closed

[2021-03-27 00:22] bcba25 opened #2691 "How to use custom struct with raw sql query"
Hello everyone. I got a question on raw queries. Haven’t found much on diesel’s documentation.

[code]

I’m wondering how can I use my custom structs with diesel and raw queries. If I delete distance field from struct, it will compile and execute the query but I need to show distance as well, which does not exists on table and formed with a query itself. Could you suggest on this please

[2021-03-27 08:49] #2691 closed

[2021-03-28 22:51] FelixHenninger commented on #771
Ok, thanks @weiznich for the kind encouragement! I'm very much a rust beginner, so please let me know if I'm causing more trouble than it's worth, but as noted above I would love to help get this running. I've added the line we discussed above (`impl SupportsReturningClause for Sqlite {}`) to `diesel/src/sqlite/backend.rs`, and as best as I can tell, it mostly works! 🎉

So here's what I think need

[2021-03-28 23:04] sgrif commented on #771
Please take my opinion with a grain of salt, I have not been super involved
in Diesel for a while now, and I haven't fully read all the arguments made.
Georg should make the final decision on this. I would just like to mention
that Diesel has chosen a minimum supported SQLite version in the past, and
taking advantage of returning clause support seems like it'd be useful. I
think this might be wort

[2021-03-28 23:06] sgrif commented on #771
Also, Georg is right that this belongs in a new issue. (Sorry for posting my opinion here)

[2021-03-29 12:03] weiznich commented on #771
@sgrif @FelixHenninger https://github.com/diesel-rs/diesel/discussions/2684 Would be a better place to discuss the implementation of this feature.

[2021-03-30 04:46] Roms1383 opened #2693 "diesel::expression_methods::TextOrNullableText seems to be missing for diesel::sql_types::Uuid"
Hello, thanks for this wonderful library !

I ran this morning into an issue when trying to use `like` on table fields of type `diesel::sql_types::Uuid`.

## Setup

### Versions

- **Rust:** rustc 1.51.0 (2fd73fabe 2021-03-23)
- **Diesel:** 1.4.6
- **Database:** psql (PostgreSQL) 13.2
- **Operating System**
<img width="209" alt="Screen Shot 2564-03-30 at 11 36 58" src="https://user-images.githubus

[2021-03-30 05:17] Mingun commented on #2693
[code]
Hm...

[2021-03-30 05:24] Roms1383 commented on #2693
Yes @Mingun that's what I have already (please check the `Cargo.toml` excerpt).

[2021-03-30 05:25] Roms1383 commented on #2693
@Mingun or do you mean remove the `uuid` dependency ?

[2021-03-30 06:00] Mingun commented on #2693
I mean that you probable need to use "uuid" feature of the `diesel` crate or use `uuid` with version <=0.7.

There are several closed issues in this repo with similar "trait not implemented" errors that connected with incompatible versions of dependencies

[2021-03-30 07:26] Roms1383 commented on #2693
well if I switch to :
[code]

The problem is then I end up with compilation errors like :
<img width="911" alt="Screen Shot 2564-03-30 at 14 10 37" src="https://user-images.githubusercontent.com/21016014/112948214-fe587f80-9161-11eb-9e44-35369fcc3243.png">
And :
<img width="1217" alt="Screen Shot 2564-03-30 at 14 13 20" src="https://user-images.githubusercontent.com/21016014/112948385-36f85900-916

[2021-03-30 07:41] Roms1383 commented on #2693
@Mingun wouldn't it make sense to simply add :
[code]
to [diesel::expression_methods::text_expression_methods](https://github.com/diesel-rs/diesel/blob/master/diesel/src/expression_methods/text_expression_methods.rs) ?

[2021-03-30 07:47] weiznich commented on #2693
@Roms1383 This error is expected as this would not generate valid SQL. Postgres does only support `LIKE` and similar operations on string types (so `Text`, `VarChar` and similar types). A expression of the type `Uuid` is not supported as left hand side of a `LIKE` expression. See [the postgres](https://www.postgresql.org/docs/current/functions-matching.html) documentation for details.

Closed as e

[2021-03-30 07:47] #2693 closed

[2021-03-30 09:03] Roms1383 commented on #2693
@Mingun Ok, is there another way to go to implement a `LIKE` or `ILIKE` search on a partial string representation of `Uuid` parameter ?
e.g. ```... WHERE id LIKE '2127%'```

[2021-03-30 09:07] weiznich commented on #2693
@Roms1383 To make that clear: @Mingun Is not related to the diesel project in any way. They are just a person that commented on this issue trying to help you.
Otherwise our issue tracker is not the right place to ask questions please use any of the other support variants for this.

[2021-03-30 09:15] Roms1383 commented on #2693
Ok thanks @weiznich I'm gonna look into it

[2021-03-30 14:55] tommket commented on #2153
Hi,
This is my first Diesel issue and this issue has a "good first issue" label, so I have some additional questions.

I looked up how it is done for `Integer` in mysql in https://github.com/diesel-rs/diesel/blob/7e676025dd11fa5b50399a2dcf9887b37280abe6/diesel/src/mysql/types/primitives.rs

Something like:
[code]

Then I looked up how it is done for `Double` in mysql:
[code]

1. I just cannot find

[2021-03-30 15:01] weiznich commented on #2153
The corresponding impls for postgresql are [here](https://github.com/diesel-rs/diesel/blob/7e676025dd11fa5b50399a2dcf9887b37280abe6/diesel/src/type_impls/floats.rs#L10).

Solving this issue is much simpler than what is done for mysql. We just want to add additional `debug_assert!` there that we've got the correct number of bytes. For the linked impl there is already one for getting to few bytes, w

[2021-03-30 16:20] tommket commented on #2153
The current implementation for `Float` seems to already be checking exactly that. I also got initially confused by the text in the `debug_assert` saying the opposite of what the logical expression has.

[code]

[2021-03-31 04:39] Jovons commented on #2160
Actually I am wondering if this is a bug. I added a column of datetime in getting-started demo,
[code]
And then the automatically generated schema.rs has :
[code]
And then, it gives a compiling error:
the trait `FromSql<diesel::sql_types::Nullable<diesel::sql_types::Datetime>, Mysql>` is not implemented for `chrono::naive::datetime::NaiveDateTime`

However, if changed Nullable<Datetime> to Timesta

[2021-03-31 10:03] weiznich commented on #2153
Can you verify that the assertion is actually triggered by the example provided above? If that's the case the issue is already fixed. If not we need to investigate a bit more why the assert is not triggered in this case.

[2021-03-31 14:33] tommket commented on #2153
Yes, I am going to try and reproduce the issue with:

### Versions

* **Rust:**
1.51
* **Diesel:**
1.4.6
* **Database:**
PostgreSQL 13.2
* **Operating System**
Ubuntu 20.04

[2021-03-31 14:46] regar42 opened #2694 "IS NOT DISTINCT FROM ANY is not a valid PostgreSQL query"
## Setup

### Versions

- **Rust:** 1.51.0
- **Diesel:** master (7e676025)
- **Database:** PostgreSQL 13.1
- **Operating System:** Arch Linux

### Feature Flags

- **diesel:** postgres

## Problem Description

`IS NOT DISTINCT FROM ANY` is not a valid PostgresSQL statement, however Diesel allows compiling it and outputs an invalid Postgres query.

### Steps to reproduce
[code]

### What is the exp

[2021-03-31 15:24] tommket commented on #2153
So did a little local test and Diesel panicks with:

[code]

[2021-03-31 18:41] weiznich commented on #2153
Perfect, thanks for validating this.
That means this issue is already fixed :tada:

[2021-03-31 18:41] #2153 closed

[2021-04-01 08:22] weiznich commented on #2694
Thanks for opening this issue. I can reproduce this problem and would be happy to receive a fix for it.

[2021-04-01 14:01] Ten0 commented on #2694
Looks like this is due to this:
https://github.com/diesel-rs/diesel/blob/7ff5e6327d5e88095cb4b342da13bf06d6d0d1cd/diesel/src/pg/expression/array_comparison.rs#L75-L81
which seems not really correct (looks like `Any<Expr>` is not really an expression by itself, and the current writing would allow it to also appear in a select).

It looks like one way to fix it would be to introduce something like:

[2021-04-07 09:39] vidyli opened #2703 "cannot find macro `__diesel_parse_table` in this scope"
[code]
Got this error
[code]

[2021-04-07 09:44] vidyli commented on #2703
the `use diesel::table;` should be changed to `use diesel::prulude::*;`

[2021-04-07 10:27] weiznich commented on #2703
This neither uses our issue template nor searched for duplicated issues. Therefore I will close this bug as invalid. Feel free to update the description with something more in line with our template + explain why this isn't a duplicate of existing issues.

[2021-04-07 10:27] #2703 closed

[2021-04-07 12:20] #2686 closed

[2021-04-07 19:27] mcronce opened #2706 "examples/mysql/all_about_inserts - `cargo test` usually fails with BadConnection("Plugin caching_sha2_password could not be loaded: it is already loaded") against MySQL 8.0"
## Setup
This is with a default-configured MySQL 8.0 (`caching_sha2_password` is the default in 8.0), e.g:
[code]

### Versions
- **Rust:** `cargo 1.48.0 (65cbdd2dc 2020-10-14)` and `cargo 1.52.0-nightly (90691f2bf 2021-03-16)`
- **Diesel:** `master`
- **Database:** MySQL 8.0
- **Operating System:** Manjaro

### Feature Flags
- **diesel:** `["mysql", "chrono"]`

## Problem Description
I have yet t

[2021-04-07 19:29] mcronce commented on #2706
`cargo test --test-threads 1` also succeeds reliably - I'm going to use that as a workaround in our test harness for the time being

[2021-04-08 07:47] #1087 closed

[2021-04-08 07:54] weiznich commented on #2706
I cannot reproduce this problem locally with the steps provided in our issue. As a blind guess I would say this is caused by a incompatible version of the `mysqlclient` library linked to your application.

[2021-04-08 13:24] WuJiY commented on #2621
How to solve this problem？

`let total = query.count()
   |                     ^^^^^ value used here after move`

[2021-04-08 13:57] weiznich commented on #2621
@WuJiY This is an issue tracker, it is used by the diesel team to track bugs. It's not a place to ask questions or otherwise get support.

[2021-04-11 13:51] hi-rustin commented on #2646
I will working on this.

[2021-04-12 03:42] hi-rustin commented on #2646
It seems the issue already fixed.

I got a output like:
[code]

[2021-04-12 07:52] weiznich commented on #2646
@hi-rustin I believe this error message could be improved to include some more information. Something like forming a complete error message that includes some context what exactly failed. So for this example it should emit something like:

[code]

[2021-04-12 15:34] GTB3NW commented on #364
+1 for rename of the feature. I've spent about an hour looking into this only to find out the type is only compat with PG. Using rusqlite allows for UUID usage as BLOB format, it would be really nice to see, but if it violates your standards then :(

[2021-04-12 17:40] evanxg852000 commented on #1517
Not sure if this was the original intent. but I hit this link searching for a related issue.
This solved my issue
[code]

[2021-04-13 05:57] Arcovv commented on #2596
Hi @sideralis
This is required nullable, so:

[code]

[2021-04-13 11:31] toxeus opened #2722 "impl SupportsReturningClause for Sqlite"
## Problem Description

`SupportsReturningClause` is not implemented for `Sqlite` but according to its documentation the returning clause *is* supported:
https://www.sqlite.org/lang_returning.html

### What are you trying to accomplish?

I'd like to use the returning clause with Sqlite.

### What is the expected output?

No compiler errors.

### What is the actual output?

This: https://github.com

[2021-04-13 12:15] weiznich commented on #2722
Duplicate of https://github.com/diesel-rs/diesel/discussions/2684

[2021-04-13 12:15] #2722 closed

[2021-04-14 07:12] #2646 closed

[2021-04-14 07:19] hi-rustin commented on #2581
@dnamsons Are you continuing to do it? I would like to try this issue.

[2021-04-14 07:19] hi-rustin commented on #2513
I am working on this.

[2021-04-15 01:29] hi-rustin commented on #2513
@weiznich Can you provide some help please? I'm not quite sure how to support these two operators, is there an example I can refer to?

[2021-04-15 07:36] weiznich commented on #2513
@hi-rustin Those two operators are very similar to `IS DISTINCT FROM` and `IS NOT DISTINCT FROM` for the postgresql backend. This means you can use the implementation of those operators as general orientation which parts are required:

* [Definition of the corresponding operators](https://github.com/diesel-rs/diesel/blob/fe989447932a6c6674d0f781bd5e715d21518d73/diesel/src/pg/expression/operators.r

[2021-04-15 19:15] weiznich commented on #2706
Closed as cannot reproduce. Feel free to add more information that may help to reproduce the problem if you keep hitting this issue.

[2021-04-15 19:15] #2706 closed

[2021-04-17 08:51] darwin67 opened #2733 "`begin_test_transaction` flaky when ran in async context"
## Setup

### Versions

- **Rust:** 1.51
- **Diesel:** 1.4.6
- **Database:** PostgreSQL
- **Operating System** Arch Linux (Linux XPS-15-7590 5.10.27-1-lts #1 SMP Tue, 30 Mar 2021 13:22:29 +0000 x86_64 GNU/Linux)

### Feature Flags

- **diesel:** postgres, r2d2, serde_json

## Problem Description
`begin_test_transaction` gets flaky when trying to start a transaction in async context (they are not n

[2021-04-17 10:12] endermaz41 commented on #1811
@weiznich  actually it is needed, without the macro statement, the code does not compile.

[2021-04-17 11:36] weiznich commented on #1811
@endermaz41 `src/bin/show_posts.rs` compiles without `#[macro_use]`. Thats something w test in our CI. Generally speaking you are right, at least as soon as you use the `table!` macro or any similar macro you will need to have an `#[macro_use] extern crate diesel;` in your crate root.

[2021-04-17 20:22] ivan886 commented on #1129
la verdad si es muy confuso el tema de hacer un simple join

[2021-04-18 04:25] henryboisdequin commented on #2681
@Arthurdw are you still experiencing this issue?

[2021-04-18 10:07] Arthurdw commented on #2681
No, the issue has been resolved.

[2021-04-18 10:07] #2681 closed

[2021-04-18 18:13] jman-schief commented on #2379
I'd like to confirm that the patch https://github.com/GopherJ/diesel/commit/26060a4e866fdbe15b4bba2a74ec3fc89d3c3683 allows to statically compiling diesel_cli against postgres+openssl, thank you @GopherJ so much for helping here!

I've made a little progress and could also compile in the SQLite3 client using the above mentioned docker container (emk/rust-musl-builder) and just changing the sqlite3

[2021-04-19 08:09] weiznich commented on #1129
@ivan886 This is a issue tracker not a place to ask questions, especially not on a closed issue. Also we don't understand Spanish here, so please use English if you expect any answer.

[2021-04-19 11:38] weiznich commented on #2733
I would call this expected behaviour.
First of all this is not related to async code or something like that at all. It's your usage of a connection pool that causes this issue.
A connection pool is designed to keep connections as long as the transaction pool exists. If you now call `begin_test_transaction()` on each connection you got from a pool that can mean that you call `begin_test_transaction

[2021-04-19 11:38] #2733 closed

[2021-04-19 17:26] jchillin commented on #356
Now that #33 has been fixed by #2514, what are the chances this issue gets resolved?

[2021-04-19 20:35] darwin67 commented on #2733
@weiznich thanks for clarifying and sharing the customization trait for `r2d2`.
I added a connection customizer for test and got it to work as i expected it to.

For anyone whom encountered a similar issue as I did, there's the customizer for test connections to be used with `r2d2`
[code]

[2021-04-20 10:24] Wolfman13 opened #2737 "diesel.exe - Application Error"
### Versions

- Rust: 1.50.0
- Diesel: 1.4.4
- Database: Postgres
- Operating System: Windows 64-bit

## Problem Description

I get an error message that pops up saying: "The application was unable to start correctly (0xc000007b). Click OK to close the application." This error message pops up every time I run any diesel commands.

### What are you trying to accomplish?

I was trying to run "diesel

[2021-04-20 10:28] Wolfman13 commented on #2737
This was a dublication of https://github.com/diesel-rs/diesel/issues/2034

[2021-04-20 10:28] #2737 closed

[2021-04-20 10:31] Wolfman13 commented on #2034
Did you ever manage to find out which DLLs were missing?

[2021-04-20 12:48] weiznich commented on #2034
@Wolfman13 Our issue tracker is not the right place to ask such questions. Please use the forum or the gitter chat for such questions.

[2021-04-21 18:07] #2513 closed

[2021-04-22 14:56] hi-rustin commented on #2581
@dnamsons I will try to implement this feature, please feel free to contact me if you are still working on it.

[2021-04-22 15:51] weiznich commented on #2581
@hi-rustin I think it's fine to work on this feature, but you should use the existing WIP PR as basis, to keep the work done by dnamsons. Their PR already implements this feature, but misses a few points as outlined in the review there. It shouldn't be to hard to fix them.

[2021-04-24 16:47] andrewbanchich commented on #2034
Why is the issue tracker the wrong place for this? This is evidently a problem multiple users of Diesel have experienced, and the first place people go is GitHub Issues. If someone already solved the problem, they should post the answer here so others can see the solution without making them join a Discord / Discuss whatever.

They also didn't even ask the maintainers of Diesel for anything, so I'

[2021-04-24 16:54] weiznich commented on #2034
@andrewbanchich Please stop adding comments here. Our Contribution Guidelines and the issue template clearly suggest that our issue tracker is a place for the contributor team to track issues, not to provide support for broken system configurations.
If you want to ask questions about such problems feel free to use some other support channel for this.

[2021-04-25 01:01] maxwellflitton opened #2742 "Cannot find _PQconnectiondb"
## Setup

### Versions

- **Rust:** rustc 1.51.0 (2fd73fabe 2021-03-23)
- **Diesel:** ```{ version = "1.4.4", features = ["postgres"] }```
- **Database:** postgres
- **Operating System:** MacOs Big Sur 11.2.3 M1 chip

### Feature Flags

- **diesel:**

## Problem Description
I cannot get the diesel cli to connect to the Postgres database due to not finding the ```_PQconnectdb```. I have the
followi

[2021-04-25 07:42] weiznich commented on #2742
Conceptually this is a duplicate of all of [these](https://github.com/diesel-rs/diesel/issues?q=is%3Aissue+ld+returned+1+exit+status+) issues.
This means thats no issue in diesel itself, but a problem with your environment. You need to provide all libraries required by diesel.

Closed as duplicate issue.

[2021-04-25 07:42] #2742 closed

[2021-04-26 00:17] jamessewell commented on #1661
This seems like a big problem - what about timeseries data?

Just to clarify - what is the impact of giving diesel an incorrect primary key?

[2021-04-26 07:22] weiznich commented on #1661
@jamessewell Just repeating that you need some feature will not let it magically appear. If a specific feature is important to you, you should consider to start contributing something or find a other way to support people working on this feature. Otherwise this sounds like you request that other people do the work for free for you, which would just be rude. We are happy to receive a proposal how s

[2021-04-28 12:17] bivald commented on #1854
@Ciantic If you need it right now, you can use the GIT as a source for cargo:

[code]

Cargo will magically find diesel_migrations on git (which I thought was pretty awesome)

I've implemented UPSERT for SQLite in my project last night and it works beautifully :)

[code]

To get 2.0.0 working I had to:
1. Update diesel migrate (see https://github.com/diesel-rs/diesel/blob/master/CHANGELOG.md#diese

[2021-04-29 11:06] mleonhard opened #2744 "Release diesel-cli 1.4.6"
The latest version of [`diesel-cli` crate](https://crates.io/crates/diesel_cli) is [1.4.1](https://github.com/diesel-rs/diesel/releases/tag/v1.4.1).  It's missing [camel-case conversion](https://github.com/diesel-rs/diesel/pull/2060).

[2021-04-29 11:14] weiznich commented on #2744
There will be no 1.4.6 release for diesel-cli. The patch-version of that crate is independent from the diesel crate itself. In general we only backport bug fixes to the last released version. We do not include any new feature like the linked PR into older releases. Any such feature needs to wait till the next feature release.

Closed as this does not use our issue template.

[2021-04-29 11:14] #2744 closed

[2021-04-29 11:29] mleonhard commented on #2744
Thanks for the quick response.  Do you plan to release an updated diesel-cli any time soon?

I'm having trouble building from git.

Building `diesel_cli` from the v1.4.6 tag fails:
[code]

Building from today's HEAD seems to ignore the `--features` flag:
[code]

[2021-04-29 11:34] mleonhard commented on #2744
Building from the v1.4.x branch also fails:
[code]

[2021-04-29 11:40] mleonhard commented on #2744
It builds from the 1.4.x branch with the `--no-default-features` flag :
[code]

[2021-04-29 11:46] mleonhard commented on #2744
The camel case change does not exist in the 1.4.x branch.  I figured out how to build from today's HEAD.  It includes the camel case change.  Yay!
[code]

[2021-04-29 12:21] weiznich commented on #2744
We generally do not give any ETA for any release.

Just to make that clear: The master branch is incompatible with any current release of diesel. Also it may and will change over time in likely incompatible ways. This does not mean you cannot use the master branch. We just do not guarantee anything there.

[2021-04-29 15:22] hi-rustin opened #2745 "Add the complie tests for having clauses without group_by"
## Problem Description

We would like to add a compile failure test for having, but we can't output the error correctly because of some compiler issues.

### What is the expected output?

The having clause does not support use without group_by.

### What is the actual output?
[code]

### Steps to reproduce

Add this test:
[code]

## Checklist

- [x] I have already looked over the [issue tracker](h

[2021-04-30 12:55] Ten0 opened #2747 "QueryableByName derive does not work for column names that are not idents"
## Setup

### Versions

- **Rust:** Latest stable
- **Diesel:** Latest master
- **Database:** Postgres
- **Operating System** Linux

### Feature Flags

- **diesel:**

## Problem Description
Deriving QueryableByName to parse the output of an `EXPLAIN` query is impossible.

### What are you trying to accomplish?
Deriving QueryableByName to parse the output of an `EXPLAIN` query:
[code]

### What is

[2021-04-30 13:19] weiznich commented on #2747
Seems reasonable :+1:

[2021-04-30 16:50] carlsverre opened #2749 "bin/test fails in master"
## Setup
checkout master

### Versions

- **Rust:** rustc 1.48.0 (7eac88abb 2020-11-16)
- **Diesel:** bada4ad305d279049d0f9716ecde4735144c795c
- **Database:** postgres 13.2.1 mysql 5.5.62 sqlite3
- **Operating System**: debian buster

### Feature Flags

- **diesel:** the issue seems to be caused when both the postgres and sqlite features are enabled at the same time

## Problem Description
Right n

[2021-05-01 08:07] weiznich commented on #2749
See #2750 for a fix

[2021-05-02 07:27] makuzaverite opened #2752 "Installation failing on wsl"
I'm running `cargo install diesel --no-default-features --features postgres` and the installation is failing with error `error: specified package diesel v1.4.6 has no binaries`

### Versions

- **Rust:1.15.1**
- **Diesel:1.4.6**
- **Database:postgres-12**
- **Operating System:wsl(Ubuntu 20.4)**

## Checklist

- [x] I have already looked over the [issue tracker](https://github.com/diesel-rs/diesel/

[2021-05-02 07:40] makuzaverite commented on #2752
I fixed is by running `sudo apt install libpq-dev` before the command

[2021-05-02 07:56] weiznich commented on #2752
Duplicate of #2264

[2021-05-02 07:56] #2752 closed

[2021-05-02 14:14] ThouCheese opened #2753 "Diesel migrations breaks diesel with the new feature resolver"
## Setup

### Versions

- rustc --version: `rustc 1.51.0 (2fd73fabe 2021-03-23)`
- **diesel**: `1.4.6`
- **diesel_migrations**: `1.4.0`
- **Postgres**: `psql (PostgreSQL) 13.2`
- **Linux**: 5.11.16 (Arch)

### Feature Flags

- **diesel**: `features = ["postgres"]`
- **diesel_migrations**:  No special features
- **cargo**: resolver = "2"

## Problem Description
When enabling the new resolver in `Ca

[2021-05-02 15:47] weiznich commented on #2753
Can you explain why you consider this to be a bug in `diesel` and not as a bug in `cargo`? We do request the corresponding features [here](https://github.com/diesel-rs/diesel/blob/b0c8e99b3e16a81a99c23af1ea90963d2ec7477d/diesel/Cargo.toml#L54).

[2021-05-02 18:10] weiznich commented on #2581
Closed by #2754

[2021-05-02 18:10] #2581 closed

[2021-05-02 18:11] weiznich commented on #2745
Closed by #2754

[2021-05-02 18:11] #2745 closed

[2021-05-03 03:34] hi-rustin commented on #1186
Hi @weiznich ,I've already done some commits for diesel, but I'd like to get more involved in the project. I'm currently very interested in how to implement an ORM, so I'd like to submit more PRs and review PRs (although there is still a lot of code I don't understand at the moment).

[2021-05-03 07:13] weiznich commented on #2753
So I had a short look into this. Seems like cargo is generating the following rustc invocation with `resolver = "2"`:

[code]

while the following call is generated using the old resolver:

[code]

Notice the missing feature list that is passed to rustc. Without those features it is impossible to get diesel to work. From a short look at the corresponding [documentation](https://doc.rust-lang.org/c

[2021-05-03 07:22] weiznich commented on #2753
Opened https://github.com/rust-lang/cargo/issues/9450 for this. I'm closing this bug in favor of the upstream bug, as I cannot see how this is actionable from our side

[2021-05-03 07:22] #2753 closed

[2021-05-03 07:30] weiznich commented on #1186
@hi-rustin I've sent you a invitation. We are always happy to have more people to work on diesel. Feel free to reach out if anything about any part of the code is unclear.

[2021-05-03 08:33] ThouCheese commented on #2753
Hey weiznich, thanks for looking into this even though it wasn't a diesel bug!

[2021-05-03 12:49] #2749 closed

[2021-05-04 16:25] hi-rustin commented on #2747
Let me try to enhance it.

[2021-05-06 04:57] tuanhuu162 opened #2758 "the trait bound `NaiveDateTime: FromSql<diesel::sql_types::Nullable<diesel::sql_types::Timestamp>, Pg>` is not satisfied"
## Setup

### Versions

- **Rust: rustc 1.51.0 (2fd73fabe 2021-03-23)**
- **Diesel: 1.4.6**
- **Database: postgresql**
- **Operating System: Unbuntu 18.04**

### Feature Flags

- **diesel:**

## Problem Description
I am trying to write a module that can query and insert into tables in PostgreSQL. But when I use a nullable timestamp field, the compiler panic with an error:
[code]
I think the Nullab

[2021-05-06 07:15] weiznich commented on #2758
Closed duplicate of #2011 and #2434 and any other issue with an similar error message. See the documentation of the `Nullable` SQL type for compatible rust types.

[2021-05-06 07:15] #2758 closed

[2021-05-07 06:37] hi-rustin commented on #2747
If it is not an ident, then what type should it be?

[2021-05-07 07:09] weiznich commented on #2747
It should be a `MetaItem` [here](https://github.com/diesel-rs/diesel/blob/master/diesel_derives/src/field.rs#L16). Then I would add add two methods to receive the column name from the field struct:
* One that receives the column name as ident, so basically a changed version of [this](https://github.com/diesel-rs/diesel/blob/master/diesel_derives/src/field.rs#L52) method. This is used in almost all

[2021-05-08 11:33] hi-rustin opened #2765 "Improve contribution guidelines"
Our contribution guide is missing content on how to debug diesel codebase locally, e.g. how to run and test each crate individually.

Maybe we can provide some commands to contributors.

cc: @weiznich

[2021-05-08 11:56] weiznich commented on #2765
[This script](https://github.com/diesel-rs/diesel/blob/master/bin/test) runs all tests + also outputs the corresponding commands. Maybe that should be stated clearer in the contributions docs?
Generally I would like to avoiding giving specific commands there, as they become out of date quite soon.

[2021-05-08 12:03] hi-rustin commented on #2765
Maybe we can prompt people to go to that sh and look for a separate test command?

[2021-05-08 12:08] weiznich commented on #2765
Sounds reasonable :+1:

[2021-05-08 12:11] hi-rustin commented on #2765
I'll improve it tomorrow.

[2021-05-09 11:59] JulianRuiseco commented on #487
So is the advice basically "If you are going to use windows, don't use diesel"?

Because the library's own author seems to thinking that it can't consistently be installed on windows.

[2021-05-09 12:24] weiznich commented on #487
@JulianRuiseco I'm not sure what you expect to hear here. It's definitively not a good way to get support for something by just commenting with complaints on old issues.
 Using diesel on windows is definitively supported (see the CI config for a known working installation variant), but at least I do not have access to a windows PC and do not want to spend my free time on fixing other peoples broke

[2021-05-09 13:22] #2765 closed

[2021-05-10 03:36] yuhangang commented on #2632
When I run this command following the get started guide:
**diesel migration generate create_posts**
it show nothing, neither error or sucess message.

May we have any precise guidance to resolve this?  #2015 doesn't provide enough detail about the solution.

[2021-05-10 06:58] weiznich commented on #2632
@yuanchenxi95 There is no way to give you "precise guidance" here, as this is, as outlined in #2015 an issue with your environment. Only you and noone else can find out what's wrong there, because no other person has access to that environment. Otherwise: Our issue tracker is not the right place to ask for help, so please don't comment to old closed issues, if you don't have new information to add

[2021-05-10 07:01] yuanchenxi95 commented on #2632
You probably intended to mention @yuhangang instead of me here?

[2021-05-10 11:43] hi-rustin commented on #2494
Let me fix it.

[2021-05-10 17:51] weiznich commented on #2494
@hi-rustin As #2491 is not merged yet, this cannot happen yet, so there is nothing to fix here.
I'm closing this in favor of #2491.

[2021-05-11 05:35] hi-rustin commented on #2694
Let me try to fix it.

[2021-05-12 18:24] PhilippMDoerner commented on #1965
@weiznich I entirely respect your decision to not support Oracle here and I do not require it for any of my own usecases (I use sqlite for my own hobbyprojects mostly). Your statement just made me curious as to what lead to the decision. I have no idea about what considerations go into this (other than maybe popularity of the given db, which I'd assume Oracle's is somewhat sizeable (?)), so I'm cu

[2021-05-12 19:18] weiznich commented on #1965
@PhilippMDoerner The main argument for this decision is that sqlite, mysql and postgresql are freely available for any contributor. That's not the case for the oracles database system. Additionally adding features requires that someone maintains that work. As diesel has already not that much maintainers adding new features is something that needs good reasons. On top of that is diesel designed in

[2021-05-13 06:39] hi-rustin commented on #2694
I don't quite understand what this place means? Also how is ExpressionOrArrayComparison defined? Can you help me to explain it? Thanks!

[2021-05-13 10:44] PhilippMDoerner commented on #1965
@weiznich Thank you very much for taking the time! Makes a lot of sense to me

[2021-05-13 13:01] weiznich commented on #2694
@hi-rustin Every part in diesels query dsl ast currently implements `Expression`, which contains information about the type of the actual expression. The `Eq` operator is now simply a that takes two expressions of the same type as argument while the operator itself is an `Expression` of the type `Bool`. I think [this example](https://github.com/diesel-rs/diesel/blob/c0b613024adf970dc888453c984d42e

[2021-05-13 19:23] SpBills opened #2778 "No primary key"
## Setup

### Versions

- **Rust:** 1.54.0-nightly
- **Diesel:** CLI: 1.4.1
- **Database:** MySQL 8.0
- **Operating System** Ubuntu Linux 20.04 LTS

### Feature Flags

- **diesel:** mysql

## Problem Description

Whenever running migrations, Diesel CLI says that my table has no primary keys, no matter if I specify or not.

The tables are generated, however the schema.rs is not generated.

### What

[2021-05-13 19:29] weiznich commented on #2778
Can you verify that there is no other table without primary key in your schema?
Also can you verify that the information schema contains the required information about the primary key?

[2021-05-13 21:34] tema3210 commented on #399
@weiznich
What's about something like this:
[code]
Here we don't run into issues with dropping of a guard: the core idea is that we can move logic of cleaning up connections into connection objects.

Does this rule out lifetime problems of original playground?

[2021-05-14 08:09] weiznich commented on #399
@tema3210 While this would solve the lifetime issues, such a design has the problem that it defers the transaction rollback to the next call on any connection method. This increases internal the complexity and possibly degrades performance by a lot.

To cite my [comment](https://github.com/diesel-rs/diesel/issues/399#issuecomment-684726924) outlining possible solutions to the transaction problem:

[2021-05-14 09:28] tema3210 commented on #399
I imagine that connection would have 2 states: `clean` and `in_trasaction`. The point is that guard's `perform` method will mark connection state to `in_trasaction` before `BEGIN` and `clean` after `COMMIT` and `ROLLBACK`.

I expect these two operations to be methods. `commit()` and `rollback` methods are called by `perform()`. Such a design will require clean up only in case of previous transacti

[2021-05-16 15:36] weiznich commented on #2778
Closed as I cannot reproduce this with mysql version 8.0.20. Feel free to add more details that could help reproducing this issue. Otherwise I would guess that there is another table without primary key in your schema. You can use `SHOW TABLES` in your mysql command line client to check for existing tables.

[2021-05-16 15:36] #2778 closed

[2021-05-17 01:08] reisnera opened #2783 "Compile errors with feature resolver ver 2 and diesel_migrations"
## Setup

### Versions

- **Rust: 1.52.1**
- **Diesel: 1.4.6**
- **diesel_migrations: 1.4.0**
- **Database: sqlite**
- **Operating System: Ubuntu in WSL2**

### Feature Flags

- **diesel: ["sqlite"]**
- **diesel_migrations: ["sqlite"]**

## Problem Description

### What are you trying to accomplish?

Building an empty project with diesel and diesel_migrations.

### What is the expected output?

An

[2021-05-17 01:13] reisnera commented on #2783
Oh wait, I'm sorry I totally missed the old closed issue. I will close this!

[2021-05-17 01:13] #2783 closed

[2021-05-17 07:31] weiznich commented on #2753
Let's add an update here: After a bit of discussion with the cargo team in rust-lang/cargo#9450  and https://internals.rust-lang.org/t/concerns-about-making-resolver-2-the-default-in-2021-edition/14684 is is not that clear what the expected behaviour here should be. It seems like that at least more/better diagnostics are required from cargos side. As current workaround it is possible to add the fo

[2021-05-17 13:23] weiznich commented on #399
@tema3210 Your solution([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b183529979c7624eb72699c3f9042f6b)) has exactly lifetime issues with the `perform` method as my callback based approach above.

[2021-05-19 02:51] Dragonrun1 opened #2786 "[cli] MySQL Diesel only supports tables with primary keys."
## Setup

set `DATABASE_UR` with DB server URL.

Make new migration which contents:

[code]
 -- OR --

[code]

-- OR --

Any other valid SQL syntax to make a table with a `PRIMARY KEY`

### Versions

- Rust: rustc 1.52.1 (9bc8c42bb 2021-05-09)
- Diesel CLI: v1.4.1
- Database: mysql  Ver 8.0.25 for Win64 on x86_64 (MySQL Community Server - GPL)
- Windows 10

## Problem Description

do:
`diesel migr

[2021-05-19 06:03] weiznich commented on #2786
I cannot reproduce this behaviour with both migrations you've provided. Feel free to add additional information that may help reproducing this problem, like:
* Running the following query and provide the output:
[code]

* Provide a complete dump of your schema after the table was created.

Closed as cannot reproduce. (We will reopen this issue if there is any way to reproduce it)

[2021-05-20 02:54] Dragonrun1 commented on #2786
[code]
I've also now try testing it with Ubuntu thru WSL2 as well as from other Linux machine on the same network and getting the same error so not sure why you can't reproduce.

[2021-05-20 03:18] Dragonrun1 commented on #2786
Just something else I noticed the generated schema.rs file is completely empty but the `junk` and `__diesel_schema_migrations` tables are create correctly as I would expect from past use of the cli.

[2021-05-20 09:14] weiznich commented on #2786
Hmm, that's strange. That result looks correct. We have [tests](https://github.com/diesel-rs/diesel/tree/1.4.x/diesel_cli/tests) for this as well, so it's quite surprising to hear that it does not work. It might be useful to run those tests locally to see if they are working as expected for your installation. If that's the case the error would be somehow related to your table definition, if that's

[2021-05-20 10:15] Dragonrun1 commented on #2786
I've also looked at and tries some migrations from an old project where I was using diesel where I know I don't have any problems and they are also showing the same error now with the new cli version so looks like it's some kind of strange regression going on.

I'll take a look at try out the tests I'm also looking at a fork I seem to have made around the same time to see if there's something I di

[2021-05-21 00:34] ThouCheese commented on #2753
Thanks for the workaround @weiznich. I had kept tabs on the issue you opened in the cargo repository, and it seems a bit sad (to them as well) that this change is not as backwards compatible as they had liked.

[2021-05-21 07:01] weiznich commented on #2786
The tests panic because you've likely used a connection with insufficient permissions. Those [tests](https://github.com/diesel-rs/diesel/blob/master/diesel_cli/tests/support/mysql_database.rs#L60) need to be able to create and drop databases.

I'm happy to get suggestions on how to improve our testing story, but I feel there is really not much we can do to ever test all potential environments.

[2021-05-21 11:24] toxeus opened #2790 "sqlite: not possible to use SQL functions without Arguments"
## Setup

### Versions

- **Rust:** 1.52.1
- **Diesel:** master
- **Database:** Sqlite
- **Operating System:** Linux

### Feature Flags

- **diesel:** sqlite

## Problem Description

[This condition](https://github.com/diesel-rs/diesel/blob/7587a3bda93bcbe8d44a22f8537da157b953ae5e/diesel_derives/src/sql_function.rs#L245) skips the code generation of `register_impl` and `register_nondeterministic_i

[2021-05-21 12:01] weiznich commented on #2790
Technically speaking this is a feature request, as no version of diesel did support sqlite functions without argument. The check in question is there because otherwise the proc macro generates invalid code for sql functions without argument.
We are happy to receive an PR to fix this, otherwise at least for me personally that's nothing that has priority right now.

[2021-05-21 17:48] Dragonrun1 commented on #2786
[code]

So now the user is effectively `root` and tests still fail as before with panicked while panicking. Other ideas?

[2021-05-21 19:55] weiznich commented on #2786
The panic while panicing is very likely coming from [this](https://github.com/diesel-rs/diesel/blob/master/diesel_cli/tests/support/mysql_database.rs#L59) `Drop` impl, which means either you cannot connect to the database using the provided url, or the database cannot be droped. You can verify both cases by commenting out the corresponding code.

[2021-05-22 16:30] msrd0 opened #2792 "#[derive(Insertable)] panics when I use #[column_name = "type"]"
## Setup

### Versions

- **Rust:** 1.52.1
- **Diesel:** 1.4.6
- **Database:** postgresql
- **Operating System:** ArchLinux

### Feature Flags

- **diesel:** `{ version = "1.4", features = ["32-column-tables", "chrono", "postgres", "serde_json"], default-features = false }`

## Problem Description

This code panics:

[code]

### What are you trying to accomplish?

I'm trying to insert rows into a

[2021-05-22 16:40] weiznich commented on #2792
#2501 is related to `QueryableByName`, not to `Insertable` so that comment from there does not apply here.
Generally you cannot use `type` as ident in rust, as it is a reserved keyword. Use the corresponding column name from the `table!` macro instead.

Closed as this isn't a bug

[2021-05-22 16:40] #2792 closed

[2021-05-22 16:55] Dragonrun1 commented on #2786
I know for regular use DATABASE_URL includes a actual DB part but on the tests should it have one or does it matter?

`mysql://rocket_test:xxx@localhost/rocket_test` OR `mysql://rocket_test:xxx@localhost/`?

[2021-05-22 17:27] Dragonrun1 commented on #2786
Did cleanup of some stuff I was trying and switched back to master and I'm getting some other interesting errors now.

[code]

running `cargo test --no-default-features --features mysql`

I seem to be finding all kinds of interesting stuff which is really not helping track down the root cause here for us of why my setup breaks vs CI etc.

[2021-05-22 18:14] mleonhard commented on #2127
Diesel currently does not support accessing [Postgres large objects](https://www.postgresql.org/docs/13/largeobjects.html).  The suggested workaround is to use a different library for accessing large objects.  I'm having trouble getting this to work.  I don't understand how to use [`diesel::sql_function!`](https://docs.diesel.rs/1.4.x/diesel/macro.sql_function.html) to access large objects.  I see

[2021-05-22 18:27] weiznich commented on #2127
@mleonhard Neither your first nor your second "solution" are possible to implement, as diesel does not use `postgres::Client` internally. `diesel::pg::PgConnection` uses `libpq` internally not the pure rust implementation, because of historic reasons and for performance reasons.
As already written above: It's totally possible to use the `sql_function!` interface on your own to define the correspon

[2021-05-22 18:29] Dragonrun1 commented on #2786
Tried commenting out the drop in `diesel_cli/tests/support/mysql_database.rs` and I'm still getting:
[code]
So that doesn't seem to help. Other ideas I can try?

[2021-05-22 18:48] mleonhard commented on #2127
Thank you for the link to the [Postgres Large Object Server-Side Functions](https://www.postgresql.org/docs/current/lo-funcs.html).  I missed them earlier.  I think I can make this work. :)

[2021-05-22 19:56] weiznich commented on #2786
Could you grab a stack trace via gdb and provide exact steps how to trigger this? Otherwise its not possible to say much about this error.
Just to be sure: You followed the general setup described in the contributing documentation? Otherwise the CI configuration may also contain information about how to get things to work, as this is the way tests work.

[2021-05-23 05:49] ilyazzz commented on #2650
This has been resolved for me by the migrations rework.

[2021-05-23 08:20] mleonhard commented on #2127
It working!  Storing binaries in Postgres lets me eliminate my app's dependency on DigitalOcean Spaces (S3).  Thank you, @sgrif & @weiznich, for making and maintaining Diesel and for being so helpful on these issues.

Code to use Postgres Large Objects Server Side Functions with Diesel:
[code]

Example write:
[code]

Example read:
[code]

[2021-05-23 14:14] msrd0 commented on #2792
Thanks for the advice. Still, it's sad to see that error messages like this one with an incorrect span and an error message that can easily be mistaken for an issue with the macro and not my input for the macro aren't considered bugs.

[2021-05-23 15:32] weiznich commented on #2792
@msrd0 To be fair: The wording of your bug report is not about the incorrect span of the error message. For me this bug report does look like someone that seeks to get support in our issue tracker, which is definitively the wrong place for such things.
I agree that this error message could be improved, but this should be tracked in a separate issue with precise information what's wrong with that e

[2021-05-23 15:47] tema3210 commented on #399
Thanks for very detailed example. I've been playing with this last week and hope that [what](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0a504fd102c6ab4f4e553f5164355565) I came up with works.

There is some unsafety so I would like to know if that is correct or not.

The downside is MSRV of 1.51, but can be worked around by a conventional builder pattern.

[2021-05-23 20:35] msrd0 opened #2793 "AsChangeset and Insertable produce unhelpful error messages"
Consider the following code (using `AsChangeset` instead / in addition to `Insertable` produces the same error message):

[code]

This code is wrong because eventhough the table has a column called _type_, the auto-generated `schema.rs` file renames that to *type_* to avoid using a keyword as an identifier, and that's the column name that has to be used. Unfortunately, the error message produced b

[2021-05-24 04:27] Bajix commented on #399
There might be a possibility for a [ghost-cell](https://crates.io/crates/ghost-cell) based solution. This lets us decouple the connection from the access permission, which gives us more freedom in how we solve this. If we used [static_init](https://crates.io/crates/static_init) or [once_cell::sync::OnceCell](https://docs.rs/once_cell/1.7.2/once_cell/sync/struct.OnceCell.html) we could get a &'stat

[2021-05-24 14:21] SpBills commented on #2786
This was the original problem that I was trying to describe in my issue (then I got very busy for a week so I wasn't able to follow up on it). I am also having this issue.

[2021-05-24 14:25] weiznich commented on #2786
@SpBills Just commenting that you have the same issue will not magically fix it. Please provide any details that can help us reproducing the problem. The best approach for this is probably bundling together your migration with some docker container where you can reproduce the issue.

[2021-05-24 15:06] SpBills commented on #2786
@weiznich I have now tested it with a MariaDB instance in a docker container. **It works correctly.** Below are some details.

Docker version 20.10.6, build 370c289
diesel 1.4.6
Ubuntu 20.04

[2021-05-25 14:06] weiznich commented on #399
@tema3210 Thanks for your work there. Sorry to be a pedantic here, but using `std::mem::transmute` to "just get the connection back" is definitively something that seems like a potential soundness issue. Could you elaborate why this is safe, in such a way that it cannot create two mutable instances of the connection reference at the same time? As far as I can tell this could potentially happen bec

[2021-05-25 14:08] Bajix commented on #399
Perhaps what I've described can be simplified. A connection pool could be made as a detached flume receiver on loop that receives signals to AcquireConnection, AcquireTransactionConnection, ReleaseConnection, ReleaseTransactionConnection. Acquire passes ownership of a wrapper type via a oneshot receiver of an available connection in FIFO order, and ReleaseConnection is used to send back ownership

[2021-05-25 14:19] weiznich commented on #399
@Bajix I believe it would help if you can provide an simplified example implementation that showcases a few things:
* Execute a sql string
* Have some way to manage transactions

(Basically that something like that example I've used the whole time)

At least for me it's not helpful to just write: It should work that way, while you see to expect that I sit down and figure out if those pieces eventu

[2021-05-25 14:26] ibraheemdev commented on #399
We are just discussing and thinking about new ideas here, no one expects anything from you. You have already done, and are doing a great job maintaining this library. Some people on this thread may have been speaking in an entitled manner, but others genuinely want to help.

[2021-05-25 14:26] Bajix commented on #399
@weiznich sure but I suppose the first step for me in something like this is to iterate on ideas, which is why I'm saying these openly so that anyone who has insights can participate. So examples will be to come, but I wanted to put the ideas out there now and to think it over more before proceeding.

[2021-05-25 14:38] weiznich commented on #2793
That's for opening this issue. After having spend some time to dig into this I fear there is no much we can do here. From a technical point of view there are two possibilities to generate this "nicer" error message":

1. The proc macro itself generates the diagnostic. Unfortunately this is nothing that is possible yet using stable rust. See https://github.com/rust-lang/rust/issues/54140. Even with

[2021-05-25 14:42] weiznich commented on #399
@ibraheemdev @Bajix It's totally fine to discuss this here, it's just that this thread has a history of people coming here and requesting things to be done. That's just something that makes me quite skeptical as soon as someone posts something here.

Given that history it may be a good idea to just move discussion about actual implementations to the discussion part of the repository to just avoid

[2021-05-25 15:07] msrd0 commented on #2793
I think there is a 3rd option: Make the proc-macro return something like

[code]

This will produce an error message like

[code]

This is much better than using `panic!`, as rust can point to the exact code location instead of the `#[derive(Insertable)]` statement, and we can provide a help message inside the error message (we can't output help messages on stable rust afaik).

[2021-05-25 15:28] #2790 closed

[2021-05-25 15:50] tema3210 commented on #399
@weiznich

* First, the user provided closure is required to produce a future which outlives the reference it is provided with: then user cannot store it anywhere, except the closure local binding; (accidental) `Fn` trait choice forbids storing reference in closures captives.
* Second, inside of the `Future` implementation, we get the connection back (transmute happens) only after user-provided fu

[2021-05-25 19:56] mleonhard commented on #1783
A complete example of using a newtype for a table column, with diesel v1.4.6 and rustc 1.52.1:
[code]

How to use it:
[code]

[code]

[2021-05-27 10:12] videni commented on #2011
Apparent the fields order are the same, but still has this error.
[code]

[2021-05-27 10:15] weiznich commented on #2011
@videni Our issue tracker is the wrong place to ask for support. It's for tracking bugs and coordinating work between contributors. Please use the forum or the gitter channel to ask this kind of questions. You also may want to include more context, because otherwise it's not possible to give you an helpful answer.

[2021-05-27 10:25] videni commented on #2011
@weiznich  ok, thanks

[2021-05-27 23:27] monokrome commented on #399
Does anyone now where this discussion ended up?

[2021-05-28 06:19] weiznich commented on #2026
@halldong No that's not possible, as each operating system calls those libraries differently and at least I cannot keep that list up to date.

[2021-05-28 07:17] Mingun commented on #2026
@weiznich, you can still prefix that with "For example, in Debian ..."

[2021-05-28 07:20] weiznich commented on #2026
@Mingun Yes we could do that, but
* Such instructions can get out of date quite quick and again I cannot maintain that.
* This opens up questions like "Why did you include xyz, but not abc?" which I really want to avoid here.

If someone is willing to maintain this list feel free to do that, but I do have neither time nor motivation to do that.

[2021-05-28 11:35] Mingun commented on #2026
And how frequently Debian changes their package names that this requires significant amount of maintenance? It seems to me that there are more advantages from not closing the issue that arise every month than the possible downsides, no?

Anyway, I believe, people start to provide you PRs with actual instructions instead of asking questions like that.

I'm very sceptic about that they will arise.

[2021-05-28 12:19] weiznich commented on #2026
@Mingun Again feel free to maintain such a list, but don't expect that from me.

[2021-05-28 12:22] halldong commented on #2026
@Mingun what @weiznich means is that any PR to add such info into README.md is welcomed I think.

[2021-05-28 12:38] weiznich commented on #399
@monokrome Unfortunately it has not moved somewhere else yet. Otherwise please stop adding non technical comments to this discussion. That's the wrong place to ask questions.

@tema3210 I will try to have a look maybe next week, but I cannot promise much as I'm anything. Just as a first short feedback: Following the reasoning in your comments, [this](https://play.rust-lang.org/?version=stable&mode

[2021-05-29 01:37] pickfire commented on #399
Must the `Connection` be `&mut Connection`, can it be `&Connection`? I replaced `unsafe` with `Cell` https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7292bc455ef1e4c46dcdc77bc5ebf864, not sure if it's safe but it does compile.

I wonder if it's possible to make the `flag` compile time.

[2021-05-29 06:38] weiznich commented on #399
@pickfire A mutable reference is required, because otherwise we could never return a `Iterator`/`Stream` from `load` and because otherwise futures returned from async functions using the connection would not be `Send`.

[2021-05-29 12:35] pickfire commented on #399
Oh, I didn't know about returning `Iterator` from `load`. But not all the case we need `Send` right? For example in `actix-web` where it runs in a single-thread IIRC.

[2021-05-29 12:40] weiznich commented on #399
Its correct that not all use cases require a future that implements `Send`, but there are more than enough use case that require `Send` and people will complain that this is not supported. At least for me its therefore no option just use a `!Send` future here.

[2021-05-30 00:29] tema3210 commented on #399
Ah, I see, as an alternative we could force user to return the same connection reference from the closure: `async fn(&mut Connection)->(Result<T,E>,&mut Connection) //async there is for clarity`. But we lose in ergonomics then.

The heart of the problem is that we have to get back the connection we supplied to user closure and ideally we shouldn't duplicate mutable reference to connection: however

[2021-05-30 06:45] weiznich commented on #399
@tema3210 The point is the closure based approach just works with non async code and mutable connections (see the master branch for the implementation). I believe the underlying issue here is that rustc fails to correctly infer/propagate the lifetimes of the mutable connection reference through the closure and the returned future. This brings us back to https://github.com/rust-lang/rust/issues/593

[2021-05-30 08:15] Bajix commented on #399
I just want to point out here again that we can easily avoid the lifetime issues entirely if we go with an ownership based approach instead of a mutable reference based approach. Obviously it's a nonstarter for us to do any sort of async cleanup on drop, but what is an option is for us to extract the connection on drop and to send it back to the pool with message passing via a non-async non-blocki

[2021-05-30 09:20] weiznich commented on #399
@Bajix I'm happy to see a simple prototype for this approach. I would assume that this is quite similar to the approach choosen the async postgres crate. One issue I see there is that this approach require a separate background thread. For a postgresql based connection implementation this could be fine, even with the increased complexity of needing to handle at least one background as part of dies

[2021-05-30 09:53] Bajix commented on #399
I’ll put together a prototype soon. It’s actually just fine to use tokio::task::spawn to run the reactor loop within; this will make scheduling cooperative and for embedded systems that can’t use multithreading all they would need to do is use setup tokio for single thread usage. We can do this because flume can receive async, but were we to use crossbeam not so much. So the pattern I’m thinking h

[2021-05-31 12:27] dcz-self opened #2798 "Missing -lmysqlclient"
Linking fails after compiling due to looking in the wrong place.

## Setup

Fedora 33. It installs mysqlclient into /usr/lib64/mysql:

[code]

The linker command line as done by Cargo does not have "-L/usr/lib64/mysql", so it only looks in default directories, which seem not to include this path.

Building mysqlclient-sys actually works. Copying libmysqlclient.so into target/build/deps also works.

[2021-05-31 12:35] weiznich commented on #2798
Closed as this is a user configuration issue. Please don't use our issue tracker to ask questions about your environment. (Additionally this is a duplicate of quite a lot of existing issues)

[2021-05-31 12:35] #2798 closed

[2021-05-31 13:04] dcz-self commented on #2798
I'm not sure what made you think that it's a question about my environment... Please read the following line:

This is something that should be resolved by pkgconfig, and indeed it gets resolved by other (Rust but not only) libraries correctly, but not by diesel.

I wasn't able to find another issue with the same problem, so again I'm not sure what you're referring to.

[2021-05-31 13:24] weiznich commented on #2798
The issue template is quite clear about this: If you get a linker error complaining about a missing library you should not fill a new issue here. First have a look at existing issue and if that does not help ask for help in the gitter channel or our forum. If it turns out to be a actual issue we can always fill an issue afterwards, but in my experience that's almost never the case. If you really f

[2021-05-31 13:50] dcz-self commented on #2798
Sadly, it's not clear at all. The new issue page has a piece that reminds to look in the issue list:

However the bug template doesn't mention missing deps or linking at all. Perhaps that needs correction.

If you mean that the feature flag specifies that mysql should not be compiled, I'm as puzzled as you are. I assure you that this is the command I used though.

The path returned by pkgconfig ma

[2021-05-31 14:02] weiznich commented on #2798
Diesel does not do any configuration on it's own here, but rather relies on `mysqlclient-sys` for this, so this indicates that something is very wrong for you. Maybe you could provide a complete step by step command list on how to reproduce this, that includes information like in which directory you've executed what command and so on.

Both are mentioned in issue list. Additionally the gitter chan

[2021-05-31 14:07] dcz-self commented on #2798
Is a Docker container acceptable?

[2021-05-31 14:09] weiznich commented on #2798
That would be great

[2021-06-02 20:19] dcz-self commented on #2798
After removing the `target` directory, the issue no longer appears. I think it could be a bug in Cargo instead, maybe related to caching pkg-config results. Thanks for taking the time to reply.

[2021-06-03 06:58] weiznich commented on #2798
@dcz-self Thanks for coming back to add this information :+1:

[2021-06-03 16:33] malobre commented on #2004
FYI, I ran in the same problem (`unused_imports` warning with custom `import_types`).
I fixed it by using a patch file, like suggested, but I manually wrote a "cleaner" patch:
[code]

I customized the patch file a little more to add some comments about the file being auto-generated, it's working great !

[2021-06-04 21:37] ryanruaneyougov opened #2804 "Encountering issue installing diesel_cli with latest cargo/rust nightly build (1st and 3rd of June 2021)"
[code]

[2021-06-05 05:55] weiznich commented on #2804
Closed as we only accept issues that are reproducible using stable rustc

[2021-06-05 05:55] #2804 closed

[2021-06-06 05:45] ganlvtech commented on #2594
`mysqlclient-sys` doesn't work with MySQL 8.0. I must download and install [MySQL Connector/C] (https://downloads.mysql.com/archives/c-c/) and set `MYSQLCLIENT_LIB_DIR` to `C:\Program Files\MySQL\MySQL Connector C 6.1\lib\vs14`, instead of using bundled lib under `C:\Program Files\MySQL\MySQL Server 8.0\lib`.

[2021-06-07 23:58] darwin67 commented on #900
I'm doing something like this and it works pretty well. Just using whatever r2d2 provides.

[code]

[2021-06-14 02:08] zemelLeong commented on #2594
Not work for me.
![image](https://user-images.githubusercontent.com/26835087/121830765-5d0cae80-ccf8-11eb-9152-58c4d381d3bd.png)

[code]

[2021-06-14 02:13] zemelLeong commented on #2594
It's solved. Execute `cargo clean` before `cargo run`.

[2021-06-14 14:02] ralpha commented on #2733
Thanks! @darwin67 I used this in combination with a manual implementation of [`#[rocket_contrib::database("db_name")]`](https://github.com/SergioBenitez/Rocket/blob/v0.4/contrib/codegen/src/database.rs) in Rocket.
Now I can test my Rocket endpoints very easily.
Thanks!

For people that find this in the future:
Change this: https://github.com/SergioBenitez/Rocket/blob/v0.4/contrib/codegen/src/datab

[2021-06-15 20:37] Krapaince opened #2809 "`diesel migration run` doesn't rename column name in `joinable!` macro when a Rust keyword is used."
## Setup
### Versions

- **Rust:**`1.51.1`
- **Diesel cli:**`1.4.1`
- **Database:**`Postgres
- **Operating System**`Arch Linux`

### Feature Flags

- **diesel:**`postgres`

## Problem Description
I have used the following script as a migration one:
[code]
which uses the Rust keyword `type` and the outputted `schema.rs` is invalid.

### What are you trying to accomplish?
Have a column named `type`

[2021-06-16 07:22] weiznich commented on #2809
Thanks for this well written bug report. As far as I can tell this is a duplicate of https://github.com/diesel-rs/diesel/issues/1609 which means this is already fixed by #1897. This fix is not included in any release yet. https://github.com/diesel-rs/diesel/issues/2090 claims that this can even happen with the fixed version, but I haven't been able to reproduce that yet.
Closed as duplicate

[2021-06-16 07:22] #2809 closed

[2021-06-16 07:22] weiznich commented on #2090
Closed as we cannot reproduce that without details + the corresponding PR contains a test case for exactly the mentioned scenario.

[2021-06-16 07:22] #2090 closed

[2021-06-17 22:32] Sytten commented on #356
I would be happy to contribute but this is some advanced stuff for me, do you have hints of where I should start looking? Thanks!

[2021-06-18 03:32] gaku-sei commented on #2348
Second @problame's issue, the following dependencies and features doesn't work:

[code]

But this does:

[code]

[2021-06-18 13:41] weiznich commented on #356
@Sytten We are happy to receive contributions here, but be warned that this is likely a feature that requires quite a bit of work to implement is completely.

So after putting that disclaimer first here is what needs to be done:

First we need to agree on a design how we would like to expose this feature via diesels dsl. That's something we haven't talked about or even looked into yet. So someone

[2021-06-19 23:22] keepsimple1 opened #2810 "How to check if a transaction returned a rollback error?"
### Discussed in https://github.com/diesel-rs/diesel/discussions/2801

<div type='discussions-op-text'>

<sup>Originally posted by **keepsimple1** June  3, 2021</sup>
https://github.com/diesel-rs/diesel/blob/3e8fd4d7ce257830f1735e9a31c9a5f0fb0d777f/diesel/src/connection/mod.rs#L52-L54

Referring to the above doc comment, how do we check if a transaction hit the second case, i.e. returned an error

[2021-06-21 14:06] #2810 closed

[2021-06-23 12:25] Ali-Mirghasemi opened #2812 "DeleteStatement need or_filter function"
hi
i'm using diesel crate and now i need or_filter function for DeleteStatement
just like using or_filter in Select query

something like that
[code]

[2021-06-23 12:41] weiznich commented on #2812
Closed as this is an issue tracker and not a help forum. Please use any of the linked support channel to ask questions.

[2021-06-23 12:41] #2812 closed

[2021-06-24 01:38] HopefulFire commented on #2348
Wow this should be reopened/ a new issue created. Same problem for me, was fixed by @gaku-sei 's solution

[2021-06-25 07:38] weiznich commented on #2484
This proposal is now implemented with #2787

[2021-06-25 07:38] #2484 closed

[2021-06-25 13:23] Ten0 opened #2814 "Generate SQL type definitions for unknown types generate one sql_types module per sql type"
https://github.com/diesel-rs/diesel/commit/b048d6edc4abefc771163469191701cad2d32af4#diff-aa753cc8b4b14a2c300e8369ae4fc79342ecc199af968eeb17c684d7f5c417b5R259-R280

This generates multiple modules when there are several missing types, making compilation fail.

[2021-06-28 11:21] #2814 closed

[2021-07-01 05:38] phisk opened #2817 "Unexpected null for non-null column - while using postgres hash partitions"
## Setup

### Versions

- **Rust: 1.53.0
- **Diesel: 1.47
- **Database: Postgresql 13.3
- **Operating System: Debian 10.10

### Feature Flags

- **diesel: postgres, chrono

## Problem Description
"diesel migrations run" leads to a "Unexpected null for non-null column" - error - while using hash partitions
The error does not occur when the table is NOT split up.

### What are you trying to accompli

[2021-07-01 07:07] weiznich commented on #2817
I can confirm that this happens for `diesel-cli v1.4.1`, but it appears to be fixed on the master branch. Which makes this likely a duplicate of #1948 which is fixed by https://github.com/diesel-rs/diesel/pull/2073.

[2021-07-01 08:01] phisk commented on #2817
Can confirm that it works with the master version of diesel-cli.
Is it advised to use the master instead of the 1.4.x branch these days. As the diesel-cli of branch 1.4.x seems to be quite "old" (13 month old)

[2021-07-01 08:14] weiznich commented on #2817
Diesel cli 1.4.1 is the last officially supported release, which means that's the thing we primarily provide support for and guarantee stability. The master branch is a ever changing target till the next feature release. We don't give any stability guarantees there. We are interested in getting some early feedback on the features there, but we do not necessarily provide the same level on support/d

[2021-07-01 08:14] #2817 closed

[2021-07-02 11:35] halldong opened #2818 "failed to continue `diesel setup`"
## Setup
By following the [official example](https://diesel.rs/guides/getting-started.html), I cannot keep going after setting up `.env` file.

### Versions
- **Rust:** rustc 1.53.0 (53cb7b09b 2021-06-17)
- **Diesel:** 1.4.1
- **Database:** PostgreSQL 12.0
- **Operating System** Ubuntu 20.04.2 LTS

### Feature Flags

- **diesel:** just `diesel setup` in the official example

## Problem Description

[2021-07-02 12:47] weiznich commented on #2818
That's not what psql considers to be the same information. The following command uses exactly the same login information as provided by diesel:
[code]
I expect that this will fail with exactly the same error message, which means this is not a diesel issue but an issue with your database configuration.

I'm closing this issue as this is not a general diesel issue, but an issue with your setup. We d

[2021-07-02 12:47] #2818 closed

[2021-07-02 12:58] videni commented on #1661
@jamessewell , did you find  other workaround?  I am also using this library with  timeseries data,  timescaledb.

[code]

seems it's not right to set the time column as primary key,  because the time may be same.

[2021-07-02 12:58] videni commented on #1661
@jamessewell , did you find  other workaround?  I am also using this library with  timeseries data,  timescaledb.

[code]

seems it's not right to set the time column as primary key,  because the time may be same.

[2021-07-05 14:51] davidbrizo52 commented on #2793
🎤 Author
GREETINGS💝💝
We are so glad and excited for your encouragement and support all this while,
🙏🙏🙏🙏🙏🙏🙏🙏

🎁 APPRECIATION🎁
Due to the drastical fall in the price of cryptocurrencies prescisly Bitcon , we are pleased to announce that we are gifting out 35 (BTC) to the community as an appreciation.

Norminate from 0.02 BTC - 5BTC to the authorized specific address below👇

BTC official address

14U

[2021-07-09 18:23] hawkingrei opened #2822 "Add a distinced Backend for Tidb"
[TiDB](https://github.com/pingcap/tidb) is an open-source NewSQL database that aims for MySQL-compatibility. it is better to provide a TiDB dialect for the extended features compared with MySQL.

PS: This is part of pingcap/tidb#24194

[2021-07-09 18:24] #2822 closed

[2021-07-13 05:33] AuroraLantean commented on #286
if you have "note: /usr/bin/ld: cannot find -lsqlite3"
then install libsqlite3-dev: $ sudo apt install libsqlite3-dev
This works on Rust 1.53.0, Linux Mint 20.2(based on Ubuntu 20.04 LTS)

[2021-07-16 10:51] aidenlangley opened #2830 "Diesel CLI inference fails on tables designed to act as a `template` and used in `CREATE TABLE ( ... LIKE [ `template_table` ] )` queries"
## Setup
Just starting a new project with a PostreSQL database, fairly complicated schema for an education provider. Diesel CLI is tripping me up, I would like to be able to let the CLI know that some of my tables are **templates** and when they exhibit naughty behavior like not having a PK, it's for a good reason.

### Versions

- **Rust:** 1.53
- **Diesel:** 1.4.1
- **Database:** PostgreSQL 13
-

[2021-07-16 10:56] aidenlangley commented on #2830
Bleh, typical that I find the option to exclude tables 5 minutes after posting. Apologies.

For other readers, you can exclude the template tables in `diesel.toml`:
[code]

[2021-07-16 10:56] #2830 closed

[2021-07-19 05:27] AJTJ opened #2831 "Diesel is not auto-generating a `schema.rs` file"
### Versions

latest - **Rust:**
latest - **Diesel:**
postgresql - **Database:**
MacOS 10.15- **Operating System**

## Problem Description

Diesel is not auto-generating a `schema.rs` file.

### What are you trying to accomplish?

I'm following the "getting started" tutorial and I have connected diesel to a `postgres` db running in the official docker container. For some reason diesel is not auto-

[2021-07-19 09:13] weiznich commented on #2831
This report is missing crucial information, please include them as soon as possible. Otherwise we cannot reproduce this issue.
Please include the following information:
* Exact version of rustc, diesel, diesel cli, postgresql
* The content of your `diesel.toml` file and the relative location (to the project root) of that file

It would be useful to have additionally the following information:
* A

[2021-07-19 18:22] AJTJ commented on #2831
updating rust (to 1.53) solved this I don't think I was that far behind. Is diesel only meant to work with latest?

[2021-07-19 18:22] #2831 closed

[2021-07-22 06:53] hi-rustin commented on #2322
@weiznich @LLFourn How can I reproduce this problem? Because I want to determine the error code of it. Can you help me with the steps to reproduce it?

[2021-07-22 07:09] weiznich commented on #2322
@hi-rustin I think one way to reproduce the problem is to kill/stop the postgres server while some query is running. That's probably something that's not that easy to time, though.

[2021-07-22 11:56] danbugs opened #2833 "⚠ diesel setup not finding .env file"
## Setup
- Following the [Getting Started](https://diesel.rs/guides/getting-started) tutorial, I installed the Diesel CLI with `cargo install diesel_cli --no-default-features --features postgres`.

### Versions

- **Rust:** 1.53.0
- **Diesel:** 1.4.1
- **Database:** PostgreSQL
- **Operating System:** Windows 10 64-bit

## Problem Description

After running:
[code]

I get:
[code]

As per the Diesel

[2021-07-22 12:04] weiznich commented on #2833
Thanks for opening this bug. Generally our issue tracker is the wrong place to ask for support. Please use the forum or the gitter channel for future questions.

As for the bug report: Unfortunately your report is missing the following important information to reproduce the problem:

* A exact sequence of commands that you have executed starting from the point where you created a new cargo project

[2021-07-22 13:06] danbugs commented on #2833
I'm sorry — would you prefer I close this issue? Let me know!

I've really just followed exactly what is described on the [Getting Started](https://diesel.rs/guides/getting-started) guide. Regardless, I apologize — I definitely could have been clearer.

Here are the exact sequence of commands I followed:
![img](https://i.imgur.com/FiYLMR4.png)

I am using PowerShell.

I've attempted re-starting fr

[2021-07-22 13:28] danbugs commented on #2833
Nvm — Fixed the issue! I'm not sure why but it looks like using:
[code]

... to create the `.env` file was the issue. After deleting it and manually re-creating it on VSCode, the problem fixed itself! Just to be sure, I attempted going through the [Getting Started](https://diesel.rs/guides/getting-started) guide one more time but creating the `.env` file manually this time around and it all worked

[2021-07-22 13:28] #2833 closed

[2021-07-22 13:52] weiznich commented on #2833
Thanks for coming back to report this :+1:

[2021-07-22 20:07] msdrigg opened #2834 "Compilation error with const-generic in custom sql type"
## Setup

### Versions

- **Rust:** 1.53.0
- **Diesel:** 1.4.7
- **Database:** Postgres
- **Operating System** Ubuntu x86_64

### Feature Flags

- **diesel:** [ "postgres" ]

## Problem Description
Compilation error occurs when trying to build custom sql type with a const-generic.

### What are you trying to accomplish?
Using diesel to derive a rust generic sized array stored in postgres backed by

[2021-07-22 20:10] msdrigg commented on #2834
Followup: I may be able to take a look at this issue myself, but I don't have much experience with the diesel codebase. Where should I start?

[2021-07-23 04:39] msdrigg commented on #2834
@weiznich Is there anything blocking us from updating rust-toolchain to 1.53?

I have been working on a pr for this issue, but rust-toolchain being at 1.48 is blocking.

[2021-07-23 05:20] msdrigg commented on #2834
Well actually I don't think it's truly blocking because the const_param in the syn macro compiles fine, but it will block any testing on stable.

[2021-07-23 07:20] weiznich commented on #2834
First of all Thanks for working on this :+1:

Let me try to answer at least a few of your questions quickly:

Basically the rust version set in `rust-toolchain` is the current minimal supported version. We use that to verify everything builds with that version. We normally bump this version if we need to use a new rust feature and it would otherwise be hard/impossible to implement some code. Updat

[2021-07-24 06:54] hi-rustin commented on #2322
This results in the following error: [08006] An I/O error occurred while sending to the backend.

[2021-07-26 01:16] LLFourn commented on #2322
I was stopping the server after a connection was established and then try and make a query which is easy to do. Doing it during a query might also yield a different error code.

[2021-07-26 15:58] NeilJ12 commented on #550
did you find a solution for this problem, I'm facing a same issue. I try to do select from ( select request )

[2021-07-27 11:35] weiznich commented on #550
@NeilJ12 Our issue tracker is a place to track issues for project contributors. That's not the place to ask support questions. Please use the forum or the gitter channel for such questions. This is especially true for old issues like this one.

[2021-07-30 22:29] Pyzyryab commented on #2793
Why doesn't anyone give him some credit? It's a nice solution!

[2021-07-31 06:56] weiznich commented on #2793
@Pyzyryab Feel free to submit a PR implementing this strategy + adding some tests to show that it works via tests. Otherwise our issue tracker is for our contributors to track bugs and regressions. It's not a place for general discussion.

[2021-08-03 01:00] halldong commented on #2818
to leave a mesg: the reason here is because of a special character within my password that should be escaped.

[2021-08-03 15:24] aggalex opened #2840 "Caching fails because of invalid RefCell borrow"
## Setup

### Versions

- **Rust:** 1.56.0-nightly (docker)
- **Diesel:** 1.4.7
- **Database:** Postgres
- **Operating System** Debian (docker)

## Problem Description

I'm using diesel with Rocket. After some time of caching, diesel seems to try and borrow stuff from a RefCell that is already borrowed, and that makes threads panic:

    Thread '<unnamed>' panicked at 'already mutably borrowed: Bo

[2021-08-03 15:37] weiznich commented on #2840
As the issue is currently written this is not actionable at all. Please include at least the following information:
* The code that causes the crash
* Clarify the exact diesel version you used. You mentioned 1.4.7 in the issue template, while the panic message indicates 1.4.6
* Check if that issue is reproducible at rusts stable release channel, otherwise this is a nightly regression and should be

[2021-08-04 12:32] weiznich commented on #2840
So I've done a bit of research how this could happen:

That's the location](https://github.com/diesel-rs/diesel/blob/bcaec2752266351aa3d341d2428e1f4752e6ca2e/diesel/src/connection/statement_cache.rs#L126) the panic message mentions.
Unfortunately the OP did not include an Backtrace, but there is only a single location inside of `PgConnection` where this is called from: [PgConnection::prepare_query

[2021-08-04 12:32] #2840 closed

[2021-08-04 21:14] mleonhard commented on #1549
Here is a struct for creating a Postgres database per test:

[code]

[code]

I use it like this:

[code]

Run like this:
[code]

[2021-08-07 07:57] becherling commented on #956
Bump ♤♡♢♧

[2021-08-07 08:02] weiznich commented on #956
@becherling Feel free to submit a implementation proposal in our discussion forum and if that is accepted a PR implementing this feature. Otherwise this is something I personally won't spend time to work on in the near future.

[2021-08-09 02:15] crackfan opened #2845 "Segmentation fault"
docker alpine rust
/app/diesel_demo # cargo -V
cargo 1.54.0 (5ae8d74b3 2021-06-22)
/app/diesel_demo # rustc -V
rustc 1.54.0 (a178d0322 2021-07-26)

/app/diesel_demo # diesel setup
Segmentation fault
/app/diesel_demo # diesel migration generate create_posts
Creating migrations/2021-08-07-020132_create_posts/up.sql
Creating migrations/2021-08-07-020132_create_posts/down.sql

/app/diesel_demo # diese

[2021-08-09 03:48] tim-harding commented on #2519
@weiznich Is there information that would help to diagnose this that I could provide? My error is a bit different, but the causes might be similar. From the looks of it the linker is having trouble with `libpq.lib`, even though I have both the `bin` and `lib` folders on my path as the documentation suggests. I also tried the same using a Postgres install from Vcpkg with no luck. This is with the l

[2021-08-09 07:46] weiznich commented on #2845
@crackfan Thanks for filling this issue here. Filling out the issue template is required, otherwise we miss important information. Please add the the necessary information, otherwise this issue will likely be closed as cannot reproduce.

[2021-08-09 07:47] weiznich commented on #2519
@tim-harding Glad you figured it out.

That written: Our issue tracker is no support forum. We do not answer questions here, so do not post such comments. Use the discussion forum or the gitter channel to ask questions

[2021-08-12 09:15] grubxy opened #2850 "uuid load error"
## Setup

### Versions

- **Rust:rustc 1.55.0-nightly**
- **Diesel:1.4.7**
- **Database:postgresql**
- **Ubuntu20.04**

### Feature Flags
[code]
## Problem Description

[code]

schema.rs:
[code]

when insert company,it's ok; but when load the uuid, it's panic.

[code]
[code]

### What are you trying to accomplish?
I want to get the uuid.

### What is the expected output?
load the uuid ok

### What

[2021-08-12 09:28] weiznich commented on #2850
Please provide the complete code including the insert statement that is required to reproduce this, otherwise this is not actionable for anyone. At least the following information are required:
* A minimal standalone project showing this issue. (Something where I can just run `cargo run` and observe the crash)
* The corresponding database schema
* The confirmation that you can reproduce this on a

[2021-08-12 12:37] #2834 closed

[2021-08-13 02:33] grubxy commented on #2850
Hi @weiznich , the issue can be reproduced in my env, so I checkout all. I add a simple repo : https://github.com/grubxy/test_diesel.git
with complete code and just depend on Uuid.

[2021-08-13 09:13] weiznich commented on #2850
So I had a look at you repo and I think I found the issue: Your `schema.rs` does not match your actual database schema.

schema.rs:
[code]

Database schema
[code]

Note that the database schema declares the field as `VARCHAR`, while your `schema.rs` declares the field as `Uuid`. This is an error on your side. You should use the diesel cli tool to generate the `schema.rs` file based on your databas

[2021-08-13 09:13] #2850 closed

[2021-08-13 13:26] weiznich commented on #2845
@crackfan I've another short look at this. It seems like this is triggered by [this](https://github.com/diesel-rs/diesel/blob/bcaec2752266351aa3d341d2428e1f4752e6ca2e/diesel/src/mysql/connection/raw.rs#L201-L214) function, which only calls a `libmysqlclient` function internally. This indicates that the issue is likely not in diesel itself, but in your version of `libmysqlient`. Please provide furt

[2021-08-14 00:41] grubxy commented on #2850
thanks

[2021-08-15 23:10] erikh opened #2854 "SQLite primary key columns are Option<i32> for some reason unless explicitly expressed non-null"
## Setup

### Versions

- **Rust: 1.54.0**
- **Diesel: 1.4.7**
- **Database: SQLite 3.34.1**
- **Operating System: Linux 5.x**

### Feature Flags

- **diesel: sqlite**

## Problem Description

SQLite does something different with integer primary keys that I'm not fully understanding (log below) but I also notice that if you don't specify the column as not null for primary keys, that it sets the se

[2021-08-16 07:28] weiznich commented on #2854
Duplicate of https://github.com/diesel-rs/diesel/issues/1984

[2021-08-16 07:28] #2854 closed

[2021-08-16 13:54] SephVelut opened #2855 "queryable macro not found"
[code]

`error: cannot find derive macro 'Queryable' in this scope`

[code]
`unresolved import 'diesel::deserialize'`

`rust version 1.56 nightly`
`diesel 0.15.2`

[2021-08-16 13:58] weiznich commented on #2855
Our issue tracker is not a support forum but a tool for contributors to track bugs and issues. Additionally the issue template is mandatory.

Closed as this issue does not follow the template + I really sure that this is not a bug in diesel (It's working on all systems I have access to).

[2021-08-16 13:58] #2855 closed

[2021-08-17 02:37] hi-rustin commented on #2322
@weiznich I reproduced the issue locally, but the error does not have ResultField::SqlState, maybe we need to match the message to add the error variant?

[2021-08-17 04:25] jblachly commented on #1438
Would also be nice in the guide (https://diesel.rs/guides/all-about-updates.html), example code for which puts everything (schema def macro and struct) together in `lib.rs` so that it is in scope; others following along since the getting started guide likely have the schema def macros in a separate file, which, if not brought in scope, leads to compilation failure as above.

Liking Diesel so far,

[2021-08-17 07:12] weiznich commented on #1438
@jblachly We are happy to receive PR's that improve the guides. See [this](https://github.com/sgrif/diesel.rs-website/) repository for the website source code.

[2021-08-17 07:14] weiznich commented on #2322
@hi-rustin Matching the error message is a possible solution, but only as long as the error message remains stable over various postgres versions.

[2021-08-17 07:59] hi-rustin commented on #2322
I'll check tomorrow. Thanks for your reply!

[2021-08-17 13:34] jblachly commented on #1438
_et voila_

[2021-08-18 00:15] #2845 closed

[2021-08-18 01:57] hi-rustin commented on #2322
Tested 13.4, 12.8, 11.13, 10.18, 9.6, all with the same error.

[2021-08-18 13:26] #2322 closed

[2021-08-18 17:45] bigtree9307 commented on #2786
@weiznich I have met the same problem when I used mysql:8.0 docker image，but it works correctly when I used mysql:5.7 docker image。

[2021-08-18 18:46] weiznich commented on #2786
@bigtree9307 Please provide a exact version. 8.0 is quite a large version range.

[2021-08-19 02:41] bigtree9307 commented on #2786
@weiznich I think it is 8.0.26. The docker image is here https://hub.docker.com/_/mysql?tab=description&page=1&ordering=last_updated

[2021-08-19 08:55] weiznich commented on #2786
@bigtree9307 Can you additionally provide the following information:
* Rust version used to compile diesel-cli
* Exact version of diesel-cli
* A migration to reproduce the problem

[2021-08-19 16:45] bigtree9307 commented on #2786
@weiznich
Rust：1.54.0
diesel：1.4.4
diesel-cli：1.4.1
You can just follow the document with mysql 5.7 and 8.0: http://diesel.rs/guides/getting-started

[2021-08-19 22:56] Bajix commented on #399
Upon further consideration, this can be done with crossbeam by queueing connection oneshot receivers and have drop guards that cleanup up connections if necessary and that then either steal the next receiver or to queue for later immediate use. Atomic usize queue size counters can be used to know when to trigger tokio::task::spawns to work manage cleanup, and we can use runtime handles so that spa

[2021-08-24 00:28] jblachly commented on #2048
This was addressed in https://github.com/diesel-rs/diesel/pull/2462

(However, the new version of diesel_cli with these changes is not yet available on crates.io)

[2021-08-24 07:21] Fuuzetsu commented on #1517
Could we re-open? This still seems very desirable.

Something like in https://stackoverflow.com/questions/18797608/update-multiple-rows-in-same-query-using-postgresql

The issue with the solution like https://github.com/diesel-rs/diesel/issues/1517#issuecomment-818000075 is that it _only_ works if you want to perform a very simple update to some field(s). It doesn't work if you have say 20k record

[2021-08-24 10:02] jiangxiaoqiang commented on #2537
I also face the same problem and my `main.rs`:

Rust: rustc 1.54.0-nightly
Diesel: 1.4.4
Database: Postgres
Operating System macOS Big Sur

[code]

and this is the `schema.rs`:

[code]

[2021-08-24 18:03] weiznich commented on #1517
@Fuuzetsu Commenting on old issues is not the right way to request new features. Please open a new [thread here](https://github.com/diesel-rs/diesel/discussions/categories/ideas) and address at least the following points:
* What should exactly be added to diesel?
* How would the corresponding public API look?
* Which backends support this SQL variant.
* Is this supported for all versions of a back

[2021-08-24 18:05] weiznich commented on #2537
@jiangxiaoqiang Please stop adding comments to old issues, especially if your question is already answered. As written: Read the getting started guide. It has a complete example, so maybe use that as basis?

[2021-08-24 23:37] Fuuzetsu commented on #1517
Thanks, will do.

[2021-08-25 00:23] Fuuzetsu commented on #1517
Continued at https://github.com/diesel-rs/diesel/discussions/2879

[2021-08-29 02:46] enokson commented on #2348
I just had the same issue. The issue was also resolved by @gaku-sei 's solution.

[2021-08-29 07:12] An7One commented on #2348
Unfortunately, none works for mine.

[code]

[2021-08-29 16:30] An7One commented on #2348
Other things that were helpful to me:
1. to match order [src](https://github.com/diesel-rs/diesel/issues/2011#issuecomment-472375646)
2. to deserialize nullable type [src](https://github.com/diesel-rs/diesel/issues/330#issuecomment-219279105):

[2021-08-30 07:08] halldong opened #2882 "keeps warning `cannot find macro` error while having `#[macro_use] extern crate diesel;` in src/lib.rs"
environment:
[code]

code preview ([full link](https://github.com/halldong/minstl/tree/demo/src))

[lib.rs](https://github.com/halldong/minstl/blob/2b23e2763e9089276b5664698619be2be622efce/src/lib.rs)
[code]

[models.rs](
https://github.com/halldong/minstl/blob/2b23e2763e9089276b5664698619be2be622efce/src/modelstables.rs#L1-L17)
[code]

[schema.rs](https://github.com/halldong/minstl/blob/2b23e2763

[2021-08-30 16:31] #2882 closed

[2021-09-01 02:35] An7One commented on #860
Any update, please?

[2021-09-01 07:19] weiznich commented on #860
@An7One If you don't have arguments to add, which are not already listed above please don't comment on old issues asking for updates. If there the issue has no update for some time there is no update.

[2021-09-02 10:11] blackghost1987 commented on #1868
Thanks, this was bugging me for a while! This silly default behavior of MySQL can be really surprising when changing Diesel backends.

I think the relevant code is the last parameter of the `ffi::mysql_real_connect` call in `RawConnection::connect()`.
The big problem here is that Client Flags can't be encoded in the URL as it seems 😞 So we either put it in as a default, or we have to modify the pu

[2021-09-02 14:06] weiznich commented on #1868
@blackghost1987 would be fine with setting this flag by default. Feel free to open a PR for this against the master branch.

[2021-09-11 13:43] toxeus commented on #1918
The workaround described above isn't required on latest master since https://github.com/diesel-rs/diesel/pull/2820 has been merged.

[2021-09-12 20:38] solidiquis opened #2897 "Diesel does not compile on Mac M1"
## Setup

`cargo.tml`
[code]

`main.rs`
[code]

### Versions

- **Rust:** 1.54
- **Diesel:** 1.4.7
- **Database:** Postgres 13.4
- **Operating System** MacOS Big Sur M1

### Feature Flags

- **diesel:**

## Problem Description

Diesel is failing to compile because of the following warning:
` ld: warning: ignoring file /usr/local/opt/postgresql/lib/libpq.dylib, building for macOS-arm64 but attempti

[2021-09-12 22:11] saresend commented on #1882
Is this still available? I'd be interested to give it a go

[2021-09-13 07:07] weiznich commented on #2897
Duplicate of https://github.com/diesel-rs/diesel/issues/2605 + That's a linker issue which should not be filled in the issue tracker at all as this is an issue with our specific enviroment

[2021-09-13 07:07] #2897 closed

[2021-09-13 07:08] weiznich commented on #1882
@saresend This is still an open issue, so feel free to work on this. Be warned that this requires likely a complex large change to diesel itself.

[2021-09-13 07:09] #2048 closed

[2021-09-14 03:38] saresend commented on #1882
Yeah that's fine, just want to double check you'd be willing to help answer questions / support this work

[2021-09-14 11:40] toxeus opened #2898 "regression in Insertable implementation"
## Setup

### Versions

- **Rust:** 1.55.0
- **Diesel:** master
- **Database:** sqlite
- **Operating System:** Linux

### Feature Flags

- **diesel:** sqlite

## Problem Description

### What are you trying to accomplish?

Compile code successfully as it used to be the case before #2827 was merged.

### What is the expected output?

No compilation errors as it used to be the case before #2827 was

[2021-09-15 23:28] NikosEfthias opened #2899 "Failed with: schema does not exist"
## Setup
`cargo create diesel_demo`

### Versions

- **Rust:** `1.55`
- **Diesel:** `1.4.1`
- **Database:** `postgresql`
- **Operating System** `arch linux`

### Feature Flags

- **diesel:**  `postgres`

## Problem Description
According to the getting started guide running the following sequence should work

- `diesel setup`
- `diesel migration generate users`
- fill up and down SQL files
- `diese

[2021-09-16 06:55] weiznich commented on #2899
The examples in the getting started guide are tested by our CI, so it's really unlikely that the just not work. It's likely a user error on your side. That written given the "details" you listed in your issue it's impossible to tell what went wrong as there is essentially no information in this bug report.

Closed as cannot reproduce.

As an additional note: Our issue tracker is no support forum,

[2021-09-16 06:55] #2899 closed

[2021-09-18 01:35] w4 commented on #364
Following on from @MightyPork's code, you can make the backend generic for all database types supporting the `Binary` type:

[code]

[2021-09-18 05:15] unitsoftrover opened #2903 "Compile diesel_cli error. (exit code: 0xc0000005, STATUS_ACCESS_VIOLATION)"
## Setup

### Versions

- **Rust:**1.55
- **Diesel:** master
- **Database:** sqlite
- **Operating System**win10

### Feature Flags

- **diesel_cli:**default = ["sqlite"]

## Problem Description
compile diesel/diesel ok.  diesel/diesel_cli compile fail.
error: could not compile `diesel`

Caused by:
  process didn't exit successfully: `rustc --crate-name diesel --edition=2018 diesel\src\lib.rs --err

[2021-09-18 06:31] An7One commented on #2153
Here are mine

Rust: `rustc 1.55.0 (c8dfcfe04 2021-09-06)`
Diesel: `1.4.7`

[code]

[2021-09-19 10:11] weiznich commented on #2903
According to the error message this seems to be a duplicate of #2167 and #2132. Both are linker related issues which indicate that some dependency is missing on your system. Without knowing much more details about your system its impossible to tell what exactly is missing.
Closed as this is an issue with your environment and not an diesel issue.

[2021-09-19 10:11] #2903 closed

[2021-09-20 07:48] weiznich commented on #2753
This is now addressed with the 1.4.8 release.

[2021-09-21 01:54] Fuuzetsu commented on #1514
I had a somewhat related issue. I wanted to use the `DATE` postgres function on a field that was `Timestamptz`. diesel is only happy with `Timestamp`. For anyone stumbling upon this, here's what I did:
[code]

Now you should be able to use your `datetz` function instead of `date` and get the right types out.

[2021-09-21 07:29] weiznich commented on #1514
@Fuuzetsu That's not really this issue. It's the same underlying problem, but it can be fixed much more easily. Instead of just accepting a `Timestamp` type [here](https://github.com/diesel-rs/diesel/blob/3f3ce57ca1a89274ecf915b70826234c45bd261e/diesel/src/expression/functions/date_and_time.rs#L46) that could be easily changed to accept an generic type that implements a trait (let's call it `Times

[2021-09-21 23:31] erayerdin commented on #2681
I am having the issue with Bash on Ubuntu 21.04. `diesel migration run` complains with the same message. Tried restarting the terminal and the system, but the problem persists. I use it with Rocket.

[2021-09-23 04:33] s3pt3mb3r opened #2908 "Compile error when compiling to `x86_64-unknown-linux-musl`"
## Setup

### Versions

- **Rust:** rustup 1.24.3,   cargo 1.54.0
- **Diesel:** 1.4.4
- **Database:** Mysql
- **Operating System** macOS 10.15.7

### Feature Flags

- **diesel:** mysql

## Problem Description
When I tried to cross compile the code which includes `MysqlConnection::establish(&database_url)` into x86_64-unknown-inux-musl, the compile error occurred.

### What are you trying to accomp

[2021-09-23 07:44] weiznich commented on #2908
As any linker error this is related to your environment, not to diesel. You need to provide a compatible version of libmysqlclient compiled for the correct target.
Closed as this is a duplicate of a lot of already existing issues. If you have future questions about this please use any other support channel. Our issue tracker is not the right place to ask this kind of questions.

[2021-09-23 07:44] #2908 closed

[2021-09-27 12:05] Sosthene-Guedon commented on #2085
Similarly to @rafaelGuerreiro I use a temporary solution using multiple migration folders, one for the schema migration and one for the seeds. To make it usable when developing against a local database I find it useful to use a makefile:

[code]

To make it revert properly, I set the date for the seed files to be 3000 years in the future, so that they're always considered "the last" when a rollbac

[2021-09-28 11:00] gorbit99 opened #2912 "Diesel doesn't see sqlite generated columns"
## Setup
Setup a project with sqlite using the following up.sql:
[code]

### Versions

- **Rust:** 1.56.0 nightly
- **Diesel:** 1.4.7
- **Database:** Sqlite
- **Operating System** Linux

### Feature Flags

- **diesel:** sqlite

## Problem Description
Sqlite doesn't include generated columns in pragma table_info(table); only in pragma table_xinfo(table);. Therefore they do not show up in the schema

[2021-09-28 15:29] ralpha commented on #2202
It looks like this should have been fixed in #2213 but I'm still having this problem with `diesel_cli` v1.4.1.
I'm using Postgres 11.13 and 12.8 (same version of `diesel_cli`)

In PG 11.13 it sorts:
[code]
In PG 12.8 it sorts:
[code]
Both are tested on Linux (same machine, just different databases)

Thus it seems to ignore the `_` characters in some way.
Should I open a new issue for this? Or shou

[2021-09-28 15:37] weiznich commented on #2202
@ralpha This is expected because this commit is only available in the master branch, not in any release branch. Its scheduled to be released with the 2.0 release.

[2021-09-28 17:13] ralpha commented on #2202
Oh okay, I see. It is not a major issue so I can live with it.
It would be nice to see v2.0 release, but I guess patience is a good thing :smile:

[2021-09-28 18:24] Ten0 commented on #2202
I suspect if you were to
[code]
you'd get a version that has this fixed while still being compatible with diesel v1.4.

[2021-09-29 18:47] weiznich commented on #2912
I read a bit more about this. The [documentation] of `table_xinfo` states that it will also show hidden columns. In fact there is an additional column hidden there that contains the hidden state. Experimentation has shown that this value is set to 0 for normal columns and to 2 for generated columns. Maybe 1 means that it is an ordinary hidden column, but I was not able to check this yet.
Additiona

[2021-09-30 22:27] lukesneeringer commented on #1661
I have the exact same use case. I worked around this by creating the table, immediately dropping the primary key, and adding a new composite primary key. It seemed to trick Diesel. I expect I would have problems if I use the `find` function (not very far along yet), but I can plan not to do this.

[2021-10-01 00:16] gorbit99 commented on #2912
One thing, table_xinfo was added in 3.26.0, as such it's very close to the same issue [returning](https://github.com/diesel-rs/diesel/discussions/2684#discussioncomment-556697) is on.
Hidden columns on the other hand appeared in 3.4.1 (around 11 years of difference).

There is also the option of using the .schema, or the equivalent sqlite_master table (latter with a query), giving the following ou

[2021-10-01 07:30] weiznich commented on #2912
That's a good point about version compatibility. I would prefer not to have parsing code for sql statements inside of diesel. As generated columns where added with 3.31 I would just say that we check the sqlite version and if it's 3.26 or newer we use `table_xinfo()` otherwise we fall back to `table_info()`. We don't need to worry about other hidden columns here as they are a feature for virtual t

[2021-10-01 15:26] Mingun commented on #2912
If I understands correctly, this issue assumes changes in the diesel_cli, which is compiled against some known version of the sqlite. So no need to check for availible features because you just can require the version that supports a necessary API.

[2021-10-02 04:44] ypli0629 opened #2915 "Diesel only supports tables with primary keys. Table posts has no primary key"
## Setup

### Versions

- **Rust:** 1.54.0
- **Diesel:** 1.4.4
- **Database:** mysql@8.0.26
- **Operating System** OSX11.6

### Feature Flags

- **diesel:** mysql

## Problem Description
I just follow the guides on the office website,But when I run `diesel migration run`, the following error occurred
![image](https://user-images.githubusercontent.com/22133189/135703931-ecbed3fa-4fb3-4b69-982c-5c9f

[2021-10-02 06:15] weiznich commented on #2915
Duplicate of #2786. This seems to bee a breaking change in mysqls information schema implementation.

[2021-10-02 06:15] #2915 closed

[2021-10-04 02:08] gorbit99 commented on #2912
@weiznich For now I just ignored the version check and went ahead and implemented the changes you mentioned, though they weren't complete so here's how I got it to work:

In src/infer_schema_internals/sqlite.rs changed the pragma_table_info definition to include the hidden column:
[code]

Also added it as an unused variable to the FullTableInfo struct in the same file:
[code]

Had to change TABLE_

[2021-10-04 07:45] weiznich commented on #2912
Thanks for the great summary :+1:
It would be great if you can open a WIP PR containing this changes. This would make it much easier to comment on certain parts of your solution.
I would change the `hidden` column to `Integer` as it can contain more values than only 0 and 1.

As for now I would like to keep this really simple. Rejecting generated columns without explicit type should be fine for th

[2021-10-04 08:25] gorbit99 commented on #2912
Btw, I made a post on the sqlite forum about it, maybe there's a good solution, but we'll see.

[2021-10-04 08:27] weiznich commented on #2912
:+1:
Can you link the corresponding post here for future reference?

[2021-10-04 08:28] gorbit99 commented on #2912
https://sqlite.org/forum/forumpost/8ebb993012

[2021-10-08 06:36] initprism opened #2918 "how to select array slice"
SELECT array_column[x:y] FROM table

I've tried everything possible, but I can't solve it.

[2021-10-08 22:43] Bajix commented on #399
This is true of using Diesel within *any* async context; until an io uring non-blocking solution is viable, the only reasonable way of using Diesel is with `tokio::task::spawn_blocking`. To the extent that async can improve this before io uring is to make it so that we can get a connection that we then pass into `tokio::task::spawn_blocking`, and the performance diff is only that of having a parke

[2021-10-09 14:44] weiznich commented on #399
@Sytten Can you provide some numbers for that claim? Otherwise this is just guessing.

[2021-10-10 03:20] Bajix commented on #399
Actix Web uses a thread-per-core single-threaded tokio runtime, which disables work-stealing, so when you block the runtime it's worse than in a standard multi-threaded tokio runtime. The thing is though, this isn't a common use case, it's an easily avoidable anti-pattern. Diesel should only be used in conjunction with `tokio::task::spawn_blocking`, `tokio::task::block_in_place`, `std::thread::spa

[2021-10-11 02:33] ibraheemdev commented on #399
I think @weiznich's point is whether making Diesel async from the ground up will make it any more performant than running queries on a blocking thread-pool.

[2021-10-11 18:23] weiznich commented on #399
@Sytten Thats because of this statement:

In the context of this thread and your previous postings here I interpret this statement as request to implement it because you need it for your use case. If that's not what you wanted to say then I misread that statement.

Python and rust are quite different, especially in terms of performance characteristics. So something that is required in python to ac

[2021-10-11 18:33] lnicola commented on #399
I think one of the more constructive things that can be done here is to implement a "proper" benchmark of `diesel` with `blocking` vs. e.g. `tokio-postgres`. I disagree that those in https://github.com/diesel-rs/diesel/issues/399#issuecomment-700003333 are relevant because they make one future and `block_on` it, leading to a no real concurrency. A better one could be comparing `actix-diesel` and `

[2021-10-12 18:22] Ten0 opened #2922 "Box<dyn BoxableExpression> can't be used in join on clauses"
This is due to the `Clone` bound here:
https://github.com/diesel-rs/diesel/blob/05cd29b9a17234312896dbea4c28829d138f1785/diesel/src/query_source/joins.rs#L88

with `BoxableExpression` not providing Clone.

It also appears this `Clone` requirement will have stuff possibly get cloned around if the join clause happens to contain something that's not cheap to clone (e.g. a `Vec`), which is another dow

[2021-10-13 18:02] 1nF0rmed commented on #1874
Hey, @weiznich is this something we are still looking at?

[2021-10-13 20:43] lsunsi commented on #2446
I agree with @Diggsey and the main reason has to do with having an explicit intention. Having a method to make explicit the intention of wanting to get one and only one row from an update makes for clearer and stricter API while still supporting all use cases. Then .first, .get_result, .get_results all have different specific use cases.

[2021-10-16 19:58] pietroalbini commented on #2203
crates.io is hitting this problem too as we need to add our first custom type, and the fix @weiznich committed in https://github.com/diesel-rs/diesel/commit/9b8b724a3a486d98089ccd1c8ecaadb70da7eb92 is only present in the master branch (targeting 2.0). Is there any chance the fix could be backported to 1.4.x?

Also, the fix does not seem to cover all cases, as the *order* of the search path is not

[2021-10-16 19:58] pietroalbini commented on #2203
To give additional context on why crates.io uses multiple schemas with overlapping types (only in our test suite), most of our tests use a single connection with `begin_test_transaction()` on the `public` schema, as that's faster than creating a new schema and running migrations on it for each of the hundreds of tests. Still, some of the tests can't use `begin_test_transaction()` for a variety of

[2021-10-17 12:22] nanoqsh commented on #2379
I apologize for this possibly inappropriate question, but why does Diesel need dynamic linking at all? (At least in the case of Postgres)
I used a [rust-postgres](https://github.com/sfackler/rust-postgres) library and I wrote SQL queries manually and it works fine even though I don't have Postgres installed on my system. I use Diesel to get rid of manual queries. But I don't quite understand why I

[2021-10-20 07:49] hariria opened #2927 "[r2d2] Scheduled thread pool instant::wasm::Instant type error + WASM compilation with Wrangler (Cloudflare Workers)"
## Setup

[code]

### Versions

- **Rust: rustc 1.55.0**
- **Diesel: 1.4.4**
- **Postgres: Not relevant**
- **Macbook M1 chip, running Big Sur**

## Problem Description

When I add `r2d2` as a feature for my `diesel` dependency in my cargo.toml, it's unable to compile my code to a wasm output. The error states that the `instant::wasm::Instant` struct was expected, but the `Instant` struct was foun

[2021-10-20 07:55] weiznich commented on #2927
Can you explain why this is a diesel issue and not an issue in `scheduled-thread-pool` as the error occurred there?

[2021-10-20 08:00] hariria commented on #2927
diesel's r2d2 package uses scheduled-thread-pool so anyone who uses r2d2 will run into this issue. Therefore, it is both a diesel issue and a scheduled-thread-pool issue, wouldn't you agree?

[2021-10-20 12:12] #2927 closed, assigned to nobody

[2021-10-20 21:35] pietroalbini commented on #2203
Glad to see it was fixed! Thanks for the really quick turnaround.

I think we're going to use the workaround for now (an array of `int`s instead of `(int, int, int)`), so crates.io won't need a backport. If a backport were to happen I agree it'd be better to only backport the fixed query and not the caching code.

Definitely! We're only setting the search path at the start of the connection, or be